<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.fault.dao.CodeTypeMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.fault.domain.CodeType" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fct.id  ,fct.name ,fct.dc_rule_type_id ,fct.type_code ,fct.fault_number ,fct.len_code ,fct.remark ,fct.create_time ,fct.create_by ,fct.update_time ,fct.update_by
    </sql>
    <sql id="moreColumns">
    fct.id  ,fct.name ,fct.dc_rule_type_id ,fct.type_code ,fct.fault_number ,fct.len_code ,fct.remark ,fct.create_time ,fct.create_by ,fct.update_time ,fct.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.fault.domain.CodeType"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        fault_code_type fct
        where
            fct.id=#{id}
    </select>

    <!-- 根据名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.fault.domain.CodeType"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        fault_code_type fct
        where
            fct.delete_status = 0
            and fct.name=#{name}
    </select>

    <!-- 根据code查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.fault.domain.CodeType"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        fault_code_type fct
        where
            fct.delete_status = 0
            and fct.type_code=upper(#{code})
    </select>

    <!-- 根据lenCode查询 -->
    <select id="findByLenCode" resultType="com.bitnei.cloud.fault.domain.CodeType"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        fault_code_type fct
        where
            fct.delete_status = 0
            and fct.len_code=#{lenCode}
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="com.bitnei.cloud.fault.domain.CodeType">
        insert into
        fault_code_type (id,name,dc_rule_type_id,type_code,fault_number,len_code,remark,delete_status,create_time,create_by)
        values
        (#{id},#{name},#{dcRuleTypeId},upper(#{typeCode}),#{faultNumber},#{lenCode},#{remark}, 0,#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="com.bitnei.cloud.fault.domain.CodeType">
        update fault_code_type set
        name=#{name},dc_rule_type_id=#{dcRuleTypeId},type_code=upper(#{typeCode}),fault_number=#{faultNumber},len_code=#{lenCode},remark=#{remark},update_time=#{updateTime},update_by=#{updateBy}
        where
            id = #{id}
    </update>

    <!-- 删除 -->
    <update id="delete"  parameterType="java.lang.String">
        update fault_code_type set delete_status = 1
        where
            id = #{id}
    </update>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        fault_code_type fct
        <where>
            fct.delete_status = 0
            <if test="name != null and name !=''">
                and fct.name like "%"#{name}"%"
            </if>
        </where>
        order by fct.create_time desc
    </select>

    <select id="getAllFaultTypeCode" resultType="java.lang.String">
        select GROUP_CONCAT(CONCAT_WS(',',len_code, type_code)) as dataItems from fault_code_type
    </select>
</mapper>
