<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.fault.dao.NotifierSettingMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.fault.domain.NotifierSetting" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fns.id  ,fns.fault_type ,fns.name ,fns.mobile ,fns.area_ids ,fns.area_names ,fns.relation_user_status ,fns.user_id ,fns.enabled_status ,fns.sync_vehicle_status ,fns.remark ,fns.create_by ,fns.create_time ,fns.update_by ,fns.update_time
    </sql>
    <sql id="moreColumns">
    fns.id  ,fns.fault_type ,fns.name ,fns.mobile ,fns.area_ids ,fns.area_names ,fns.relation_user_status ,fns.user_id ,fns.enabled_status ,fns.sync_vehicle_status ,fns.remark ,fns.create_by ,fns.create_time ,fns.update_by ,fns.update_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.fault.domain.NotifierSetting" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        fault_notifier_setting fns
        <where>
            fns.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        fault_notifier_setting (id,fault_type,name,mobile,area_ids,area_names,relation_user_status,user_id,enabled_status,sync_vehicle_status,remark,create_by,create_time)
        values
        (#{id},#{faultType},#{name},#{mobile},#{areaIds}, #{areaNames}, #{relationUserStatus},#{userId},#{enabledStatus},#{syncVehicleStatus},#{remark},#{createBy},#{createTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update fault_notifier_setting set
        id=id,fault_type=#{faultType},name=#{name},mobile=#{mobile},area_ids=#{areaIds},area_names=#{areaNames},relation_user_status=#{relationUserStatus},user_id=#{userId},enabled_status=#{enabledStatus},
        sync_vehicle_status = #{syncVehicleStatus}, remark=#{remark},update_by=#{updateBy},update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        fault_notifier_setting
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
          <include refid="moreColumns"/>
        from
        fault_notifier_setting fns
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="relationUserStatus != null">
                and fns.relation_user_status=#{relationUserStatus}
            </if>
            <if test="syncVehicleStatus != null">
                and fns.sync_vehicle_status = #{syncVehicleStatus}
            </if>
            <if test="enabledStatus != null">
                and fns.enabled_status=#{enabledStatus}
            </if>
            <if test="name != null and name !=''">
                and fns.name like "%"#{name}"%"
            </if>
            <if test="mobile != null and mobile !=''">
                and fns.mobile like "%"#{mobile}"%"
            </if>
            <if test="areaIds != areaIds and areaIds !=''">
                and fns.areaIds like "%"#{areaIds}"%"
            </if>
            <if test="ids != null">
                and fns.id in
                <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and fns.mobile in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by fns.create_time desc
    </select>

    <!-- 查询车辆负责人列表 -->
    <select id="notifiers" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        fault_notifier_setting fns, fault_notifier_vehicle_lk fnvl
        <where>
            fns.id = fnvl.notifier_id
            <if test="vehicleId != null and vehicleId !=''">
                and vehicle_id=#{vehicleId}
            </if>
            <if test="enabledStatus != null">
                and enabled_status = #{enabledStatus}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 查询车辆报警所需推送负责人列表 -->
    <select id="findForAlarm" resultType="string" parameterType="java.util.HashMap">
        select
        fns.user_id
        from
        fault_notifier_setting fns,
        fault_notifier_vehicle_lk fnvl,
        fault_notifier_rule_lk fnrl
        <where>
            fns.id = fnvl.notifier_id
            and fns.id = fnrl.notifier_id
            and fnvl.vehicle_id = #{vehicleId}
            and fns.enabled_status = 1
            and fns.fault_type like CONCAT('%',#{faultType},'%')
            and fnrl.rule_type = #{faultType}
            and fnrl.rule_id IN ( 'all', #{ruleId} )
        </where>
    </select>

    <!-- 查询车辆安全风险通知报警所需推送负责人用户列表 -->
    <select id="findForRisk" resultType="string" parameterType="java.util.HashMap">
        select
        fns.user_id
        from
        fault_notifier_setting fns,
        fault_notifier_vehicle_lk fnvl
        <where>
            fns.id = fnvl.notifier_id
            and fnvl.vehicle_id = #{vehicleId}
            and fns.enabled_status = 1
            and fns.fault_type like CONCAT('%',#{faultType},'%')
        </where>
    </select>

    <select id="getNotifierByUserIdAndVehicleId" resultType="com.bitnei.cloud.fault.domain.NotifierSetting" parameterType="java.util.HashMap">
        select <include refid="moreColumns"/> from
        fault_notifier_setting fns, fault_notifier_vehicle_lk fnvl
        <where>
            fns.id = fnvl.notifier_id and vehicle_id = #{vehicleId} and user_id = #{userId}
            and enabled_status = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据user_id查询 -->
    <select id="count" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
            count(*)
        from fault_notifier_setting fns
        <where>
            <if test="userId">
                and fns.user_id=#{userId}
            </if>
            <if test="skipId != null and skipId != ''">
                and fns.id != #{skipId}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
</mapper>
