<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.dc.dao.ForwardPlatformMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.dc.domain.ForwardPlatform" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fp.id  ,fp.name ,fp.static_forward_platform ,fp.forward_mode ,fp.host ,fp.port ,fp.username ,fp.password ,fp.rule_id ,fp.cdkey ,fp.priority ,fp.note ,fp.connect_status ,fp.is_valid ,fp.create_time ,fp.create_by ,fp.update_time ,fp.update_by, fp.sync_data_item
    </sql>
    <sql id="moreColumns">
    fp.id  ,fp.name ,fp.static_forward_platform ,fp.forward_mode ,fp.host ,fp.port ,fp.username ,fp.password ,fp.rule_id ,fp.cdkey ,fp.priority ,fp.note ,fp.connect_status ,fp.is_valid ,fp.create_time ,fp.create_by ,fp.update_time ,fp.update_by, fp.sync_data_item
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.dc.domain.ForwardPlatform"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_platform fp
        <where>
            fp.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据平台名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.dc.domain.ForwardPlatform"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_platform fp
        <where>
            fp.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>    

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        dc_forward_platform (id,name,static_forward_platform,forward_mode,host,port,username,password,rule_id,cdkey,priority,note,connect_status,is_valid,create_time,create_by)
        values
        (#{id},#{name},#{staticForwardPlatform},#{forwardMode},#{host},#{port},#{username},#{password},#{ruleId},#{cdkey},#{priority},#{note},#{connectStatus},#{isValid},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update dc_forward_platform set
        id=id,name=#{name},static_forward_platform=#{staticForwardPlatform},forward_mode=#{forwardMode},host=#{host},port=#{port},username=#{username},password=#{password},rule_id=#{ruleId},cdkey=#{cdkey},priority=#{priority},note=#{note},connect_status=#{connectStatus},is_valid=#{isValid},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        dc_forward_platform
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_platform fp
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                AND fp.name like "%"#{name}"%"
            </if>
            <if test="ruleId != null">
                AND fp.rule_id = #{ruleId}
            </if>
        </where>
        order by fp.create_time desc
    </select>

    <!-- 根据IP、端口查询 -->
    <select id="findByHostPortCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select COUNT(fp.id)
        from
        dc_forward_platform fp
        <where>
            fp.host = #{host}
            and fp.port = #{port}
            <if test="id != null">
                and fp.id != #{id}
            </if>
        </where>
    </select>

    <!-- 根据通讯协议计算转发平台数量 -->
    <select id="findByRuleIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(fp.id) FROM dc_forward_platform fp
        WHERE fp.rule_id = #{ruleId}
    </select>

    <!-- 修改平台是否同步数据项状态 -->
    <update id="updatePlatformSyncDataItem" parameterType="java.util.HashMap">
        update dc_forward_platform set sync_data_item = #{syncItem},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>
</mapper>
