<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.dc.dao.ForwardVehicleMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.dc.domain.ForwardVehicle" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        <if test="authSQL != null and '' != authSQL">
            and ${authSQL}
        </if>
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fv.id  ,fv.platform_id ,fv.confirm_status ,fv.confirm_time ,fv.confirm_by ,fv.push_status ,fv.push_time ,fv.forward_status ,fv.forward_first_time ,fv.error_message ,fv.create_time ,fv.create_by ,fv.vehicle_id ,fv.add_mode
    </sql>
    <sql id="moreColumns">
    fv.id  ,fv.platform_id ,fv.confirm_status ,fv.confirm_time ,fv.confirm_by ,fv.push_status ,fv.push_time ,fv.forward_status ,fv.forward_first_time ,fv.error_message ,fv.create_time ,fv.create_by ,fv.vehicle_id ,fv.add_mode
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.dc.domain.ForwardVehicle"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_vehicle fv
        <where>
            fv.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        dc_forward_vehicle (id,platform_id,confirm_status,confirm_time,confirm_by,push_status,push_time,forward_status,forward_first_time,error_message,create_time,create_by,vehicle_id)
        values
        (#{id},#{platformId},#{confirmStatus},#{confirmTime},#{confirmBy},#{pushStatus},#{pushTime},#{forwardStatus},#{forwardFirstTime},#{errorMessage},#{createTime},#{createBy},#{vehicleId})
    </insert>

    <insert id="insertBatchVeh">
        INSERT INTO
        dc_forward_vehicle (id,platform_id,confirm_status,confirm_time,confirm_by,push_status,push_time,forward_status,forward_first_time,error_message,create_time,create_by,vehicle_id, add_mode)
        VALUES
        <foreach collection ="list" item="vehModel" separator =",">
            (#{vehModel.id},#{vehModel.platformId},#{vehModel.confirmStatus},#{vehModel.confirmTime},#{vehModel.confirmBy},#{vehModel.pushStatus},#{vehModel.pushTime},#{vehModel.forwardStatus},#{vehModel.forwardFirstTime},#{vehModel.errorMessage},#{vehModel.createTime},#{vehModel.createBy},#{vehModel.vehicleId},#{vehModel.addMode})
        </foreach >
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update dc_forward_vehicle set
        id=id,platform_id=#{platformId},confirm_status=#{confirmStatus},confirm_time=#{confirmTime},confirm_by=#{confirmBy},push_status=#{pushStatus},push_time=#{pushTime},forward_status=#{forwardStatus},forward_first_time=#{forwardFirstTime},error_message=#{errorMessage},vehicle_id=#{vehicleId}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        dc_forward_vehicle
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_vehicle fv
        <where>
            <if test="platformId != null">
                fv.platform_id = #{platformId}
            </if>
            <if test="ids != null">
                and fv.id in
                <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="confirmStatus != null">
                and fv.confirm_status = #{confirmStatus}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>

    <!-- 待转发车辆列表分页查询 -->
    <select id="toBeForwardedVehPagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select fv.id, sv.license_plate, sv.vin, sv.inter_no, stmu.iccid, sv.stage, sv.stage_change_date,
        sv.veh_model_id, sv.manu_unit_id, sv.oper_unit_id, fp.static_forward_platform,fv.platform_id,
        fv.vehicle_id, fv.confirm_status, fv.push_status, fv.forward_status, fv.error_message, fp.rule_id
        ,svm.veh_model_name as veh_model_display, svm.veh_unit_id, 
        fp.name as platform_display,
        dcr.name as rule_display, fv.confirm_by
        from dc_forward_vehicle fv
        left join sys_vehicle sv on sv.id = fv.vehicle_id
        left join sys_veh_model svm on sv.veh_model_id = svm.id
        left join sys_term_model_unit stmu on stmu.id = sv.term_id
        left join sys_term_model stm on stm.id = stmu.sys_term_model_id
        left join dc_forward_platform fp on fp.id = fv.platform_id
        left join dc_rule dcr on dcr.id = fp.rule_id
        <where>
            fv.forward_status != '2'
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="platformId != null">
                and fv.platform_id = #{platformId}
            </if>
            <if test="licensePlate != null">
                and sv.license_plate like "%"#{licensePlate}"%"
            </if>
            <if test="vin != null">
                and sv.vin like "%"#{vin}"%"
            </if>
            <if test="stage != null">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="manuUnitId != null">
                and sv.manu_unit_id = #{manuUnitId}
            </if>
            <if test="operUnitId != null">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="staticForwardPlatform != null">
                and fp.static_forward_platform = #{staticForwardPlatform}
            </if>
            <if test="confirmStatus != null">
                and fv.confirm_status = #{confirmStatus}
            </if>
            <if test="pushStatus != null">
                and fv.push_status = #{pushStatus}
            </if>
            <if test="forwardStatus != null">
                and fv.forward_status = #{forwardStatus}
            </if>
            <if test="ruleId != null">
                and fp.rule_id = #{ruleId}
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by fv.create_time desc
    </select>

    <!-- 已转发车辆列表分页查询 -->
    <select id="forwardedVehPagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select fv.id, sv.license_plate, sv.vin, sv.stage, sv.veh_model_id, fp.rule_id, dcr.rule_type_id,
        sv.manu_unit_id, sv.oper_unit_id, fv.vehicle_id, fv.forward_first_time, vrs.online_status,
        fp.static_forward_platform, fv.push_status, fv.push_time, fv.error_message,fv.platform_id
        ,svm.veh_model_name as veh_model_display,
        fp.name as platform_display,
        dcr.name as rule_display,
        rt.name as rule_type_display
        from dc_forward_vehicle fv
        left join sys_vehicle sv on sv.id = fv.vehicle_id
        left join sys_veh_model svm on sv.veh_model_id = svm.id
        left join dc_forward_platform fp on fp.id = fv.platform_id
        left join dc_rule dcr on dcr.id = fp.rule_id
        left join sys_vehicle_real_status vrs on vrs.vehicle_id = fv.vehicle_id
        left join dc_rule_type rt on rt.id = dcr.rule_type_id
        <where>
            fv.forward_status = '2'
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="platformId != null">
                and fv.platform_id = #{platformId}
            </if>
            <if test="licensePlate != null">
                and sv.license_plate like "%"#{licensePlate}"%"
            </if>
            <if test="vin != null">
                and sv.vin like "%"#{vin}"%"
            </if>
            <if test="stage != null">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="manuUnitId != null">
                and sv.manu_unit_id = #{manuUnitId}
            </if>
            <if test="operUnitId != null">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="staticForwardPlatform != null">
                and fp.static_forward_platform = #{staticForwardPlatform}
            </if>
            <if test="onlineStatus != null">
                and vrs.online_status = #{onlineStatus}
            </if>
            <if test="pushStatus != null">
                and fv.push_status = #{pushStatus}
            </if>
            <if test="ruleId != null">
                and fp.rule_id = #{ruleId}
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by fv.create_time desc
    </select>

    <!-- 统计各个状态的车辆数量 -->
    <select id="countPlatformVehByStatus" resultType="com.bitnei.cloud.dc.domain.ForwardVehicle"  parameterType="java.util.HashMap">
        SELECT count(fv.id) as total,
        count(CASE fv.forward_status WHEN 2 THEN 1 END) AS forward_suc_veh,
        count(CASE fv.confirm_status WHEN 1 THEN 1 END ) AS unconfirmed_veh,
        count(CASE WHEN fv.confirm_status = 2 AND fv.forward_status != 2 THEN 1 END ) AS confirmed_veh,
        count(CASE fv.push_status WHEN 1 THEN 1 END ) AS to_push_veh,
        count(CASE fv.push_status WHEN 4 THEN 1 END ) AS push_fail_veh,
        count(CASE fv.forward_status WHEN 1 THEN 1 END ) AS to_forward_veh,
        count(CASE fv.forward_status WHEN 3 THEN 1 END ) AS forward_fail_veh
        from dc_forward_vehicle fv
        where fv.platform_id = #{platformId}
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>

    <!-- 车辆确认状态变更 -->
    <update id="changeConfirmStatus" parameterType="java.util.HashMap">
        update dc_forward_vehicle set
        confirm_status=#{confirmStatus},confirm_time=#{confirmTime},confirm_by=#{confirmBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 车辆推送状态变更 -->
    <update id="changePushStatus" parameterType="java.util.HashMap">
        update dc_forward_vehicle set
        push_status=#{pushStatus},push_time=#{pushTime},error_message=#{errorMessage}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 车辆转发状态变更 -->
    <update id="changeForwardStatus">
        update dc_forward_vehicle set
        forward_status=2 ,forward_first_time=#{forwardFirstTime}
        <where>
            platform_id = #{platformId} and vehicle_id=#{vehicleId}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="deleteVehs"  parameterType="java.util.HashMap">
        delete from
        dc_forward_vehicle
        <where>
            platform_id = #{platformId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="vehIds != null">
                and vehicle_id in
                <foreach collection="vehIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </delete>

    <!-- 查询关联转发规则后的结果详情 -->
    <select id="relateRuleResultPagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select sv.license_plate, sv.vin, "添加成功" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="sucVehIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        union all
        select sv.license_plate, sv.vin, "与待转发车辆列表内重复" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="unFWRepeatVehIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        union all
        select sv.license_plate, sv.vin, "与已转发车辆列表内重复" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="repeatVehIds" index="index" item="item2" open="(" separator="," close=")">
            #{item2}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>

    <!-- 查看确认转发结果详情 -->
    <select id="confirmResultPagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select sv.license_plate, sv.vin, "确认成功" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="sucIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        union all
        select sv.license_plate, sv.vin, "重复确认" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="repeatIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>


    <select id="findIds" resultType="java.lang.String" parameterType="java.util.HashMap">
        select fv.vehicle_id from dc_forward_vehicle fv
        where fv.platform_id = #{platformId}
    </select>

    <!-- 获取平台已存在车辆 -->
    <select id="findPlatformVehs" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        fv.id, fv.vehicle_id, fv.platform_id, forward_status, fv.add_mode
        from
        dc_forward_vehicle fv
        <where>
            <if test="platformId != null">
                and fv.platform_id = #{platformId}
            </if>
            <if test="vehIds != null">
                and fv.vehicle_id in
                <foreach collection="vehIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>


    <!-- 已添加车辆列表 分页查询 -->
    <select id="pagePlatFormVehs" resultMap="tailResults" parameterType="java.util.HashMap">
        select fv.id, sv.license_plate, sv.vin, sv.inter_no, stmu.iccid, sv.stage, sv.stage_change_date,
        sv.veh_model_id, sv.manu_unit_id, sv.oper_unit_id, fp.static_forward_platform,fv.platform_id,
        fv.vehicle_id, fv.confirm_status, fv.push_status, fv.forward_status, fv.error_message, fp.rule_id,
        svm.veh_model_name as veh_model_display,fp.name as platform_display, fv.create_time,
        dcr.name as rule_display, fv.confirm_by, fv.add_mode, svt.name typeName, vb.`name` brandName, vs.`name` seriesName, svm.veh_unit_id vehUnitId
        from dc_forward_vehicle fv
        left join sys_vehicle sv on sv.id = fv.vehicle_id
        left join sys_veh_model svm on sv.veh_model_id = svm.id
        left join sys_term_model_unit stmu on stmu.id = sv.term_id
        left join sys_term_model stm on stm.id = stmu.sys_term_model_id
        left join dc_forward_platform fp on fp.id = fv.platform_id
        left join dc_rule dcr on dcr.id = fp.rule_id
        left join sys_veh_notice svn on svn.id = svm.notice_id
        left join sys_veh_type svt on svt.id = svn.veh_type_id
        left join sys_veh_brand vb on vb.id = svn.brand_id
        left join sys_veh_series vs on vs.id = svn.series_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="licensePlate != null">
                and sv.license_plate like "%"#{licensePlate}"%"
            </if>
            <if test="vin != null">
                and sv.vin like "%"#{vin}"%"
            </if>
            <if test="platformId != null">
                and fv.platform_id = #{platformId}
            </if>
            <if test="iccid != null">
                and stmu.iccid like "%"#{iccid}"%"
            </if>
            <if test="typeId != null">
                and svt.id = #{typeId}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="operUnitId != null">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by fv.create_time desc
    </select>

    <select id="addFailResult" resultMap="tailResults" parameterType="java.util.HashMap">
        select sv.license_plate, sv.vin, "黑名单车辆" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="blackIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        union all
        select sv.license_plate, sv.vin, "重复车辆" as result_msg
        from sys_vehicle sv
        where sv.id in
        <foreach collection="repeatIds" index="index" item="item1" open="(" separator="," close=")">
            #{item1}
        </foreach>
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>

    <!-- 修改车辆的添加方式为规则 -->
    <update id="updateAddModeToRule">
        update dc_forward_vehicle set add_mode = 1 where id = #{id}
    </update>
</mapper>
