<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.dc.dao.ForwardPlatformVehicleBlackListMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.dc.domain.ForwardPlatformVehicleBlackList" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dfpvbl.id  ,dfpvbl.platform_id ,dfpvbl.vehicle_id ,dfpvbl.create_time ,dfpvbl.create_by ,dfpvbl.update_by ,dfpvbl.update_time
    </sql>
    <sql id="moreColumns">
    dfpvbl.id  ,dfpvbl.platform_id ,dfpvbl.vehicle_id ,dfpvbl.create_time ,dfpvbl.create_by ,dfpvbl.update_by ,dfpvbl.update_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.dc.domain.ForwardPlatformVehicleBlackList"
            parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_platform_vehicle_black_list dfpvbl
        <where>
            dfpvbl.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        dc_forward_platform_vehicle_black_list (id,platform_id,vehicle_id,create_time,create_by)
        values
        (#{id},#{platformId},#{vehicleId},#{createTime},#{createBy})
    </insert>

    <!-- 批量增加 -->
    <insert id="batchInsert">
        INSERT INTO
        dc_forward_platform_vehicle_black_list (id,platform_id,vehicle_id,create_time,create_by)
        VALUES
        <foreach collection ="list" item="model" separator =",">
            (#{model.id},#{model.platformId},#{model.vehicleId},#{model.createTime},#{model.createBy})
        </foreach >
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update dc_forward_platform_vehicle_black_list set
        id=id,platform_id=#{platformId},vehicle_id=#{vehicleId},update_by=#{updateBy},update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        dc_forward_platform_vehicle_black_list
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select dfpvbl.id, dfpvbl.vehicle_id, dfpvbl.platform_id, sv.vin, tm.serial_number,
        tm.iccid, svm.veh_model_name, dfp.`name` platformName, dfpvbl.create_time
        from dc_forward_platform_vehicle_black_list dfpvbl
        left join dc_forward_platform dfp on dfpvbl.platform_id = dfp.id
        left join sys_vehicle sv on dfpvbl.vehicle_id = sv.id
        left join sys_term_model_unit tm on sv.term_id = tm.id
        left join sys_veh_model svm on sv.veh_model_id = svm.id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="vin != null">
                and sv.vin like "%"#{vin}"%"
            </if>
            <if test="platformId != null">
                and dfpvbl.platform_id = #{platformId}
            </if>
            <if test="iccid != null">
                and tm.iccid like "%"#{iccid}"%"
            </if>
            <if test="serialNumber != null">
                and tm.serial_number like "%"#{serialNumber}"%"
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and dfpvbl.create_time between #{beginTime} and #{endTime}
            </if>
            <if test="vehicleIds != null and vehicleIds.length>0">
                and sv.id in
                <foreach collection="vehicleIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by create_time desc
    </select>

    <!-- 查询 -->
    <select id="listPage" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        dc_forward_platform_vehicle_black_list dfpvbl
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="ids != null and ids.length>0">
                and dfpvbl.id in
                <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="platformId != null">
                and dfpvbl.platform_id = #{platformId}
            </if>
        </where>
    </select>

    <!-- 删除 -->
    <delete id="deleteByPlatformId" parameterType="java.util.HashMap">
        delete from
        dc_forward_platform_vehicle_black_list
        <where>
            platform_id = #{platformId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>
</mapper>
