<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.dc.mapper.PlatformVehiclePushLogMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.dc.domain.PlatformVehiclePushLog" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- ☆车牌号☆-->
            <result property="licensePlate" column="license_plate" />
            <!-- ☆vin☆-->
            <result property="vin" column="vin" />
            <!-- ☆转发平台名称☆-->
            <result property="forwardPlatformName" column="forward_platform_name" />
            <!-- ☆静态数据推送平台☆-->
            <result property="staticForwardPlatform" column="static_forward_platform" />


        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    log.id  ,log.vehicle_id ,log.forward_platform_id ,log.req_time ,log.rsp_time ,log.push_status ,log.error_message ,log.confirm_user ,log.req_body ,log.decrypt_req_body ,log.rsp_body ,log.decrypt_rsp_body ,log.create_time, log.remark
    </sql>
    <sql id="moreColumns">
    log.id  ,log.vehicle_id ,log.forward_platform_id ,log.req_time ,log.rsp_time ,log.push_status ,log.error_message ,log.confirm_user ,log.req_body ,log.decrypt_req_body ,log.rsp_body ,log.decrypt_rsp_body ,log.create_time, log.remark
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.dc.domain.PlatformVehiclePushLog"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_platform_vehicle_push_log log
        <where>
            log.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        dc_platform_vehicle_push_log (id,vehicle_id,forward_platform_id,req_time,rsp_time,push_status,error_message,confirm_user,req_body,decrypt_req_body,rsp_body,decrypt_rsp_body,create_time, remark)
        values
        (#{id},#{vehicleId},#{forwardPlatformId},#{reqTime},#{rspTime},#{pushStatus},#{errorMessage},#{confirmUser},#{reqBody},#{decryptReqBody},#{rspBody},#{decryptRspBody},#{createTime}, #{remark})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update dc_platform_vehicle_push_log set
        id=id,vehicle_id=#{vehicleId},forward_platform_id=#{forwardPlatformId},req_time=#{reqTime},rsp_time=#{rspTime},push_status=#{pushStatus},error_message=#{errorMessage},confirm_user=#{confirmUser},req_body=#{reqBody},decrypt_req_body=#{decryptReqBody},rsp_body=#{rspBody},decrypt_rsp_body=#{decryptRspBody},remark=#{remark}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        dc_platform_vehicle_push_log
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        log.id ,log.vehicle_id ,log.forward_platform_id ,log.req_time ,log.rsp_time ,log.push_status ,log.error_message ,log.confirm_user ,log.req_body ,log.decrypt_req_body ,log.rsp_body ,log.decrypt_rsp_body ,log.create_time ,log.remark,
        sv.vin ,sv.license_plate ,
        fp.name as forward_platform_name ,fp.static_forward_platform
        from
        dc_platform_vehicle_push_log log
        left join sys_vehicle sv on sv.id=log.vehicle_id
        left join dc_forward_platform fp on fp.id=log.forward_platform_id
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <!--转发平台 -->
            <if test="forwardPlatformId != null and forwardPlatformId != ''">
                and log.forward_platform_id = #{forwardPlatformId}
            </if>
            <!--静态数据推送平台 -->
            <if test="staticForwardPlatform != null and staticForwardPlatform != ''">
                and fp.static_forward_platform = #{staticForwardPlatform}
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[log.create_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[log.create_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="pushStatus != null and pushStatus != ''">
                and log.push_status = #{pushStatus}
            </if>
            <if test="confirmUser != null and confirmUser != ''">
                and log.confirm_user like concat('%',#{confirmUser},'%')
            </if>
        </where>
        order by log.create_time desc
    </select>
</mapper>
