<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.dc.mapper.RuleItemLkMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.dc.domain.RuleItemLk" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    lk.id  ,lk.rule_id ,lk.item_id
    </sql>
    <sql id="moreColumns">
    lk.id  ,lk.rule_id ,lk.item_id
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.dc.domain.RuleItemLk"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_rule_item_lk lk
        <where>
            lk.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        dc_rule_item_lk (id,rule_id,item_id)
        values
        (#{id},#{ruleId},#{itemId})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update dc_rule_item_lk set
        id=id,rule_id=#{ruleId},item_id=#{itemId}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        dc_rule_item_lk
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 根据通讯协议ID删除数据项 -->
    <delete id="deleteByRuleId" parameterType="java.util.HashMap">
        DELETE FROM
        dc_rule_item_lk
        WHERE rule_id = #{ruleId}
            and item_id = #{itemId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        dc_rule_item_lk lk
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="itemId != null">
                and lk.item_id = #{itemId}
            </if>
            <if test="ruleId != null">
                and lk.rule_id = #{ruleId}
            </if>
        </where>

    </select>
</mapper>
