<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.screen.dao.ScreenChartMapper">

    <!-- 获取充电坐标 -->
    <select id="getChargeGeo" resultType="com.bitnei.cloud.screen.model.Gps">
        SELECT
            LONGITUDE AS wgLon,
            LATITUDE AS wgLat
        FROM VEH_DAY_SINGLE_CHARGE c
        LEFT JOIN SYS_VEHICLE v ON c.VID = v.UUID
        LEFT JOIN SYS_AREA ar ON ar.ID = v.oper_license_city_id
        WHERE ar.PATH LIKE CONCAT((SELECT are.PATH FROM SYS_AREA are WHERE are.id=#{areaId}),'%')
        AND c.REPORT_DATE >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND c.REPORT_DATE <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
    </select>

    <!-- 获取充电信息，充电次数、充电量等 -->
    <select id="getChargeInfo" resultType="com.bitnei.cloud.screen.model.ChargeInfo">
        SELECT
            SUM(CHARGE_TIMES) AS chargeCount,
            SUM(CHARGE_TIME_SUM) AS chargeDuration,
            SUM(CHARGE_CONSUME) AS chargeSum,
            COUNT(1) AS chargeVehicleCount
        FROM
            VEH_DAYREPORT_CHARGESTATE c,
            SYS_VEHICLE v,
            SYS_AREA ar
        WHERE c.VID = v.UUID
        AND ar.ID = v.oper_license_city_id
        AND ar.PATH LIKE CONCAT((SELECT are.PATH FROM SYS_AREA are WHERE are.id=#{areaId}),'%')
        AND c.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND c.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND CHARGE_TIMES > 0
    </select>

    <!-- 获取行驶轨迹热力图 -->
    <select id="getRunGeo" resultType="com.bitnei.cloud.screen.model.RunGeo">
        SELECT
            lon as lon,
            lan as lat,
            weight as count
        FROM veh_run_heat
        WHERE areaId = #{areaId}
        AND reportDate >= STR_TO_DATE(#{startTime}, '%Y-%m-%d %T')
        AND reportDate <![CDATA[ <= ]]> STR_TO_DATE(#{endTime}, '%Y-%m-%d %T')
    </select>

    <!-- 获取在线运营单位 -->
    <select id="getOnlineByUnit" resultType="com.bitnei.cloud.screen.model.UnitVehicleCount">
        SELECT
            su.ID as unitId,
            count(vid) AS onlineCount
        FROM
            VEH_DAYREPORT_RUNSTATE run,
            SYS_VEHICLE sv,
            SYS_UNIT su
        WHERE SV.oper_unit_id = SU.ID
        AND sv.UUID = RUN.VID
        AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND run.RUN_KM > 0
        GROUP BY su.ID
    </select>

    <!-- 获取在线运营单位 -->
    <select id="getOnlineVehicle" resultType="com.bitnei.cloud.screen.model.UnitVehicleCount">
        SELECT
            su.ID as unitId,
            count(vid) AS onlineCount
        FROM
            VEH_DAYREPORT_RUNSTATE run,
            SYS_VEHICLE sv,
            SYS_UNIT su
        WHERE su.id in
        <foreach collection="units" item="unitId" index="index" open="(" close=")" separator=",">
            #{unitId}
        </foreach>
        AND SV.oper_unit_id = SU.ID
        AND sv.UUID = RUN.VID
        AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND run.RUN_KM > 0
        GROUP BY su.ID
    </select>

    <!-- 获取前10运营单位 -->
    <select id="getUnitVehicleCountTop10" resultType="com.bitnei.cloud.screen.model.UnitVehicleCount">
        SELECT
            *
        FROM (
            SELECT
                su.ID as unitId,
                su.NAME as unitName,
                COUNT(*) AS vehicleCount
            FROM
                SYS_VEHICLE sv,
                SYS_UNIT su
            WHERE
                sv.is_delete = 0
            and SV.oper_unit_id = SU. ID
            GROUP BY
                su.ID,
                su.NAME
            ORDER BY
                vehicleCount DESC
        ) as veh
        LIMIT 10
    </select>

    <!-- 获取充电车辆数 -->
    <select id="getChargeVehicleCount" resultType="com.bitnei.cloud.screen.model.ChargeVehicleCount">
        select
            count(case
                when CHARGE_HALF_HOUR_LONG1 > 0 || CHARGE_HALF_HOUR_LONG2 > 0 || CHARGE_HALF_HOUR_LONG3 > 0 || CHARGE_HALF_HOUR_LONG4 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount1,
            count(case
                when CHARGE_HALF_HOUR_LONG5 > 0 || CHARGE_HALF_HOUR_LONG6 > 0 || CHARGE_HALF_HOUR_LONG7 > 0 || CHARGE_HALF_HOUR_LONG8 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount2,
            count(case
                when CHARGE_HALF_HOUR_LONG9 > 0 || CHARGE_HALF_HOUR_LONG10 > 0 || CHARGE_HALF_HOUR_LONG11 > 0 || CHARGE_HALF_HOUR_LONG12 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount3,
            count(case
                when CHARGE_HALF_HOUR_LONG13 > 0 || CHARGE_HALF_HOUR_LONG14 > 0 || CHARGE_HALF_HOUR_LONG15 > 0 || CHARGE_HALF_HOUR_LONG16 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount4,
            count(case
                when CHARGE_HALF_HOUR_LONG17 > 0 || CHARGE_HALF_HOUR_LONG18 > 0 || CHARGE_HALF_HOUR_LONG19 > 0 || CHARGE_HALF_HOUR_LONG20 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount5,
            count(case
                when CHARGE_HALF_HOUR_LONG21 > 0 || CHARGE_HALF_HOUR_LONG22 > 0 || CHARGE_HALF_HOUR_LONG23 > 0 || CHARGE_HALF_HOUR_LONG24 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount6,
            count(case
                when CHARGE_HALF_HOUR_LONG25 > 0 || CHARGE_HALF_HOUR_LONG26 > 0 || CHARGE_HALF_HOUR_LONG27 > 0 || CHARGE_HALF_HOUR_LONG28 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount7,
            count(case
                when CHARGE_HALF_HOUR_LONG29 > 0 || CHARGE_HALF_HOUR_LONG30 > 0 || CHARGE_HALF_HOUR_LONG31 > 0 || CHARGE_HALF_HOUR_LONG32 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount8,
            count(case
                when CHARGE_HALF_HOUR_LONG33 > 0 || CHARGE_HALF_HOUR_LONG34 > 0 || CHARGE_HALF_HOUR_LONG35 > 0 || CHARGE_HALF_HOUR_LONG36 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount9,
            count(case
                when CHARGE_HALF_HOUR_LONG37 > 0 || CHARGE_HALF_HOUR_LONG38 > 0 || CHARGE_HALF_HOUR_LONG39 > 0 || CHARGE_HALF_HOUR_LONG40 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount10,
            count(case
                when CHARGE_HALF_HOUR_LONG41 > 0 || CHARGE_HALF_HOUR_LONG42 > 0 || CHARGE_HALF_HOUR_LONG43 > 0 || CHARGE_HALF_HOUR_LONG44 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount11,
            count(case
                when CHARGE_HALF_HOUR_LONG45 > 0 || CHARGE_HALF_HOUR_LONG46 > 0 || CHARGE_HALF_HOUR_LONG47 > 0 || CHARGE_HALF_HOUR_LONG48 > 0 THEN 1
                ELSE null END) AS chargeVehicleCount12
        from VEH_DAY_SINGLE_CHARGE_RUN run
        where run.REPORT_DATE >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_DATE <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
    </select>

    <!-- SOC充电起始状态 -->
    <select id="getSocChargeStartState" resultType="com.bitnei.cloud.screen.model.SocChargeStartState">
        SELECT
            sum(soc.charge_soc_0) AS chargeSoc0,
            sum(soc.charge_soc_1) AS chargeSoc1,
            sum(soc.charge_soc_2) AS chargeSoc2,
            sum(soc.charge_soc_3) AS chargeSoc3,
            sum(soc.charge_soc_4) AS chargeSoc4,
            sum(soc.charge_soc_5) AS chargeSoc5,
            sum(soc.charge_soc_6) AS chargeSoc6,
            sum(soc.charge_soc_7) AS chargeSoc7,
            sum(soc.charge_soc_8) AS chargeSoc8,
            sum(soc.charge_soc_9) AS chargeSoc9
        FROM VEH_DAYREPORT_CATEGORY soc
        WHERE soc.report_time >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND soc.report_time <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
    </select>

    <!-- 获取所有车型每天的累计里程 -->
    <select id="getDailyKilometre" resultType="com.bitnei.cloud.screen.model.ModelDailyKilometre$DailyKilometre">
        SELECT
            VM.VEH_MODEL_NAME as vehModelName,
            date_format(run.REPORT_TIME, '%d') AS day,
            SUM(run.RUN_KM) as avgKilometre
        FROM
            VEH_DAYREPORT_RUNSTATE run,
            sys_vehicle v,
            sys_veh_model vm
        WHERE run.vid = v.uuid
        AND vm. ID = v.veh_model_id
        AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND run.RUN_KM > 0
        AND run.RUN_KM <![CDATA[ < ]]> 800
        GROUP BY date_format (run.REPORT_TIME, '%d'), VM.VEH_MODEL_NAME
    </select>

    <!-- 获取所有车型每天的平均里程 -->
    <select id="getDailyAvgKilometre" resultType="com.bitnei.cloud.screen.model.ModelDailyKilometre$DailyKilometre">
        SELECT
            VM.VEH_MODEL_NAME as vehModelName,
            date_format(run.REPORT_TIME, '%d') AS day,
            SUM(run.RUN_KM) / COUNT(1) as avgKilometre
        FROM
            VEH_DAYREPORT_RUNSTATE run,
            sys_vehicle v,
            sys_veh_model vm
        WHERE run.vid = v.uuid
        AND vm. ID = v.veh_model_id
        AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND run.RUN_KM > 0
        AND run.RUN_KM <![CDATA[ < ]]> 800
        GROUP BY date_format (run.REPORT_TIME, '%d'), VM.VEH_MODEL_NAME
    </select>

    <!-- 获取运营单位列表 -->
    <select id="unitList" resultType="com.bitnei.cloud.screen.model.UnitVehicleCount">
        SELECT
            su.ID as unitId,
            su.NAME as unitName
        FROM
            SYS_VEHICLE sv,
            SYS_UNIT su
        WHERE
            sv.is_delete = 0
        and SV.oper_unit_id = SU. ID
        GROUP BY su.ID, su.NAME
    </select>

    <!-- 获得车辆每日里程 -->
    <select id="getVehicleDailyKilometre" resultType="com.bitnei.cloud.screen.model.VehicleDailyKilometre$DailyKilometre">
        SELECT
            v.LICENSE_PLATE AS licensePlate,
            date_format(run.REPORT_TIME, '%d') AS day,
            SUM(run.RUN_KM) AS kilometre
        FROM
            VEH_DAYREPORT_RUNSTATE run,
            sys_vehicle v
        WHERE run.vid = v.uuid
        AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
        AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
        AND run.RUN_KM > 0
        AND run.RUN_KM <![CDATA[ < ]]> 800
        AND v.LICENSE_PLATE IN (
            SELECT LICENSE_PLATE FROM(
                SELECT DISTINCT v.LICENSE_PLATE
                FROM sys_vehicle v
                LEFT JOIN VEH_DAYREPORT_RUNSTATE run ON run.vid = v.uuid
                LEFT JOIN sys_area ar ON ar. ID = v.oper_license_city_id
                LEFT JOIN SYS_UNIT su ON v.oper_unit_id = SU. ID
                WHERE v.is_delete = 0
                and run.RUN_KM > 0
                AND run.RUN_KM <![CDATA[ < ]]> 800
                <if test="unitId != null and unitId != ''">
                    AND su.PATH LIKE CONCAT ((
                        SELECT su.PATH
                        FROM SYS_UNIT su
                        WHERE su.ID = #{unitId}
                    ), '%')
                </if>
                <if test="areaId != null and areaId != ''">
                    AND ar. PATH LIKE CONCAT ((
                        SELECT are.PATH
                        FROM SYS_AREA are
                        WHERE are. ID = #{areaId}
                    ), '%')
                </if>
                <if test="vin != null and vin != ''">
                    AND v.VIN = #{vin}
                </if>
                <if test="licensePlate != null and licensePlate != ''">
                    AND v.LICENSE_PLATE = #{licensePlate}
                </if>
                AND run.REPORT_TIME >= STR_TO_DATE(#{startTime},'%Y-%m-%d %T')
                AND run.REPORT_TIME <![CDATA[ <= ]]> STR_TO_DATE(#{endTime},'%Y-%m-%d %T')
                LIMIT 10
            ) as veh
        )
        GROUP BY date_format(run.REPORT_TIME, '%d'), v.LICENSE_PLATE
    </select>


</mapper>
