<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.screen.dao.ScreenVehicleMapper">

    <!-- 获取所有省份的区域ID和名称 -->
    <select id="getCarCount" resultType="java.lang.Integer">
        SELECT
        count(v.uuid)
        FROM SYS_VEHICLE v
        <if test="areaId != null and areaId != ''">
            LEFT JOIN SYS_AREA ar ON ar.ID = v.oper_license_city_id
        </if>
        <if test="(onlined != null and onlined != '') or (onlineStatus != null and onlineStatus != '')">
            LEFT JOIN sys_vehicle_real_status RS ON RS.vehicle_id = v.id
        </if>
        <where>
            v.is_delete = 0
            <if test="areaId != null and areaId != ''">
                AND ar.PATH LIKE CONCAT((SELECT are.PATH FROM SYS_AREA are WHERE are.id=#{areaId}),'%')
            </if>
            <if test="onlined != null and onlined != ''">
                AND RS.onlined = #{onlined}
            </if>
            <if test="onlineStatus != null and onlineStatus != ''">
                AND RS.online_status = #{onlineStatus}
            </if>
        </where>
    </select>


    <!-- 获取总车辆数 -->
    <select id="getProvinceArea" resultType="com.bitnei.cloud.screen.model.Area">
        SELECT ID, NAME
        FROM SYS_AREA
        WHERE PARENT_ID = '0'
    </select>

    <!-- 根据区域ID获取该区域的车辆信息 -->
    <select id="getVehiclesByAreaId" resultType="com.bitnei.cloud.screen.model.VehicleGeo">
        SELECT
            v.uuid as vid,
            v.vin,
            v.LICENSE_PLATE as licensePlate
        FROM
            SYS_VEHICLE v,
            SYS_AREA ar
        WHERE
            v.is_delete = 0
          and ar.ID = v.oper_license_city_id
          AND ar.PATH LIKE CONCAT((SELECT are.PATH FROM SYS_AREA are WHERE are.id=#{areaId}),'%')

    </select>

    <!-- 根据条件模糊匹配车辆信息 -->
    <select id="getVehicleInfo" resultType="com.bitnei.cloud.screen.model.VehicleInfo">
        SELECT
            v.vin as vin,
            v.license_plate as licensePlate
        FROM
            SYS_VEHICLE v
        <where>
            v.is_delete = 0
            <if test="vin != null and vin != ''">
                AND v.vin LIKE CONCAT(#{vin}, '%')
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                AND v.license_plate LIKE CONCAT(#{licensePlate}, '%')
            </if>
        </where>
        limit 10
    </select>

    <!-- 获取所有车辆类别的油耗，电耗 -->
    <select id="getVehicleModes" resultType="com.bitnei.cloud.screen.model.VehicleMode">
        SELECT
            id,
            l100km,
            kwh100h
        FROM sys_veh_model
    </select>

    <select id="findVehiclePowerMode" resultType="com.bitnei.cloud.screen.model.PowerMode">
        select veh.uuid as vid, sd.val, sd.name
        from sys_vehicle veh
        left join sys_veh_model mo on mo.id = veh.veh_model_id
        left join (select val, name from sys_dict where type = "POWER_MODE") sd on sd.val = mo.power_mode
        where veh.uuid = #{vid}
    </select>

    <select id="findVehiclePowerModes" resultType="com.bitnei.cloud.screen.model.PowerMode">
        select veh.uuid as vid, sd.val, sd.name
        from sys_vehicle veh
        left join sys_veh_model mo on mo.id = veh.veh_model_id
        left join (select val, name from sys_dict where type = "POWER_MODE") sd on sd.val = mo.power_mode
        where veh.uuid in
        <foreach collection="vids" item="vid" index="index" open="(" close=")" separator=",">
            #{vid}
        </foreach>
    </select>

</mapper>
