<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sms.dao.SmsTaskItemMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sms.domain.SmsTaskItem" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    gsti.id  ,gsti.task_id ,gsti.service_type ,gsti.receiver_type ,gsti.receiver_id ,gsti.receiver ,gsti.vehicle_id ,gsti.send_status ,gsti.fail_msg ,gsti.msisd ,gsti.vin ,gsti.send_time ,gsti.biz_id, gsti.create_by ,gsti.create_time ,gsti.update_by ,gsti.update_time, gsti.fault_id, gsti.iccid
    </sql>
    <sql id="moreColumns">
    gsti.id  ,gsti.task_id ,gsti.service_type ,gsti.receiver_type ,gsti.receiver_id ,gsti.receiver ,gsti.vehicle_id ,gsti.send_status ,gsti.fail_msg ,gsti.msisd ,gsti.vin ,gsti.send_time ,gsti.biz_id, gsti.create_by ,gsti.create_time ,gsti.update_by ,gsti.update_time, gsti.fault_id, gsti.iccid
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sms.domain.SmsTaskItem" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>, gst.template_name,gst.sms_content
        from
        sms_task_item gsti,
        sms_task gst
        <where>
            gsti.task_id = gst.id
            and gsti.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sms_task_item (id,task_id,service_type,receiver_type,receiver_id,receiver,vehicle_id,send_status,fail_msg,msisd, vin, send_time ,biz_id, create_by, create_time, fault_id, iccid)
        values
        (#{id},#{taskId},#{serviceType},#{receiverType},#{receiverId},#{receiver},#{vehicleId},#{sendStatus},#{failMsg},#{msisd}, #{vin}, #{sendTime}, #{bizId}, #{createBy},#{createTime}, #{faultId}, #{iccid})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sms_task_item set
        id=id,task_id=#{taskId},service_type=#{serviceType},receiver_type=#{receiverType},receiver_id=#{receiverId},receiver=#{receiver},
        vehicle_id=#{vehicleId},send_status=#{sendStatus},fail_msg=#{failMsg},msisd=#{msisd},vin=#{vin}, send_time=#{sendTime},
        update_by=#{updateBy}, update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 保存短信发送流水号 -->
    <update id="updateBizId" parameterType="java.util.HashMap">
        update sms_task_item set biz_id=#{bizId}, update_by=#{updateBy}, update_time=#{updateTime} where task_id=#{taskId}
    </update>

    <!-- 保存短信发送流水号 -->
    <update id="updateUniComBizId" parameterType="java.util.HashMap">
        update sms_task_item set biz_id=#{bizId}, send_status=#{sendStatus}, update_by=#{updateBy}, update_time=#{updateTime} where id=#{id}
    </update>

    <!-- 更新发送时间、状态 -->
    <update id="updateSendTimeAndStatus" parameterType="java.util.HashMap">
        update sms_task_item set send_time=#{sendTime},send_status=#{sendStatus}, fail_msg=#{failMsg}, update_by=#{updateBy}, update_time=#{updateTime}
        where task_id=#{taskId} and msisd=#{msisd}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sms_task_item
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>, gst.template_id, gst.template_name ,gst.sms_content, gst.status, gst.remarks
        from
        sms_task_item gsti
        inner join sms_task gst on gst.id = gsti.task_id
        <where>
            gst.status = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="taskId != null">
                and gsti.task_id = #{taskId}
            </if>
            <if test="templateId != null">
                and gst.template_id = #{templateId}
            </if>
            <if test="serviceType != null">
                and gst.service_type = #{serviceType}
            </if>
            <if test="smsContent != null">
                and gst.sms_content = #{smsContent}
            </if>
            <if test="status != null">
                and gst.status = #{status}
            </if>
            <if test="sendStatus != null">
                and gsti.send_status = #{sendStatus}
            </if>
            <if test="msisd != null">
                and gsti.msisd like concat('%',#{msisd},'%')
            </if>
            <if test="addAll != null">
                and gst.add_all = #{addAll}
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and gsti.send_time between #{beginTime} and #{endTime}
            </if>
            <if test="filterIsNotNullIccId != null">
                and gsti.iccid is not null
            </if>
            <if test="filterIsNullIccId != null">
                and gsti.iccid is null
            </if>
        </where>
        order by gsti.create_time desc
    </select>

    <!-- 通过taskId查询明细 -->
    <select id="listSmsTaskItemByTaskId" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sms_task_item gsti
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="taskId != null">
                and gsti.task_id = #{taskId}
            </if>
        </where>
    </select>

    <!-- 根据任务删除 -->
    <delete id="deleteByTaskId">
        delete from  sms_task_item where task_id = #{taskId}
    </delete>

    <!-- 根据id删除 -->
    <delete id="deleteByIds">
        delete from  sms_task_item where
        id in
        <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 车辆的msisd信息 -->
    <select id="listVehicleMsisd" resultType="com.bitnei.cloud.sms.domain.VehicleMsisd" parameterType="java.util.HashMap" resultOrdered="true">
        select sv.id as VehicleId, sv.vin, sim.msisd, stmu.iccid from sys_vehicle  sv
        left join sys_term_model_unit stmu on stmu.id = sv.term_id
        left join sys_sim_management sim on stmu.iccid = sim.iccid
        <where>
            <if test="ids != null">
                sv.id in
                <foreach collection="ids" index="index" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
    </select>

    <!-- 车辆的信息 -->
    <select id="getSmsTaskItemDetail" resultType="com.bitnei.cloud.sms.domain.SmsTaskItemDetail" parameterType="java.util.HashMap" resultOrdered="true">
        select <include refid="moreColumns"/>, sv.oper_use_type, sv.oper_unit_id, sv.veh_model_id, gst.template_name, gst.sms_content
        from sms_task_item gsti
        left join sms_task gst on gsti.task_id = gst.id
        left join sys_vehicle  sv on gsti.vehicle_id = sv.id
        where gsti.id = #{id}
    </select>

    <!-- 发送统计 -->
    <select id="successTotal" resultType="java.util.HashMap" parameterType="java.util.HashMap">
       select sum(case when send_status = 3 then 1 else 0 end) successTotal, count(*) total
       from sms_task_item
       where task_id = #{taskId}
    </select>

    <!-- 条数 -->
    <select id="totalByTaskId" resultType="java.lang.Integer" parameterType="java.lang.String">
       select count(*) total
       from sms_task_item
       where task_id = #{taskId}
    </select>

    <!-- 车辆列表分页条件查询 -->
    <select id="findSmsVehicle" resultType="com.bitnei.cloud.sms.domain.SmsVehicle" parameterType="java.util.HashMap" resultOrdered="true">
        select
        gsti.id, sv.vin, sv.license_plate, sv.inter_no, svm.veh_model_name, stm.term_model_name,sim.iccid,
        sut.`name` as oper_unit_name,saa.`name` as oper_area_name, gsti.msisd, gsti.send_status, gsti.fail_msg
        from sms_task_item gsti
		left join sys_vehicle sv on gsti.vehicle_id = sv.id
        left join sys_veh_model svm on svm.id = sv.veh_model_id
        left join sys_term_model_unit stmu on stmu.id = sv.term_id
        left join sys_term_model stm on stm.id = stmu.sys_term_model_id
        left join sys_sim_management sim on stmu.iccid = sim.iccid
        left join sys_unit su on su.id = stm.unit_id
        left join sys_area saa on saa.id = sv.oper_area_id
        left join sys_unit sut on sut.id = sv.oper_unit_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="taskId != null">
                and gsti.task_id = #{taskId}
            </if>
            <if test="sendStatus != null">
                and gsti.send_status = #{sendStatus}
            </if>
            <if test="msisd != null">
                and gsti.msisd like concat('%',#{msisd},'%')
            </if>
            <!-- vin码模糊查询 -->
            <if test="vin != null and vin != ''">
                and sv.vin LIKE concat('%',#{vin},'%')
            </if>
        </where>
        order by gsti.create_time desc
    </select>


</mapper>
