<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sms.dao.SmsTaskMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sms.domain.SmsTask" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    gst.id  ,gst.template_id ,gst.template_name ,gst.template_code ,gst.service_type ,gst.sms_content, gst.receivers, gst.variables, gst.status ,gst.remarks ,gst.create_by ,gst.create_time ,gst.update_by ,gst.update_time ,gst.biz_id ,gst.add_all
    </sql>
    <sql id="moreColumns">
    gst.id  ,gst.template_id ,gst.template_name ,gst.template_code ,gst.service_type ,gst.sms_content, gst.receivers, gst.variables, gst.status ,gst.remarks ,gst.create_by ,gst.create_time ,gst.update_by ,gst.update_time ,gst.biz_id ,gst.add_all
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sms.domain.SmsTask" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sms_task gst
        <where>
            gst.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sms_task (id,template_id,template_name,template_code,service_type,sms_content, receivers, variables, status,remarks,create_by,create_time,biz_id, add_all)
        values
        (#{id},#{templateId},#{templateName},#{templateCode},#{serviceType},#{smsContent},#{receivers},#{variables},#{status},#{remarks},#{createBy},#{createTime},#{bizId}, #{addAll})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sms_task set
        sms_content=#{smsContent}, variables=#{variables}, add_all=#{addAll},
        status=#{status},remarks=#{remarks},update_by=#{updateBy},update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 保存短信发送流水号 -->
    <update id="updateBizId" parameterType="java.util.HashMap">
        update sms_task set biz_id=#{bizId}, update_by=#{updateBy}, update_time=#{updateTime} where id=#{id}
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sms_task
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sms_task gst
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 短信下发分页查询 -->
    <select id="receiverPagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        DISTINCT <include refid="moreColumns"/>
        from
        sms_task gst
        inner join sms_task_item gsti on gst.id = gsti.task_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="serviceType != null">
                and gst.service_type = #{serviceType}
            </if>
            <if test="templateId != null">
                and gst.template_id = #{templateId}
            </if>
            <if test="templateName != null">
                and gst.template_name like concat('%',#{templateName},'%')
            </if>
            <if test="receiver != null">
                and gsti.receiver like concat('%',#{receiver},'%')
            </if>
            <if test="updateBy != null">
                and gst.update_by like concat('%',#{updateBy},'%')
            </if>
            <if test="status != null">
                and gst.status = #{status}
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and gst.update_time between #{beginTime} and #{endTime}
            </if>
        </where>
        order by gst.create_time desc
    </select>

    <!-- 短信详情导出查询 -->
    <select id="exportDetails" resultType="com.bitnei.cloud.sms.domain.SmsTaskItem" parameterType="java.util.HashMap" resultOrdered="true">
        select
        gsti.id  ,gsti.task_id ,gsti.service_type ,gsti.receiver_type ,gsti.receiver_id ,gsti.receiver ,gsti.vehicle_id ,gsti.send_status ,gsti.fail_msg ,gsti.msisd,
        gst.template_name ,gst.sms_content, gst.update_by ,gst.update_time, gst.status
        from
        sms_task gst
        inner join sms_task_item gsti on gst.id = gsti.task_id
        <where>
            gst.id = #{taskId}
            <if test="msisd != null">
                and gsti.msisd like concat('%', #{msisd}, '%')
            </if>
            <if test="sendStatus != null">
                and gsti.send_status = #{sendStatus}
            </if>
        </where>
    </select>


    <!-- ====================================华丽分割线=================================================== -->
    <!-- 终端短信指令分页查询 -->
    <select id="termSmsTaskPagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        DISTINCT <include refid="moreColumns"/>
        from
        sms_task gst
        inner join sms_task_item gsti on gst.id = gsti.task_id
        inner join sys_vehicle sv on sv.id = gsti.vehicle_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="serviceType != null">
                and gst.service_type = #{serviceType}
            </if>
            <if test="templateId != null">
                and gst.template_id = #{templateId}
            </if>
            <if test="status != null">
                and gst.status = #{status}
            </if>
            <!-- vin码模糊查询 -->
            <if test="vin != null and vin != ''">
                and sv.vin like CONCAT('%',#{vin},'%')
            </if>
            <!-- 车牌号 -->
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like CONCAT('%',#{licensePlate},'%')
            </if>
            <!-- 车型id -->
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <!-- 内部编号id -->
            <if test="interNo != null and interNo != ''">
                and sv.inter_no like CONCAT('%',#{interNo},'%')
            </if>
            <if test="updateBy != null">
                and gst.update_by like concat('%',#{updateBy},'%')
            </if>
            <if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
                and gst.update_time between #{beginTime} and #{endTime}
            </if>
        </where>
        order by gst.create_time desc
    </select>

    <!-- 终端短信指令导出查询 -->
    <select id="termSmsTaskExport" resultType="com.bitnei.cloud.sms.domain.TermSmsTaskExport" parameterType="java.util.HashMap" resultOrdered="true">
        select
        gst.template_name, vm.veh_model_name, gst.update_by, gst.create_time, sv.license_plate, sv.vin,
        gsti.msisd, gsti.send_status, gsti.fail_msg
        from
        sms_task gst
        inner join sms_task_item gsti on gst.id = gsti.task_id
        inner join sys_vehicle sv on sv.id = gsti.vehicle_id
        left join sys_veh_model vm on sv.veh_model_id = vm.id
        <where>
            <if test="taskId != null">
                and gsti.task_id = #{taskId}
            </if>
            <if test="sendStatus != null">
                and gsti.send_status = #{sendStatus}
            </if>
            <if test="msisd != null">
                and gsti.msisd like concat('%',#{msisd},'%')
            </if>
            <!-- vin码模糊查询 -->
            <if test="vin != null and vin != ''">
                and sv.vin LIKE concat('%',#{vin},'%')
            </if>
        </where>
    </select>
</mapper>
