<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.dao.DataCheckRecordMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DataCheckRecord" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dcre.id  ,dcre.create_time ,dcre.create_by ,dcre.update_time ,dcre.update_by ,dcre.vin ,dcre.check_result ,dcre.reason ,dcre.check_time_bg ,dcre.check_time_ed ,dcre.login_packet_num ,dcre.logout_packet_num ,dcre.real_status_packet_num ,dcre.need_upload_num ,dcre.real_upload_num ,dcre.packet_loss_rate ,dcre.packet_real_loss_rate ,dcre.loss_check_result ,dcre.data_packet_num ,dcre.data_exception_num ,dcre.data_item_exception ,dcre.data_real_exception ,dcre.data_exception_result, dcre.packet_type_check_result
    </sql>
    <sql id="moreColumns">
    dcre.id  ,dcre.create_time ,dcre.create_by ,dcre.update_time ,dcre.update_by ,dcre.vin ,dcre.check_result ,dcre.reason ,dcre.check_time_bg ,dcre.check_time_ed ,dcre.login_packet_num ,dcre.logout_packet_num ,dcre.real_status_packet_num ,dcre.need_upload_num ,dcre.real_upload_num ,dcre.packet_loss_rate ,dcre.packet_real_loss_rate ,dcre.loss_check_result ,dcre.data_packet_num ,dcre.data_exception_num ,dcre.data_item_exception ,dcre.data_real_exception ,dcre.data_exception_result, dcre.packet_type_check_result
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DataCheckRecord" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_record dcre
        <where>
            dcre.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_data_check_record (id,create_time,create_by,vin,check_result,reason,check_time_bg,check_time_ed,login_packet_num,logout_packet_num,real_status_packet_num,need_upload_num,real_upload_num,packet_loss_rate,packet_real_loss_rate,loss_check_result,data_packet_num,data_exception_num,data_item_exception,data_real_exception,data_exception_result,packet_type_check_result)
        values
        (#{id},#{createTime},#{createBy},#{vin},#{checkResult},#{reason},#{checkTimeBg},#{checkTimeEd},#{loginPacketNum},#{logoutPacketNum},#{realStatusPacketNum},#{needUploadNum},#{realUploadNum},#{packetLossRate},#{packetRealLossRate},#{lossCheckResult},#{dataPacketNum},#{dataExceptionNum},#{dataItemException},#{dataRealException},#{dataExceptionResult},#{packetTypeCheckResult})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_data_check_record set
        id=id,update_time=#{updateTime},update_by=#{updateBy},vin=#{vin},check_result=#{checkResult},reason=#{reason},check_time_bg=#{checkTimeBg},check_time_ed=#{checkTimeEd},login_packet_num=#{loginPacketNum},logout_packet_num=#{logoutPacketNum},real_status_packet_num=#{realStatusPacketNum},need_upload_num=#{needUploadNum},real_upload_num=#{realUploadNum},packet_loss_rate=#{packetLossRate},packet_real_loss_rate=#{packetRealLossRate},loss_check_result=#{lossCheckResult},data_packet_num=#{dataPacketNum},data_exception_num=#{dataExceptionNum},data_item_exception=#{dataItemException},data_real_exception=#{dataRealException},data_exception_result=#{dataExceptionResult},packet_type_check_result=#{packetTypeCheckResult}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        veh_data_check_record
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>, v.veh_model_id AS vehModelId, svm.veh_model_name AS vehModelName
        from
        veh_data_check_record dcre
        left join sys_vehicle v on dcre.vin = v.vin
        left join sys_veh_model svm on v.veh_model_id = svm.id
        <where>
            <if test="vin != null and vin != ''">
                AND dcre.vin LIKE CONCAT('%',#{vin},'%')
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                AND v.veh_model_id = #{vehModelId}
            </if>
            <if test="checkResult != null and checkResult != ''">
                AND dcre.check_result = #{checkResult}
            </if>
            <if test="createBy != null and createBy != ''">
                AND dcre.create_by LIKE CONCAT('%',#{createBy},'%')
            </if>
            <if test="reason != null and reason != ''">
                AND dcre.reason LIKE CONCAT('%',#{reason},'%')
            </if>
            <if test="beginTime != null">
                and dcre.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and dcre.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>

    <select id="getNumStatistics" resultType="com.bitnei.cloud.veh.model.DataCheckNumStatistic"
            parameterType="java.util.HashMap">
        SELECT
        SUBSTRING(a.create_time,1,10) statisticItem,
        count(1) checkNum,
        count(case when a.check_result = 0 then 1 else null end) errorNum,
        count(case when a.check_result = 1 then 1 else null end) passNum
        from (SELECT a.* FROM veh_data_check_record a INNER JOIN
        (SELECT dcre.vin, MAX(dcre.create_time) as max_create_time FROM veh_data_check_record dcre
        LEFT JOIN sys_vehicle v on dcre.vin = v.vin
        <where>
            <if test="beginTime != null">
                and dcre.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and dcre.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        GROUP BY vin) b
        ON a.vin=b.vin
        AND a.create_time=b.max_create_time) a GROUP BY statisticItem asc;
    </select>

    <select id="getVehModelStatistics" resultType="com.bitnei.cloud.veh.model.DataCheckVehModelStatistic"
            parameterType="java.util.HashMap">
        SELECT v.veh_model_id AS vehModelId, svm.veh_model_name AS vehModelName,
        count(case when dcre.check_result = 0 then 1 else null end) errorNum,
        count(case when dcre.check_result = 1 then 1 else null end) passNum
        from veh_data_check_record dcre
        LEFT JOIN sys_vehicle v on dcre.vin = v.vin
        LEFT JOIN sys_veh_model svm on  v.veh_model_id = svm.id
        <where>
            v.veh_model_id is not null
            <if test="beginTime != null">
                and dcre.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and dcre.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        GROUP BY vehModelId, vehModelName
    </select>

    <select id="getCheckErrorNum" resultType="com.bitnei.cloud.veh.model.DataCheckErrorDistribution"
            parameterType="java.util.HashMap">
        SELECT
        count(case when dcre.packet_type_check_result = 0 then 1 else null end) packetTypeErrorNum,
        count(case when dcre.loss_check_result = 0 then 1 else null end) lossCheckErrorNum,
        count(case when dcre.data_exception_result = 0 then 1 else null end) dataErrorNum
        from veh_data_check_record dcre LEFT JOIN sys_vehicle v on dcre.vin = v.vin
        <where>
            <if test="beginTime != null">
                and dcre.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and dcre.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
</mapper>
