<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.dao.DataCheckRuleMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DataCheckRule" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dcr.id  ,dcr.name ,dcr.veh_model_id ,dcr.protocol_id ,dcr.packet_loss_rate ,dcr.data_item_exception ,dcr.add_item_ids ,dcr.create_time ,dcr.create_by ,dcr.update_time ,dcr.update_by
    </sql>
    <sql id="moreColumns">
    dcr.id  ,dcr.name ,dcr.veh_model_id ,dcr.protocol_id ,dcr.packet_loss_rate ,dcr.data_item_exception ,dcr.add_item_ids ,dcr.create_time ,dcr.create_by ,dcr.update_time ,dcr.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DataCheckRule"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule dcr
        <where>
            dcr.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据车辆型号、通讯协议查询 -->
    <select id="findByVehModelProtocolCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        select
        count(dcr.id)
        from
        veh_data_check_rule dcr
        <where>
            dcr.veh_model_id = #{vehModelId}
            and dcr.protocol_id = #{protocolId}
            <if test="id != null">
                and dcr.id != #{id}
            </if>
        </where>
    </select>

     <!-- 根据规则名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.veh.domain.DataCheckRule"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule dcr
        <where>
            dcr.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <select id="findVehCheckRule" resultType="com.bitnei.cloud.veh.domain.DataCheckRule"
            parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule dcr
        <where>
            dcr.veh_model_id = #{vehModelId}
            and dcr.protocol_id = #{protocolId}
            <if test="id != null">
                and dcr.id != #{id}
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_data_check_rule (id,name,veh_model_id,protocol_id,packet_loss_rate,data_item_exception,add_item_ids,create_time,create_by,update_time,update_by)
        values
        (#{id},#{name},#{vehModelId},#{protocolId},#{packetLossRate},#{dataItemException},#{addItemIds},#{createTime},#{createBy},#{updateTime},#{updateBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_data_check_rule set
        id=id,name=#{name},veh_model_id=#{vehModelId},protocol_id=#{protocolId},packet_loss_rate=#{packetLossRate},data_item_exception=#{dataItemException},add_item_ids=#{addItemIds},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_data_check_rule
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule dcr
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                and dcr.name like CONCAT('%',#{name},'%')
            </if>
            <if test="vehModelId != null">
                and dcr.veh_model_id = #{vehModelId}
            </if>
            <if test="protocolId != null">
                and dcr.protocol_id = #{protocolId}
            </if>
        </where>
        order by dcr.update_time desc
    </select>
</mapper>
