<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.dao.DataCheckRuleItemMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DataCheckRuleItem" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dcri.id  ,dcri.check_rule_id ,dcri.data_item_id ,dcri.create_time ,dcri.create_by
    </sql>
    <sql id="moreColumns">
    dcri.id  ,dcri.check_rule_id ,dcri.data_item_id ,dcri.create_time ,dcri.create_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DataCheckRuleItem"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule_item dcri
        <where>
            dcri.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_data_check_rule_item (id,check_rule_id,data_item_id,create_time,create_by)
        values
        (#{id},#{checkRuleId},#{dataItemId},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_data_check_rule_item set
        id=id,check_rule_id=#{checkRuleId},data_item_id=#{dataItemId}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_data_check_rule_item
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 根据规则ID删除 -->
    <delete id="deleteByRuleId"  parameterType="java.util.HashMap">
        delete from
        veh_data_check_rule_item
        <where>
            check_rule_id = #{checkRuleId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        veh_data_check_rule_item dcri
        <where>
            <if test="checkRuleId != null">
                and dcri.check_rule_id = #{checkRuleId}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>

    <select id="getCheckItems" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> , di.seq_no, di.name itemName
        from
        veh_data_check_rule_item dcri
        left join dc_data_item di on dcri.data_item_id = di.id
        where dcri.check_rule_id = #{checkRuleId}
    </select>
</mapper>
