<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.mapper.DayreportMileageCheckMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DayreportMileageCheck" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <result property="licensePlate" column="license_plate" />
            <result property="interNo" column="inter_no" />
            <result property="vehModelId" column="veh_model_id" />
            <result property="operLicenseCityId" column="oper_license_city_id" />
            <result property="operUnitId" column="oper_unit_id" />
            <result property="invalidAndAbnormal" column="invalid_and_abnormal" />
            <result property="showInvalidNum" column="show_invalid_num" />
            <result property="showAbnormalNum" column="show_abnormal_num" />
            <result property="isDelete" column="is_delete" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    vdmc.id  ,vdmc.vid ,vdmc.vin ,vdmc.report_date ,vdmc.first_online_time ,vdmc.first_start_mileage ,vdmc.last_commit_time ,vdmc.last_end_mileage ,vdmc.check_data_total_num ,vdmc.invalid_num ,vdmc.abnormal_num ,vdmc.day_online_mileage ,vdmc.deduct_jump_mileage ,vdmc.deduct_current_mileage ,vdmc.day_valid_mileage ,vdmc.day_gps_mileage ,vdmc.valid_gps_deviation ,vdmc.online_valid_deviation ,vdmc.day_check_mileage ,vdmc.run_time_sum ,vdmc.charge_time_sum ,vdmc.charge_soc_min ,vdmc.power ,vdmc.charge_soc_max ,vdmc.online_time_sum ,vdmc.speed_max ,vdmc.speed_avg
    </sql>
    <sql id="moreColumns">
    vdmc.id  ,vdmc.vid ,vdmc.vin ,vdmc.report_date ,vdmc.first_online_time ,vdmc.first_start_mileage ,vdmc.last_commit_time ,vdmc.last_end_mileage ,vdmc.check_data_total_num ,vdmc.invalid_num ,vdmc.abnormal_num ,vdmc.day_online_mileage ,vdmc.deduct_jump_mileage ,vdmc.deduct_current_mileage ,vdmc.day_valid_mileage ,vdmc.day_gps_mileage ,vdmc.valid_gps_deviation ,vdmc.online_valid_deviation ,vdmc.day_check_mileage ,vdmc.run_time_sum ,vdmc.charge_time_sum ,vdmc.charge_soc_min ,vdmc.power ,vdmc.charge_soc_max ,vdmc.online_time_sum ,vdmc.speed_max ,vdmc.speed_avg
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DayreportMileageCheck"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_dayreport_mileage_check vdmc
        <where>
            vdmc.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_dayreport_mileage_check (id,vid,vin,report_date,first_online_time,first_start_mileage,last_commit_time,last_end_mileage,check_data_total_num,invalid_num,abnormal_num,day_online_mileage,deduct_jump_mileage,deduct_current_mileage,day_valid_mileage,day_gps_mileage,valid_gps_deviation,online_valid_deviation,day_check_mileage,run_time_sum,charge_time_sum,charge_soc_min,power,charge_soc_max,online_time_sum,speed_max,speed_avg)
        values
        (#{id},#{vid},#{vin},#{reportDate},#{firstOnlineTime},#{firstStartMileage},#{lastCommitTime},#{lastEndMileage},#{checkDataTotalNum},#{invalidNum},#{abnormalNum},#{dayOnlineMileage},#{deductJumpMileage},#{deductCurrentMileage},#{dayValidMileage},#{dayGpsMileage},#{validGpsDeviation},#{onlineValidDeviation},#{dayCheckMileage},#{runTimeSum},#{chargeTimeSum},#{chargeSocMin},#{power},#{chargeSocMax},#{onlineTimeSum},#{speedMax},#{speedAvg})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_dayreport_mileage_check set
        id=id,vid=#{vid},vin=#{vin},report_date=#{reportDate},first_online_time=#{firstOnlineTime},first_start_mileage=#{firstStartMileage},last_commit_time=#{lastCommitTime},last_end_mileage=#{lastEndMileage},check_data_total_num=#{checkDataTotalNum},invalid_num=#{invalidNum},abnormal_num=#{abnormalNum},day_online_mileage=#{dayOnlineMileage},deduct_jump_mileage=#{deductJumpMileage},deduct_current_mileage=#{deductCurrentMileage},day_valid_mileage=#{dayValidMileage},day_gps_mileage=#{dayGpsMileage},valid_gps_deviation=#{validGpsDeviation},online_valid_deviation=#{onlineValidDeviation},day_check_mileage=#{dayCheckMileage},run_time_sum=#{runTimeSum},charge_time_sum=#{chargeTimeSum},charge_soc_min=#{chargeSocMin},power=#{power},charge_soc_max=#{chargeSocMax},online_time_sum=#{onlineTimeSum},speed_max=#{speedMax},speed_avg=#{speedAvg}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_dayreport_mileage_check
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        vdmc.id,vdmc.vin,
        date_format(vdmc.report_date,'%Y-%m-%d') as report_date,
        date_format(vdmc.first_online_time,'%Y-%m-%d %H:%i:%s') as first_online_time,
        vdmc.first_start_mileage,
        date_format(vdmc.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time,
        vdmc.last_end_mileage,
        vdmc.check_data_total_num,vdmc.invalid_num,vdmc.abnormal_num,
        vdmc.day_online_mileage,vdmc.deduct_jump_mileage,vdmc.deduct_current_mileage,vdmc.day_valid_mileage,vdmc.day_gps_mileage,
        (vdmc.invalid_num + vdmc.abnormal_num) as invalid_and_abnormal,
        vdmc.valid_gps_deviation,
        vdmc.online_valid_deviation,
        vdmc.day_check_mileage,
        sv.is_delete*1 as is_delete,sv.inter_no,sv.license_plate,sv.oper_license_city_id,sv.oper_unit_id,sv.veh_model_id
        from
        veh_dayreport_mileage_check vdmc
        inner join sys_vehicle sv on sv.uuid = vdmc.vid
        left join sys_area area on area.id = sv.oper_license_city_id
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
            <if test="startDate != null and startDate != ''">
                and date_format(vdmc.report_date,'%Y-%m-%d') <![CDATA[ >= ]]> #{startDate,jdbcType=DATE}
            </if>
            <if test="endDate != null and endDate != ''">
                and date_format(vdmc.report_date,'%Y-%m-%d') <![CDATA[ <= ]]> #{endDate,jdbcType=DATE}
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and vdmc.vin like concat('%',#{vin},'%')
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="dayValidMileage != null and dayValidMileage != ''">
                and <![CDATA[ vdmc.day_valid_mileage > #{dayValidMileage} ]]>
            </if>
            <if test="dayGpsMileage != null and dayGpsMileage != ''">
                and <![CDATA[ vdmc.day_gps_mileage > #{dayGpsMileage} ]]>
            </if>
            <if test="dayOnlineMileage != null and dayOnlineMileage != ''">
                and <![CDATA[ vdmc.day_online_mileage > #{dayOnlineMileage} ]]>
            </if>
            <if test="dayCheckMileage != null and dayCheckMileage != ''">
                and <![CDATA[ vdmc.day_check_mileage > #{dayCheckMileage} ]]>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and vdmc.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by vdmc.last_commit_time desc,vdmc.report_date desc,sv.license_plate desc,vdmc.vin desc
    </select>

    <!-- 核查数据总条数 -->
    <select id="dataFindById" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        vdmc.id,vdmc.check_data_total_num,vdmc.invalid_num,vdmc.abnormal_num,
        concat(convert((vdmc.invalid_num / vdmc.check_data_total_num)*100,decimal(7, 4)),'%') as show_invalid_num,
        concat(convert((vdmc.abnormal_num / vdmc.check_data_total_num)*100,decimal(7, 4)),'%') as show_abnormal_num
        from
        veh_dayreport_mileage_check vdmc
        <where>
            vdmc.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
</mapper>
