<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.dao.DayreportSummaryMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DayreportSummary" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <result property="licensePlate" column="license_plate" />
            <result property="interNo" column="inter_no" />
            <result property="vehModelId" column="veh_model_id" />
            <result property="operLicenseCityId" column="oper_license_city_id" />
            <result property="operUnitId" column="oper_unit_id" />
            <result property="stage" column="stage" />
            <result property="firstRegTime" column="first_reg_time" />
            <result property="vehicleCreateTime" column="vehicle_create_time" />
            <result property="isDelete" column="is_delete" javaType="java.lang.Byte" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dsum.id  ,dsum.vid ,dsum.vin ,dsum.report_date ,dsum.append ,dsum.last_commit_time ,dsum.last_end_mileage ,dsum.monitor ,dsum.total_online_mileage ,dsum.total_gps_mileage ,dsum.total_valid_mileage ,dsum.total_check_mileage
    </sql>
    <sql id="moreColumns">
    dsum.id  ,dsum.vid ,dsum.vin ,dsum.report_date ,dsum.append ,dsum.last_commit_time ,dsum.last_end_mileage ,dsum.monitor ,dsum.total_online_mileage ,dsum.total_gps_mileage ,dsum.total_valid_mileage ,dsum.total_check_mileage
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DayreportSummary"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_dayreport_summary dsum
        <where>
            dsum.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_dayreport_summary (id,vid,vin,report_date,append,last_commit_time,last_end_mileage,monitor,total_online_mileage,total_gps_mileage,total_valid_mileage,total_check_mileage)
        values
        (#{id},#{vid},#{vin},#{reportDate},#{append},#{lastCommitTime},#{lastEndMileage},#{monitor},#{totalOnlineMileage},#{totalGpsMileage},#{totalValidMileage},#{totalCheckMileage})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_dayreport_summary set
        id=id,vid=#{vid},vin=#{vin},report_date=#{reportDate},append=#{append},last_commit_time=#{lastCommitTime},last_end_mileage=#{lastEndMileage},monitor=#{monitor},total_online_mileage=#{totalOnlineMileage},total_gps_mileage=#{totalGpsMileage},total_valid_mileage=#{totalValidMileage},total_check_mileage=#{totalCheckMileage}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_dayreport_summary
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 总里程统计 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        dsum.vin,
        dsum.last_end_mileage,
        dsum.total_online_mileage,
        dsum.total_gps_mileage,
        dsum.total_valid_mileage,
        dsum.total_check_mileage,
        dsum.last_commit_time,
        sv.create_time as vehicle_create_time,
        sv.is_delete,
        sv.license_plate,
        sv.inter_no,
        sv.veh_model_id,
        sv.oper_license_city_id,
        sv.oper_unit_id,
        sv.stage,
        area.path,
        svrs.first_reg_time
        from
        sys_vehicle sv
        inner join veh_dayreport_summary dsum on dsum.vid = sv.uuid and dsum.report_date = date_format(#{endDate},'%Y-%m-%d')
        left join sys_area area on area.id = sv.oper_license_city_id
        left join sys_vehicle_real_status svrs on svrs.vehicle_id = sv.id
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and dsum.vin like concat('%',#{vin},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[ dsum.last_commit_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[ dsum.last_commit_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="interNo != null and interNo != ''">
                and sv.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="lastEndMileage != null and lastEndMileage != ''">
                and <![CDATA[ dsum.last_end_mileage > #{lastEndMileage} ]]>
            </if>
            <if test="totalValidMileage != null and totalValidMileage != ''">
                and <![CDATA[ dsum.total_valid_mileage > #{totalValidMileage} ]]>
            </if>
            <if test="totalGpsMileage != null and totalGpsMileage != ''">
                and <![CDATA[ dsum.total_gps_mileage > #{totalGpsMileage} ]]>
            </if>
            <if test="totalOnlineMileage != null and totalOnlineMileage != ''">
                and <![CDATA[ dsum.total_online_mileage > #{totalOnlineMileage} ]]>
            </if>
            <if test="totalCheckMileage != null and totalCheckMileage != ''">
                and <![CDATA[ dsum.total_check_mileage > #{totalCheckMileage} ]]>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and dsum.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by dsum.last_commit_time desc
    </select>

    <!-- 里程分布统计 -->
    <select id="countMileageMonthly" resultType="com.bitnei.cloud.veh.model.MileageMonitorModel" parameterType="java.util.HashMap">
        select
        #{endTime} as end_time,
        sv.oper_unit_id,
        count(1) as all_monitor_vehicle,
        sum(f) as all_operate_vehicle,
        sum(a) as more_than_three,
        sum(b) as between_two_and_three,
        sum(c) as between_one_and_two,
        sum(d) as between_half_and_one,
        sum(e) as less_than_half
        from
        veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid and sv.oper_unit_id is not null and sv.oper_unit_id != ''
        left join(
        select
        dsum.vid,
        <![CDATA[
        (case when dsum.last_end_mileage>=30000 then 1 else 0 end ) as a,
        (case when dsum.last_end_mileage>=20000 and  dsum.last_end_mileage<30000  then 1 else 0  end ) as b,
        (case when dsum.last_end_mileage>=10000 and  dsum.last_end_mileage<20000 then 1 else 0  end ) as c,
        (case when dsum.last_end_mileage>=500 and  dsum.last_end_mileage<10000 then 1 else 0  end ) as d,
        (case when dsum.last_end_mileage is null  or dsum.last_end_mileage<500    then 1 else 0  end ) as e,
        (case when (dsum.last_end_mileage - ( case when  ndsum.last_end_mileage is null then 0 else ndsum.last_end_mileage end ))>500 then 1 else 0 end ) as f
        ]]>
        from veh_dayreport_summary dsum
        left join veh_dayreport_summary ndsum on ndsum.vid=dsum.vid  and ndsum.report_date= #{date2}
        where dsum.report_date = #{endTime}
        ) ag on ag.vid = dsum.vid
        where dsum.report_date = #{endTime}
        <if test="operUnitId != null and operUnitId != ''">
            and sv.oper_unit_id = #{operUnitId}
        </if>
        group by sv.oper_unit_id
        order by a desc ,b desc ,c desc ,d desc ,e desc
    </select>

    <!-- 单位里程分布月统计 -->
    <select id="countMileageMonthlyByUnit" resultType="com.bitnei.cloud.veh.model.MileageMonitorModel" parameterType="java.util.HashMap">
        select
        cs.tie as end_time,
        cs.oper_unit_id,
        cs.all_monitor_vehicle,
        ag.all_operate_vehicle,
        ag.more_than_three,
        ag.between_two_and_three,
        ag.between_one_and_two,
        ag.between_half_and_one,
        ag.less_than_half
        from
        (select count(1) as all_monitor_vehicle,bd.tie,bd.oper_unit_id from (
        select count(1), date_format(dsum3.report_date,'%Y-%m')  as tie,sv.oper_unit_id
        from veh_dayreport_summary dsum3
        inner join sys_vehicle sv on sv.uuid = dsum3.vid
        where sv.oper_unit_id = #{operUnitId}
        group by date_format(dsum3.report_date,'%Y-%m') ,sv.uuid
        ) bd group by bd.tie ) cs
        left join
        ( select
        abc.report_date,
        abc.oper_unit_id,
        sum(abc.a) as more_than_three,
        sum(abc.b) as between_two_and_three,
        sum(abc.c) as between_one_and_two,
        sum(abc.d) as between_half_and_one,
        sum(abc.e) as less_than_half,
        sum(abc.f) as all_operate_vehicle
        from
        (select
        sv.veh_model_id,date_format(dsum2.report_date,'%Y-%m') as report_date,sv.uuid,sv.oper_unit_id,sv.license_plate,
        <![CDATA[
        (case when max(dsum2.last_end_mileage)>=30000 then 1 else 0 end ) as a,
        (case when max(dsum2.last_end_mileage)>=20000 and  max(dsum2.last_end_mileage)<30000  then 1 else 0  end ) as b,
        (case when max(dsum2.last_end_mileage)>=10000 and  max(dsum2.last_end_mileage)<20000 then 1 else 0  end ) as c,
        (case when max(dsum2.last_end_mileage)>=500 and  max(dsum2.last_end_mileage)<10000 then 1 else 0  end ) as d,
        (case when max(dsum2.last_end_mileage) is null  or max(dsum2.last_end_mileage) <500   then 1 else 0  end ) as e,
        (case when (max(dsum2.last_end_mileage) - ( case when  ndsum.last_end_mileage is null then 0 else ndsum.last_end_mileage end ))>500 then 1 else 0 end ) as f
        ]]>
        from veh_dayreport_summary dsum2
        inner join sys_vehicle sv on sv.uuid = dsum2.vid
        left join veh_dayreport_summary ndsum on ndsum.vid=dsum2.vid  and ndsum.report_date= DATE_ADD((concat(date_format(dsum2.report_date,'%Y-%m'),'-01')),interval -1 day)
        where sv.oper_unit_id= #{operUnitId}
        group by date_format(dsum2.report_date,'%Y-%m'),sv.uuid ) abc
        group by abc.report_date
        ) ag on ag.oper_unit_id = cs.oper_unit_id and ag.report_date = cs.tie
        order by cs.tie desc
    </select>

    <!-- 统计车辆详情 -->
    <select id="detailsVehicle" resultType="com.bitnei.cloud.veh.model.DetailsVehicleModel" parameterType="java.util.HashMap">

        select
        sv.is_delete*1 as is_delete,sv.vin,sv.license_plate,sv.inter_no,sv.oper_license_city_id,sv.oper_unit_id,sv.stage,sv.create_time as vehicle_create_time,
        svrs.first_reg_time,
        date_format(ndsum.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time,
        ndsum.last_end_mileage,
        ndsum.total_online_mileage,
        ndsum.total_gps_mileage,
        ndsum.total_valid_mileage,
        ndsum.total_check_mileage
        from
        veh_dayreport_summary ndsum
        inner join sys_vehicle sv on sv.uuid = ndsum.vid
        left join sys_vehicle_real_status svrs on svrs.vehicle_id = sv.id
        left join sys_veh_model svm on svm.id = sv.veh_model_id
      <where>
          ndsum.report_date = #{endTime}
          and sv.oper_unit_id = #{operUnitId}
        <if test="data1 != null ">
            and  <![CDATA[ ndsum.last_end_mileage >= #{data1} ]]>
        </if>
        <if test="data2 != null and data3 != null and data2 != '' and data3 != ''">
            and  <![CDATA[ ( ndsum.last_end_mileage is null  or ndsum.last_end_mileage < #{data2} ) ]]>
        </if>
        <if test="data2 != null and data3 == null">
            and  <![CDATA[ ndsum.last_end_mileage < #{data2} ]]>
        </if>
        <if test="vehModelName != null and vehModelName != ''">
            and svm.veh_model_name like concat('%',#{vehModelName},'%')
        </if>
        <if test="stage != null and stage != ''">
            and sv.stage = #{stage}
        </if>
        <if test="lastEndMileage != null and lastEndMileage != ''">
            and <![CDATA[ ndsum.last_end_mileage > #{lastEndMileage} ]]>
        </if>
        <if test="totalOnlineMileage != null and totalOnlineMileage != ''">
            and <![CDATA[ ndsum.total_online_mileage > #{totalOnlineMileage} ]]>
        </if>
        <if test="totalGpsMileage != null and totalGpsMileage != ''">
            and <![CDATA[ ndsum.total_gps_mileage > #{totalGpsMileage} ]]>
        </if>
        <if test="totalValidMileage != null and totalValidMileage != ''">
            and <![CDATA[ ndsum.total_valid_mileage > #{totalValidMileage} ]]>
        </if>
        <if test="totalCheckMileage != null and totalCheckMileage != ''">
            and <![CDATA[ ndsum.total_check_mileage > #{totalCheckMileage} ]]>
        </if>
      </where>
    </select>

    <!-- 单位里程分布月统计车辆详情 -->
    <select id="detailsVehicleByUnit" resultType="com.bitnei.cloud.veh.model.DetailsVehicleModel" parameterType="java.util.HashMap">
        select
            dsum.vin,sv.is_delete*1 as is_delete,sv.license_plate,sv.inter_no,sv.oper_license_city_id,sv.oper_unit_id,sv.stage,sv.create_time as vehicle_create_time,
            svrs.first_reg_time,
            date_format(max(dsum.last_commit_time),'%Y-%m-%d %H:%i:%s') as last_commit_time,
            max(dsum.last_end_mileage) as last_end_mileage,
            max(dsum.total_online_mileage) as total_online_mileage,
            max(dsum.total_gps_mileage) as total_gps_mileage,
            max(dsum.total_valid_mileage) as total_valid_mileage,
            max(dsum.total_check_mileage) as total_check_mileage
			from veh_dayreport_summary dsum
			inner join sys_vehicle sv on sv.uuid = dsum.vid
			left join sys_vehicle_real_status svrs on svrs.vehicle_id = sv.id
			inner join (
			select ag.vid,ag.last_end_mileage from(
			  select
                sv.license_plate,dsum.vid,
                max(dsum.last_end_mileage) as last_end_mileage
                from veh_dayreport_summary dsum
                inner join sys_vehicle sv on sv.uuid = dsum.vid
                where sv.oper_unit_id=#{operUnitId}
				and date_format(dsum.report_date,'%Y-%m') = date_format(#{endTime},'%Y-%m')
                group by date_format(dsum.report_date,'%Y-%m'),dsum.vid
				) ag
        <where>
            <if test="data11 != null and data11 != ''">
                <![CDATA[ and last_end_mileage >= 30000 ]]>
            </if>
            <if test="data22 != null and data22 != ''">
                <![CDATA[ and last_end_mileage >= 20000 and last_end_mileage < 30000 ]]>
            </if>
            <if test="data33 != null and data33 != ''">
                <![CDATA[ and last_end_mileage >= 10000 and last_end_mileage < 20000 ]]>
            </if>
            <if test="data44 != null and data44 != ''">
                <![CDATA[ and last_end_mileage >= 500 and last_end_mileage < 10000 ]]>
            </if>
            <if test="data55 != null and data55 != ''">
                <![CDATA[ and last_end_mileage < 500 or last_end_mileage is null ]]>
            </if>
        </where>
				) ntb on dsum.vid = ntb.vid
        <where>
            date_format(dsum.report_date,'%Y-%m') = date_format(#{endTime},'%Y-%m')

            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="lastEndMileage != null and lastEndMileage != ''">
                <![CDATA[ and last_end_mileage > #{lastEndMileage} ]]>
            </if>
            <if test="totalOnlineMileage != null and totalOnlineMileage != ''">
                <![CDATA[ and total_online_mileage > #{totalOnlineMileage} ]]>
            </if>
            <if test="totalGpsMileage != null and totalGpsMileage != ''">
                <![CDATA[ and total_gps_mileage > #{totalGpsMileage} ]]>
            </if>
            <if test="totalValidMileage != null and totalValidMileage != ''">
                <![CDATA[ and total_valid_mileage > #{totalValidMileage} ]]>
            </if>
            <if test="totalCheckMileage != null and totalCheckMileage != ''">
                <![CDATA[ and total_check_mileage > #{totalCheckMileage} ]]>
            </if>
        </where>
			group by dsum.vid
    </select>

    <!-- 车辆行驶情况统计 -->
    <select id="pagerMode2" resultType="com.bitnei.cloud.veh.model.VehicleTravelModel" parameterType="java.util.HashMap">
        select
        date_format(dsum.report_date,'%Y-%m-%d') as report_date,
        sum(vdr.run_time_sum) as day_travel_time,
        sum(vdr.run_km) as day_run_km,
        g.veh_online_count,
        g.single_charge_max_mileage as once_charge_max_mileage
        from
        veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid
        left join veh_dayreport_runstate vdr on (date_format(dsum.report_date, '%Y-%m-%d') = date_format(vdr.report_time, '%Y-%m-%d') and dsum.vid=vdr.vid)
        left join
        (select h.report_date,max(h.single_charge_max_mileage) as single_charge_max_mileage,sum(h.coun) as veh_online_count from (
        select q.report_date,q.single_charge_max_mileage,
        (case when q.daily_active_total_time <![CDATA[ > ]]> 0 then 1 else 0 end) coun
        from (
        select vde.report_date,max(vde.single_charge_max_mileage) as single_charge_max_mileage,
        sum(vde.daily_active_total_time) as daily_active_total_time
        from veh_dayreport_expansion vde
        where
        date_format(vde.report_date, '%Y-%m-%d')<![CDATA[ >= ]]> #{startDate,jdbcType=DATE}
        and date_format(vde.report_date, '%Y-%m-%d')<![CDATA[ <= ]]> #{endDate,jdbcType=DATE}
        group by vde.report_date,vde.vid
        ) q  )h group by h.report_date) g on g.report_date = dsum.report_date
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="startDate != null and startDate != ''">
                and <![CDATA[dsum.report_date >= #{startDate,jdbcType=DATE} ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                and <![CDATA[dsum.report_date <= #{endDate,jdbcType=DATE} ]]>
            </if>
        </where>
        group by dsum.report_date
        order by dsum.report_date desc
    </select>

    <!--长期闲置车辆数&可监控车辆数-->
    <select id="idleAndMonitorVehicle" resultType="com.bitnei.cloud.veh.model.IdleVehicleCountModel" parameterType="java.util.HashMap">
        select
        (select count(1) from(select b.vid from
        sys_vehicle sv9
        inner join(select dsum.vid from
        veh_dayreport_summary dsum
        where  <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') >= #{startDate,jdbcType=DATE}
        and date_format(dsum.report_date,'%Y-%m-%d') <= #{endDate,jdbcType=DATE} ]]>
        group by dsum.vid) b on sv9.uuid = b.vid) as all_veh) as all_monitor_vehicle,
        count(1) as idle_veh_num
        from
        (select b. all_run_km
        from sys_vehicle sv
        inner join (select vdr.vid,sum(vdr.run_km) as all_run_km
        from veh_dayreport_runstate vdr
        where <![CDATA[ date_format(vdr.report_time,'%Y-%m-%d') >= #{startDate,jdbcType=DATE} ]]>
        and <![CDATA[ date_format(vdr.report_time,'%Y-%m-%d') <= #{endDate,jdbcType=DATE} ]]>
        group by vdr.vid) b on b.vid = sv.uuid
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and sv.oper_license_city_id = #{operLicenseCityId}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        ) a
        where  <![CDATA[ a.all_run_km < #{idleMileageValue} ]]>
    </select>

    <!--闲置车辆详情-->
    <select id="idleVehicleDetails" resultOrdered="true" resultType="com.bitnei.cloud.veh.model.IdleVehicleCountModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.vin,sv.license_plate,sv.inter_no,sv.oper_license_city_id,sv.veh_model_id,sv.stage,sv.create_time as vehicle_create_time,sv.oper_unit_id,
        b.vid,
        round(b.idle_mileage,2) as idle_mileage,
        date_format(b.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time,
        b.last_end_mileage,
        b.report_time
        from
        sys_vehicle sv
        inner join (
        select vdr.vid,sum(vdr.run_km) as idle_mileage,
        max(dsum.last_commit_time) as last_commit_time,
        max(dsum.last_end_mileage) as last_end_mileage,
        date_format(vdr.report_time,'%Y-%m-%d %H:%i:%s') as report_time
        from veh_dayreport_runstate vdr
        left join veh_dayreport_summary dsum on date_format(dsum.report_date,'%Y-%m-%d') = date_format(vdr.report_time,'%Y-%m-%d') and dsum.vid = vdr.vid
        where <![CDATA[ date_format(vdr.report_time,'%Y-%m-%d') >= #{startDate,jdbcType=DATE} ]]>
        and <![CDATA[ date_format(vdr.report_time,'%Y-%m-%d') <= #{endDate,jdbcType=DATE} ]]>
        group by vdr.vid )b on b.vid = sv.uuid
        left join sys_area area on area.id = sv.oper_license_city_id
        <where>
            <![CDATA[ b.idle_mileage < #{idleMileageValue} ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="idleMileage != null and idleMileage != ''">
                and b.idle_mileage > #{idleMileage}
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by b.report_time desc
    </select>

    <!-- 车辆监控情况统计-->
    <select id="vehicleMonitoring" resultType="com.bitnei.cloud.veh.model.VehicleMonitoringModel" parameterType="java.util.HashMap">
        select
        date_format(dsum.report_date,'%Y-%m-%d') as report_date,
               count(1) all_vehicle,
        count(dsum.append = 1 or null) as new_veh_count,
        count(vde.daily_active_total_time > 0 or null) as day_active_count,
        sum(vde.daily_active_total_time) as all_daily_active_total_time,
        count(dsum.last_commit_time <![CDATA[ < ]]> concat(date_format(dsum.report_date,'%Y-%m-%d'),' 00:00:00') or null) as not_online_count,
        tt.abnormal_mileage_count as abnormal_mileage_count
        from veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid
        left join veh_dayreport_expansion vde on vde.report_date = dsum.report_date and vde.vid = dsum.vid
        left join (
        select count(1) as abnormal_mileage_count ,dsum2.report_date
        from veh_dayreport_summary dsum2
        inner join sys_vehicle sv7 on sv7.uuid = dsum2.vid
        left join veh_dayreport_abnormal_situation vdas on vdas.report_date = dsum2.report_date and vdas.vid = dsum2.vid and vdas.type = 2
        left join veh_dayreport_mileage_check vdmc on vdmc.report_date = dsum2.report_date and vdmc.vid = dsum2.vid
        <where>
            (vdas.abnormal_num/vdmc.check_data_total_num) > 0.05
            <if test="startDate != null and startDate != ''">
                and <![CDATA[ date_format(dsum2.report_date,'%Y-%m-%d') >= #{startDate,jdbcType=DATE} ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                and <![CDATA[ date_format(dsum2.report_date,'%Y-%m-%d') <= #{endDate,jdbcType=DATE} ]]>
            </if>
        </where>
        group by dsum2.report_date
        ) tt on tt.report_date = dsum.report_date
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="startDate != null and startDate != ''">
                and <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') >= #{startDate,jdbcType=DATE} ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                and <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') <= #{endDate,jdbcType=DATE} ]]>
            </if>
        </where>
        group by dsum.report_date
        order by dsum.report_date desc
    </select>

    <!-- 监控车辆情况统计-车辆录入总数车辆详情 type-1 -->
    <select id="vehicleByAll" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.license_plate,sv.vin,sv.veh_model_id,sv.manu_unit_id,sv.oper_unit_id,sv.oper_license_city_id,sv.sell_date,
        sv.stage,sv.create_time as vehicle_create_time,sv.inter_no,
        date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from sys_vehicle sv
        left join veh_dayreport_summary dsum on dsum.vid = sv.uuid and <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') = #{endDate} ]]>
        <where>
            <![CDATA[ date_format(sv.create_time,'%Y-%m-%d') <= #{endDate} ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>

    <!-- 监控车辆情况统计-当日新增车辆详情 type-2 -->
    <select id="vehicleByNew" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.license_plate,dsum.vin,sv.veh_model_id,sv.manu_unit_id,sv.oper_unit_id,sv.oper_license_city_id,sv.sell_date,
        sv.stage,sv.create_time as vehicle_create_time,sv.inter_no,
        date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid
        <where>
            (dsum.append = 1 or null)
            and <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') = #{endDate} ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>

    <!-- 监控车辆情况统计-当天活跃车辆详情 type-3 -->
    <select id="vehicleByActive" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.license_plate,vde.vin,sv.veh_model_id,sv.manu_unit_id,sv.oper_unit_id,sv.oper_license_city_id,sv.sell_date,
        sv.stage,sv.create_time as vehicle_create_time,sv.inter_no,
        date_format(vde.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from veh_dayreport_expansion vde
        inner join sys_vehicle sv on sv.uuid = vde.vid
        <where>
            (vde.daily_active_total_time >0 or null)
            and <![CDATA[ date_format(vde.report_date,'%Y-%m-%d') = #{endDate} ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by date_format(vde.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>

    <!-- 监控车辆情况统计-通讯异常车辆详情 type-4 -->
    <select id="vehicleByOnlineAbnormal" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.license_plate,dsum.vin,sv.veh_model_id,sv.manu_unit_id,sv.oper_unit_id,sv.oper_license_city_id,sv.sell_date,
        sv.stage,sv.create_time as vehicle_create_time,sv.inter_no,
        date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid
        <where>
            <![CDATA[ dsum.last_commit_time < concat(#{endDate},' 00:00:00')
            and date_format(dsum.report_date,'%Y-%m-%d') = #{endDate} ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>

    <!-- 监控车辆情况统计-里程异常车辆详情-type5 -->
    <select id="vehicleByMileageAbnormal" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,sv.license_plate,dsum.vin,sv.veh_model_id,sv.oper_license_city_id,sv.stage,sv.create_time as vehicle_create_time,sv.inter_no,
        sv.manu_unit_id,sv.oper_unit_id,sv.sell_date,
        date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from veh_dayreport_summary dsum
        inner join sys_vehicle sv on sv.uuid = dsum.vid
        left join veh_dayreport_abnormal_situation vdas on date_format(vdas.report_date,'%Y-%m-%d') = date_format(dsum.report_date,'%Y-%m-%d') and vdas.vid = dsum.vid and vdas.type = 2
        left join veh_dayreport_mileage_check vdmc on date_format(vdmc.report_date,'%Y-%m-%d') = date_format(dsum.report_date,'%Y-%m-%d') and vdmc.vid = dsum.vid
        <where>
            <![CDATA[ date_format(dsum.report_date,'%Y-%m-%d') = #{endDate} and (vdas.abnormal_num/vdmc.check_data_total_num) > 0.05 ]]>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        order by date_format(dsum.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>
</mapper>
