<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.dao.DayreportItemAbnormalMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DayreportItemAbnormal" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- 车辆型号 -->
            <result property="vehModelName" column="veh_model_name" />
            <!-- 车辆厂商id -->
            <result property="vehUnitId" column="veh_unit_id" />
            <!-- 运营性质 -->
            <result property="operUseType" column="oper_use_type" />
            <!-- 运营车主 -->
            <result property="operVehOwnerName" column="oper_veh_owner_name" />
            <!-- 运营单位 -->
            <result property="operUnitName" column="oper_unit_name" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dia.id  ,dia.vid ,dia.vin ,dia.report_date ,dia.veh_status_num ,dia.charge_status_num ,dia.speed_num ,dia.mileage_num ,dia.total_voltage_num ,dia.total_current_num ,dia.soc_num ,dia.driver_motor_num ,dia.fuel_cell_num ,dia.engine_num ,dia.location_num ,dia.extreme_num ,dia.alarm_num, dia.last_commit_time
    </sql>
    <sql id="moreColumns">
    dia.id  ,dia.vid ,dia.vin ,dia.report_date ,dia.veh_status_num ,dia.charge_status_num ,dia.speed_num ,dia.mileage_num ,dia.total_voltage_num ,dia.total_current_num ,dia.soc_num ,dia.driver_motor_num ,dia.fuel_cell_num ,dia.engine_num ,dia.location_num ,dia.extreme_num ,dia.alarm_num, dia.last_commit_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DayreportItemAbnormal"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_dayreport_item_abnormal dia
        <where>
            dia.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_dayreport_item_abnormal (id,vid,vin,report_date,veh_status_num,charge_status_num,speed_num,mileage_num,total_voltage_num,total_current_num,soc_num,driver_motor_num,fuel_cell_num,engine_num,location_num,extreme_num,alarm_num)
        values
        (#{id},#{vid},#{vin},#{reportDate},#{vehStatusNum},#{chargeStatusNum},#{speedNum},#{mileageNum},#{totalVoltageNum},#{totalCurrentNum},#{socNum},#{driverMotorNum},#{fuelCellNum},#{engineNum},#{locationNum},#{extremeNum},#{alarmNum})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_dayreport_item_abnormal set
        id=id,vid=#{vid},vin=#{vin},report_date=#{reportDate},veh_status_num=#{vehStatusNum},charge_status_num=#{chargeStatusNum},speed_num=#{speedNum},mileage_num=#{mileageNum},total_voltage_num=#{totalVoltageNum},total_current_num=#{totalCurrentNum},soc_num=#{socNum},driver_motor_num=#{driverMotorNum},fuel_cell_num=#{fuelCellNum},engine_num=#{engineNum},location_num=#{locationNum},extreme_num=#{extremeNum},alarm_num=#{alarmNum}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_dayreport_item_abnormal
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        svm.veh_model_name, svm.veh_unit_id, sv.oper_use_type,
        svo.owner_name AS oper_veh_owner_name,
        su.`name` AS oper_unit_name,
        <include refid="moreColumns"/>
        from
        veh_dayreport_item_abnormal dia
        INNER JOIN sys_vehicle sv ON dia.vid = sv.uuid
        INNER JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_owner svo ON svo.id = sv.oper_veh_owner_id
        LEFT JOIN sys_unit su ON su.id = sv.oper_unit_id
        <where>
            <if test="authSQL != null">
              <include refid="authSQL"/>
            </if>
            <if test="vin != null and vin != ''">
              and dia.vin like CONCAT('%',#{vin},'%')
            </if>
            <if test="vehModelId != null and vehModelId != ''">
              and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="vehUnitId != null and vehUnitId != ''">
              and svm.veh_unit_id = #{vehUnitId}
            </if>
            <if test="operVehOwnerName != null and operVehOwnerName != ''">
              and svo.owner_name like CONCAT('%',#{operVehOwnerName},'%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
              and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="startTime != null and startTime != ''">
                and <![CDATA[ dia.last_commit_time >= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[ dia.last_commit_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
        </where>
        order by dia.report_date desc
    </select>
</mapper>
