<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.mapper.DayreportChargestateMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DayreportChargestate" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    vdch.id  ,vdch.report_time ,vdch.vid ,vdch.charge_time_sum ,vdch.charge_times ,vdch.charge_consume ,vdch.charge_con_100km ,vdch.charge_time_max ,vdch.charge_time_avg ,vdch.charge_vol_max ,vdch.charge_vol_min ,vdch.charge_cur_max ,vdch.charge_cur_min ,vdch.charge_soc_max ,vdch.charge_soc_min ,vdch.charge_svol_max ,vdch.charge_svol_min ,vdch.charge_cptemp_max ,vdch.charge_cptemp_min ,vdch.charge_engtemp_max ,vdch.charge_engtemp_min ,vdch.charge_sconsume_max ,vdch.charge_sconsume_avg
    </sql>
    <sql id="moreColumns">
    vdch.id  ,vdch.report_time ,vdch.vid ,vdch.charge_time_sum ,vdch.charge_times ,vdch.charge_consume ,vdch.charge_con_100km ,vdch.charge_time_max ,vdch.charge_time_avg ,vdch.charge_vol_max ,vdch.charge_vol_min ,vdch.charge_cur_max ,vdch.charge_cur_min ,vdch.charge_soc_max ,vdch.charge_soc_min ,vdch.charge_svol_max ,vdch.charge_svol_min ,vdch.charge_cptemp_max ,vdch.charge_cptemp_min ,vdch.charge_engtemp_max ,vdch.charge_engtemp_min ,vdch.charge_sconsume_max ,vdch.charge_sconsume_avg
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.veh.domain.DayreportChargestate"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        veh_dayreport_chargestate vdch
        <where>
            vdch.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        veh_dayreport_chargestate (id,report_time,vid,charge_time_sum,charge_times,charge_consume,charge_con_100km,charge_time_max,charge_time_avg,charge_vol_max,charge_vol_min,charge_cur_max,charge_cur_min,charge_soc_max,charge_soc_min,charge_svol_max,charge_svol_min,charge_cptemp_max,charge_cptemp_min,charge_engtemp_max,charge_engtemp_min,charge_sconsume_max,charge_sconsume_avg)
        values
        (#{id},#{reportTime},#{vid},#{chargeTimeSum},#{chargeTimes},#{chargeConsume},#{chargeCon100km},#{chargeTimeMax},#{chargeTimeAvg},#{chargeVolMax},#{chargeVolMin},#{chargeCurMax},#{chargeCurMin},#{chargeSocMax},#{chargeSocMin},#{chargeSvolMax},#{chargeSvolMin},#{chargeCptempMax},#{chargeCptempMin},#{chargeEngtempMax},#{chargeEngtempMin},#{chargeSconsumeMax},#{chargeSconsumeAvg})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update veh_dayreport_chargestate set
        id=id,report_time=#{reportTime},vid=#{vid},charge_time_sum=#{chargeTimeSum},charge_times=#{chargeTimes},charge_consume=#{chargeConsume},charge_con_100km=#{chargeCon100km},charge_time_max=#{chargeTimeMax},charge_time_avg=#{chargeTimeAvg},charge_vol_max=#{chargeVolMax},charge_vol_min=#{chargeVolMin},charge_cur_max=#{chargeCurMax},charge_cur_min=#{chargeCurMin},charge_soc_max=#{chargeSocMax},charge_soc_min=#{chargeSocMin},charge_svol_max=#{chargeSvolMax},charge_svol_min=#{chargeSvolMin},charge_cptemp_max=#{chargeCptempMax},charge_cptemp_min=#{chargeCptempMin},charge_engtemp_max=#{chargeEngtempMax},charge_engtemp_min=#{chargeEngtempMin},charge_sconsume_max=#{chargeSconsumeMax},charge_sconsume_avg=#{chargeSconsumeAvg}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        veh_dayreport_chargestate
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultType="com.bitnei.cloud.veh.model.ChargeAndConsumePowerModel" parameterType="java.util.HashMap">
        select
        date_format(vdch.report_time,'%Y-%m-%d') as report_time,
        count((vdch.charge_time_sum > 0) or null) as charge_veh_count,
        sum(vdch.charge_times) as charge_count,
        round(sum(vdch.charge_time_sum),2) as charge_time_count,
        round(((sum(vdch.charge_times)) / (count((vdch.charge_time_sum > 0) or null))),2) as charge_avg,
        round(((sum(vdch.charge_time_sum)) / (sum(vdch.charge_times))),2) as charge_time_once_avg,
        max(vdch.charge_time_max) as long_charge_time_max,
        round(sum(vdch.charge_consume),2) as all_charge_consume,
        round(((sum(vdch.charge_consume)) / (count((vdch.charge_time_sum > 0) or null))),2) as consume_power_once_avg,
        sum(vdch.fast_charge_number) as fast_charge_number,
        sum(vdch.trickle_charge_number) as trickle_charge_number,
        round(sum(vdch.fast_charge_time),2) as fast_charge_time,
        round(sum(vdch.trickle_charge_time),2) as trickle_charge_time
        from
        veh_dayreport_chargestate vdch
        inner join sys_vehicle sv on sv.uuid = vdch.vid
        left join sys_area sa ON sa.id = sv.oper_area_id
        left join sys_veh_model svm ON svm.id = sv.veh_model_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="startDate != null and startDate != ''">
                and <![CDATA[vdch.report_time >= #{startDate,jdbcType=DATE} ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                and <![CDATA[vdch.report_time <= #{endDate,jdbcType=DATE} ]]>
            </if>
            <!-- 运营区域 -->
            <if test="operAreaIds != null">
                and
                <foreach collection="operAreaIds" index="index" item="item" open="(" separator="or" close=")">
                    sa.path like CONCAT('%/', #{item}, '/%')
                </foreach>
            </if>
            <!-- 车辆型号ID -->
            <if test="vehModelIds != null">
                AND svm.id in
                <foreach collection="vehModelIds" index="index" item="item2" open="(" separator="," close=")">
                    #{item2}
                </foreach>
            </if>
            <!-- 车辆用途 -->
            <if test="operUseFors != null">
                AND sv.oper_use_for in
                <foreach collection="operUseFors" index="index" item="item3" open="(" separator="," close=")">
                    #{item3}
                </foreach>
            </if>
        </where>
        group by date_format(vdch.report_time,'%Y-%m-%d')
        order by vdch.report_time desc
    </select>

    <select id="findVehicle" resultType="com.bitnei.cloud.veh.model.VehicleDetailsModel" parameterType="java.util.HashMap">
        select
        sv.is_delete*1 as is_delete,
        sv.license_plate,
        sv.vin,
        sv.veh_model_id,
        sv.manu_unit_id,
        sv.oper_unit_id,
        sv.oper_license_city_id,
        sv.sell_date,
        sv.stage,
        sv.create_time as vehicle_create_time,
        sv.inter_no,
        date_format(vds.last_commit_time,'%Y-%m-%d %H:%i:%s') as last_commit_time
        from veh_dayreport_chargestate vdch
        inner join sys_vehicle sv on sv.uuid = vdch.vid
        left join veh_dayreport_summary vds on vds.vid = vdch.vid and date_format(vds.report_date,'%Y-%m-%d') = date_format(vdch.report_time,'%Y-%m-%d')
        <where>
            vdch.charge_time_sum > 0
            <if test="startDate != null and startDate != ''">
                and <![CDATA[vdch.report_time >= #{startDate,jdbcType=DATE} ]]>
            </if>
            <if test="endDate != null and endDate != ''">
                and <![CDATA[vdch.report_time <= #{endDate,jdbcType=DATE} ]]>
            </if>
            <if test="stage != null and stage != ''">
                and sv.stage = #{stage}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
        </where>
        group by date_format(vdch.report_time,'%Y-%m-%d'),vdch.vid
        order by date_format(vds.last_commit_time,'%Y-%m-%d %H:%i:%s') desc
    </select>
</mapper>
