<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.veh.mapper.DayVehMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.veh.domain.DayVeh" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        <if test="authSQL != null and '' != authSQL">
            and ${authSQL}
        </if>
    </sql>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        SELECT
        ve.report_date,
        veh.inter_no,
        veh.vin,
        veh.license_plate,
        svm.veh_model_name,
        svm.notice_id,
        vn.name AS notice_display,
        veh.manu_unit_id,
        manu.name AS manu_unit_display,
        veh.oper_unit_id,
        oper.name AS oper_unit_display,
        veh.oper_license_city_id,
        area.name AS oper_license_city_display,
        veh.create_time,
        veh.sell_date,

        ve.daily_active_total_time,
        vr.run_time_sum,
        vr.run_times,
        vr.run_km,
        vr.run_km_max,
        vmc.last_end_mileage,
        vc.charge_times,
        vc.charge_time_sum,
        vc.charge_time_max,
        ve.single_charge_max_mileage,
        vr.run_speed_max,
        vr.run_speed_avg,
        vc.charge_consume,
        vc.charge_con_100km,
        vc.charge_sconsume_max,
        DATE_FORMAT(vmc.last_commit_time, '%Y-%m-%d %H:%i:%s') AS last_commit_time
        FROM(
        select * from veh_dayreport_expansion vde
        <if test="startDate != null and endDate != null">
            where
            vde.report_date <![CDATA[>=]]> #{startDate}
            AND vde.report_date <![CDATA[<=]]> #{endDate}
            AND vde.daily_active_total_time<![CDATA[>]]>0
        </if>
        ) ve
        INNER JOIN (
        select *
        from
        sys_vehicle sv
        <where>
            sv.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        ) veh ON ve.vid=veh.uuid
        LEFT JOIN sys_veh_model svm ON veh.veh_model_id = svm.id
        LEFT JOIN (
        SELECT *
        FROM
        veh_dayreport_mileage_check vdmc
        <if test="startDate != null and endDate != null">
            WHERE
            vdmc.report_date <![CDATA[>=]]> #{startDate}
            AND vdmc.report_date <![CDATA[<=]]> #{endDate}
        </if>
        ) vmc on ve.vid = vmc.vid AND date_format(ve.report_date, '%Y-%m-%d') = date_format(vmc.report_date, '%Y-%m-%d')
        LEFT JOIN (
        SELECT *
        FROM
        veh_dayreport_chargestate vdc
        <if test="startDate != null and endDate != null">
            WHERE
            vdc.report_time <![CDATA[>=]]> #{startDate}
            AND vdc.report_time <![CDATA[<=]]> #{endDate}
        </if>
        ) vc on ve.vid = vc.vid AND date_format(ve.report_date, '%Y-%m-%d') = date_format(vc.report_time, '%Y-%m-%d')
        LEFT JOIN (
        SELECT *
        FROM
        veh_dayreport_runstate vdr
        <if test="startDate != null and endDate != null">
            WHERE
            date_format(vdr.report_time, '%Y-%m-%d') <![CDATA[>=]]> #{startDate}
            AND date_format(vdr.report_time, '%Y-%m-%d') <![CDATA[<=]]> #{endDate}
        </if>
        ) vr on ve.vid = vr.vid AND date_format(ve.report_date, '%Y-%m-%d') = date_format(vr.report_time, '%Y-%m-%d')
        left join sys_area area on area.id = veh.oper_license_city_id
        LEFT JOIN sys_unit manu ON manu.id = veh.manu_unit_id
        LEFT JOIN sys_unit oper ON oper.id = veh.oper_unit_id
        LEFT JOIN sys_veh_notice vn ON vn.id = svm.notice_id

        <where>
            <if test="startDate != null and endDate != null">
                AND ve.report_date <![CDATA[>=]]> #{startDate}
                AND ve.report_date <![CDATA[<=]]> #{endDate}
            </if>
            <if test="licensePlate != null  ">
                AND veh.license_plate like CONCAT('%',#{licensePlate},'%')
            </if>
            <if test="vin != null  ">
                AND veh.vin like CONCAT('%',#{vin},'%')
            </if>
            <if test="interNo != null  ">
                AND veh.inter_no like CONCAT('%',#{interNo},'%')
            </if>
            <if test="vehModelId != null">
                and veh.veh_model_id = #{vehModelId}
            </if>
            <if test="operUnitId != null">
                and veh.oper_unit_id = #{operUnitId}
            </if>
            <if test="noticeId != null">
                and svm.notice_id = #{noticeId}
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and veh.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 上牌城市 -->
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path LIKE CONCAT('%/',#{operLicenseCityId},'/%')
            </if>
        </where>
        ORDER BY ve.report_date DESC , vmc.last_commit_time DESC
    </select>
</mapper>
