<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.AreaMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.Area" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- ☆label名称☆-->
            <result property="label" column="label" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    a.id  ,a.name ,a.name as label ,a.parent_id ,a.is_root ,a.path ,a.levels ,a.lng ,a.lat ,a.code ,a.plat_prefix ,a.order_num ,a.create_time ,a.create_by ,a.update_time ,a.update_by
    </sql>
    <sql id="moreColumns">
    a.id  ,a.name ,a.name as label ,a.parent_id ,a.is_root ,a.path ,a.levels ,a.lng ,a.lat ,a.code ,a.plat_prefix ,a.order_num ,a.create_time ,a.create_by ,a.update_time ,a.update_by
    </sql>

    <!-- 根据id查询/行政区域说明 -->
    <select id="findById" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_area a
        <where>
            a.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 根据名称查询详细信息 -->
    <select id="findByName" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_area a
        <where>
            a.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        limit 1
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_area (id,name,parent_id,is_root,path,levels,lng,lat,code,plat_prefix,order_num,create_time,create_by)
        values
        (#{id},#{name},#{parentId},#{isRoot},#{path},#{levels},#{lng},#{lat},#{code},#{platPrefix},#{orderNum},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_area set
        id=id,
        name=#{name},
        parent_id=#{parentId},
        is_root=#{isRoot},
        path=#{path},
        levels=#{levels},
        lng=#{lng},
        lat=#{lat},
        code=#{code},
        plat_prefix=#{platPrefix},
        order_num=#{orderNum},
        update_time=#{updateTime},
        update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 更新父节点id时对应更新的path -->
    <update id="updateByPath" parameterType="java.util.HashMap">
        update sys_area set
        path=replace(path,#{oldPath},#{newPath})
        where path != #{newPath}
    </update>
    <!-- 更新父节点id时对应更新的levels -->
    <update id="updateByLevels" parameterType="java.util.HashMap">
        update sys_area set
        levels=levels+#{level},
        update_time=#{updateTime},
        update_by=#{updateBy}
        <where>
            path like concat('%/',#{id},'/%') and id!=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>
    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_area
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_area a
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
            <if test="parm != null and parm!= ''">
                and a.name like concat('%',#{parm},'%') or a.code like concat('%',#{parm},'%')
            </if>
            <if test="nameEq != null and nameEq!= ''">
                and a.name = #{nameEq}
            </if>
            <if test="codeEq != null and codeEq!= ''">
                and a.code = #{codeEq}
            </if>
            <if test="code != null and code != ''">
                and a.code like concat('%',#{code}, '%')
            </if>
            <if test="parentId != null and parentId!= ''">
                and a.parent_id = #{parentId}
            </if>
            <!-- 更改上级节点时 -->
            <if test="name != null and name != ''">
                and a.name like concat('%',#{name},'%')
            </if>
            <if test="excludeId != null and excludeId != ''">
                and a.path not like concat('%/',#{excludeId},'/%')
            </if>
        </where>
        order by case when a.order_num = 0 then 0 else 1 end desc, a.order_num asc
    </select>

    <!-- 分页查询 -->
    <select id="pagerModel2" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_area a
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="path != null and path!= ''">
                and a.path like concat(#{path},'%')
            </if>
        </where>
        order by a.order_num asc
    </select>

    <!-- 根据父节点id查询 -->
    <select id="findByParentId" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_area a
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="parentId != null and parentId!= ''">
                and a.parent_id = #{parentId}
            </if>
        </where>
        order by case when a.order_num = 0 then 0 else 1 end desc, a.order_num asc
    </select>

    <!-- 根据id获取路径path -->
    <select id="findPathById" resultType="java.lang.String" parameterType="java.lang.String">
        select
        a.path
        from
        sys_area a
        <where>
            <if test="_parameter != null and _parameter != ''">
                and a.id = #{parentId}
            </if>
        </where>
    </select>

    <!-- 查找所有区域列表 -->
    <select id="findAllArea" resultType="com.bitnei.cloud.sys.domain.Area">
        select sa.id, sa.code, sa.name, sa.path from sys_area sa
    </select>
</mapper>
