<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.AttentionVehMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.AttentionVeh" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    sav.id  ,sav.veh_id ,sav.user_id ,sav.type ,sav.content ,sav.attention_time
    </sql>
    <sql id="moreColumns">
    sav.id  ,sav.veh_id ,sav.user_id ,sav.type ,sav.content ,sav.attention_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.AttentionVeh" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_attention_veh sav
        <where>
            sav.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_attention_veh (id,veh_id,user_id,type,content,attention_time)
        values
        (#{id},#{vehId},#{userId},#{type},#{content},#{attentionTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_attention_veh set
        id=id,veh_id=#{vehId},user_id=#{userId},type=#{type},content=#{content},attention_time=#{attentionTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_attention_veh
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 删除 -->
    <delete id="deleteByUserIdAndVehId" parameterType="java.util.HashMap">
        delete from
        sys_attention_veh
        <where>
            user_id = #{userId}
            and veh_id = #{vehId}
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 更新 -->
    <update id="updateJsonData" parameterType="java.util.HashMap">
        update sys_attention_veh set content=#{content}
        <where>
            veh_id = #{vehId}
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
    </update>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_attention_veh sav
        <where>
            <if test="userId != null and userId != ''">
                AND sav.user_id = #{userId}
            </if>
            <if test="type != null and type != ''">
                AND sav.type = #{type}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        order by sav.attention_time desc

    </select>
</mapper>
