<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.BatteryDeviceModelMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.BatteryDeviceModel" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
         sbdm.id, sbdm.name, sbdm.battery_type, sbdm.fixed_vol, sbdm.total_elec_capacity, sbdm.capacity_density, sbdm.fixed_ah, sbdm.fixed_kg, sbdm.fixed_output_a, sbdm.max_temp_c, sbdm.link_mode, sbdm.chg_cycle_count, sbdm.chg_rate, sbdm.chg_max_kwh, sbdm.chg_max_v, sbdm.chg_max_a, sbdm.temp_monitor_count, sbdm.bms_model, sbdm.appearance_size, sbdm.battery_count, sbdm.battery_cell_model, sbdm.cell_package_mode, sbdm.unit_id, sbdm.battery_cell_unit_id, sbdm.bms_unit_id, sbdm.create_time, sbdm.create_by, sbdm.update_time, sbdm.update_by
    </sql>
    <sql id="moreColumns">
         sbdm.id, sbdm.name, sbdm.battery_type, sbdm.fixed_vol, sbdm.total_elec_capacity, sbdm.capacity_density, sbdm.fixed_ah, sbdm.fixed_kg, sbdm.fixed_output_a, sbdm.max_temp_c, sbdm.link_mode, sbdm.chg_cycle_count, sbdm.chg_rate, sbdm.chg_max_kwh, sbdm.chg_max_v, sbdm.chg_max_a, sbdm.temp_monitor_count, sbdm.bms_model, sbdm.appearance_size, sbdm.battery_count, sbdm.battery_cell_model, sbdm.cell_package_mode, sbdm.unit_id, sbdm.battery_cell_unit_id, sbdm.bms_unit_id, sbdm.create_time, sbdm.create_by, sbdm.update_time, sbdm.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.BatteryDeviceModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_battery_device_model sbdm
        <where>
            sbdm.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据name查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.BatteryDeviceModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_battery_device_model sbdm
        <where>
            sbdm.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_battery_device_model (id,name,battery_type,fixed_vol,total_elec_capacity,capacity_density,fixed_ah,fixed_kg,fixed_output_a,max_temp_c,link_mode,chg_cycle_count,chg_rate,chg_max_kwh,chg_max_v,chg_max_a,temp_monitor_count,bms_model, appearance_size,battery_count,battery_cell_model,cell_package_mode,unit_id,battery_cell_unit_id,bms_unit_id,create_time,create_by)
        values
        (#{id},#{name},#{batteryType},#{fixedVol},#{totalElecCapacity},#{capacityDensity},#{fixedAh},#{fixedKg},#{fixedOutputA},#{maxTempC},#{linkMode},#{chgCycleCount},#{chgRate},#{chgMaxKwh},#{chgMaxV},#{chgMaxA},#{tempMonitorCount},#{bmsModel}, #{appearanceSize}, #{batteryCount},#{batteryCellModel},#{cellPackageMode},#{unitId},#{batteryCellUnitId},#{bmsUnitId},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_battery_device_model set
        id=id,name=#{name},battery_type=#{batteryType},fixed_vol=#{fixedVol},total_elec_capacity=#{totalElecCapacity},capacity_density=#{capacityDensity},fixed_ah=#{fixedAh},fixed_kg=#{fixedKg},fixed_output_a=#{fixedOutputA},max_temp_c=#{maxTempC},link_mode=#{linkMode},chg_cycle_count=#{chgCycleCount},chg_rate=#{chgRate},chg_max_kwh=#{chgMaxKwh},chg_max_v=#{chgMaxV},chg_max_a=#{chgMaxA},temp_monitor_count=#{tempMonitorCount},bms_model=#{bmsModel}, appearance_size=#{appearanceSize}, battery_count=#{batteryCount},battery_cell_model=#{batteryCellModel},cell_package_mode=#{cellPackageMode},unit_id=#{unitId},battery_cell_unit_id=#{batteryCellUnitId},bms_unit_id=#{bmsUnitId},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    name = #{name}
                </otherwise>
            </choose>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_battery_device_model
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_battery_device_model sbdm
        <where>
            1=1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                and sbdm.name like "%"#{name}"%"
            </if>
            <if test="unitId != null">
                and sbdm.unit_id = #{unitId}
            </if>
            <if test="totalElecCapacity != null">
                and sbdm.total_elec_capacity like "%"#{totalElecCapacity}"%"
            </if>
            <if test="capacityDensity != null">
                and sbdm.capacity_density like "%"#{capacityDensity}"%"
            </if>
        </where>
        order by sbdm.create_time desc
    </select>
</mapper>
