<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.CoreResourceMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.CoreResource" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        cr.*
    </sql>
    <sql id="moreColumns">
        cr.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.CoreResource"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource cr
        <where>
            cr.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据资源名查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.CoreResource"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource cr
        <where>
            cr.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
     <!-- 根据表名查询 -->
    <select id="findByTableName" resultType="com.bitnei.cloud.sys.domain.CoreResource"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource cr
        <where>
            cr.table_name=#{tableName}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_core_resource (id,name,table_name,note,create_time,create_by)
        values
        (#{id},#{name},#{tableName},#{note},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_core_resource set
        id=id,name=#{name},table_name=#{tableName},note=#{note},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete
        from
        sys_core_resource
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource cr
        <where>
            1 = 1
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        <if test="name != null">
        and cr.name = #{name}
        </if>
        <if test="tableName !=null">
            and cr.table_name = #{tableName}
        </if>

        </where>

    </select>
    <select id="getTreeTables" resultType="java.lang.String">
        select table_name from information_schema.columns where table_schema=database()  and column_name = 'path'
    </select>
</mapper>
