<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.CoreResourceItemMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.CoreResourceItem" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        cri.*
    </sql>
    <sql id="moreColumns">
        cri.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.CoreResourceItem"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource_item cri
        <where>
            cri.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_core_resource_item (id,name,resouce_id,pre_code,path,parent_id,column_name,query_sql,query_table_name,object_table_name,object_column_name,choose_dialog_url,identify_column_name,identify_column_label,create_time,create_by)
        values
        (#{id},#{name},#{resouceId},#{preCode},#{path},#{parentId},#{columnName},#{querySql},#{queryTableName},#{objectTableName},#{objectColumnName},#{chooseDialogUrl},#{identifyColumnName},#{identifyColumnLabel},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_core_resource_item set
        id=id,name=#{name},resouce_id=#{resouceId},pre_code=#{preCode},path=#{path},parent_id=#{parentId},column_name=#{columnName},query_sql=#{querySql},query_table_name=#{queryTableName},object_table_name=#{objectTableName},object_column_name=#{objectColumnName},identify_column_name=#{identifyColumnName},identify_column_label=#{identifyColumnLabel},choose_dialog_url=#{chooseDialogUrl},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>
    <update id="updatePath">
        update sys_core_resource_item set path = replace(path, #{oldPath}, #{newPath})
    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_core_resource_item
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>
    <!--根据ID删除-->
    <delete id = "deleteByResourceId" parameterType="String">
          delete from
            sys_core_resource_item
          <where>
              resouce_id = #{id}
          </where>


    </delete>
    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource_item cri
        <where>
            1 = 1
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>

            <if test="name != null">
                and cri.name like "%"#{name}"%"
            </if>
            <if test="preCode != null">
                and cri.pre_code like "%"#{preCode}"%"
            </if>
            <if test="resouceId != null">
                and cri.resouce_id = #{resouceId}
            </if>
            <if test="filterPreCode != null">
                and (cri.pre_code != #{filterPreCode} or (cri.pre_code = #{filterPreCode} and cri.choose_dialog_url is null))
            </if>

        </where>
        order by cri.create_time desc

    </select>
    <select id="findVehicleItems" resultType="com.bitnei.cloud.sys.domain.CoreResourceItem">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource_item cri
        left join sys_core_resource res on res.id = cri.resouce_id
        where res.table_name='sys_vehicle' and cri.pre_code != 'A'
        order by cri.create_time desc
    </select>

    <select id="getVehicleSelfItem" resultType="com.bitnei.cloud.sys.domain.CoreResourceItem">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource_item cri
        left join sys_core_resource res on res.id = cri.resouce_id
        where res.table_name='sys_vehicle' and cri.pre_code = 'A'

    </select>
    <select id="findHashValuesByResItemIdAndIds" resultType="com.bitnei.cloud.sys.domain.HashValue" parameterType="java.util.HashMap">
        select id as 'key', ${columnName} as 'value' from ${tableName}
        where
        id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="queryResources" resultType="java.util.Map">
        ${querySql}
    </select>
    <select id="getResourceSelfItem" resultType="com.bitnei.cloud.sys.domain.CoreResourceItem" parameterType="string">
        select
        <include refid="moreColumns"/>
        from
        sys_core_resource_item cri
        where cri.resouce_id=#{value} and cri.pre_code = 'A'

    </select>

</mapper>

