<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.CoreExtendTemplateMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.CoreExtendTemplate" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    ct.id  ,ct.name ,ct.table_name ,ct.field_name ,ct.group_tag ,ct.data_type ,ct.validate_rule ,ct.validate_message ,ct.update_able ,ct.insert_able ,ct.list_able ,ct.options ,ct.create_time ,ct.create_by ,ct.update_time ,ct.update_by
    </sql>
    <sql id="moreColumns">
    ct.id  ,ct.name ,ct.table_name ,ct.field_name ,ct.group_tag ,ct.data_type ,ct.validate_rule ,ct.validate_message ,ct.update_able ,ct.insert_able ,ct.list_able ,ct.options ,ct.create_time ,ct.create_by ,ct.update_time ,ct.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.CoreExtendTemplate"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_template ct
        <where>
            ct.id=#{id}

        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_core_extend_template (id,name,table_name,field_name,group_tag,data_type,validate_rule,update_able,insert_able,list_able,options,create_time,create_by)
        values
        (#{id},#{name},#{tableName},#{fieldName},#{groupTag},#{dataType},#{validateRule},#{updateAble},#{insertAble},#{listAble},#{options},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_core_extend_template set
        id=id,name=#{name},table_name=#{tableName},field_name=#{fieldName},group_tag=#{groupTag},data_type=#{dataType},validate_rule=#{validateRule},update_able=#{updateAble},insert_able=#{insertAble},list_able=#{listAble},options=#{options},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_core_extend_template
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_template ct
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>
    <select id="findByTable" resultType="com.bitnei.cloud.sys.domain.CoreExtendTemplate">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_template ct
        <where>
          table_name = #{table}
        </where>
    </select>
</mapper>
