<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.CoreTagMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.CoreTag" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    ct.id  ,ct.table_name ,ct.id_value ,ct.my_tags ,ct.who_can_see_me ,ct.update_time ,ct.tag_id
    </sql>
    <sql id="moreColumns">
    ct.id  ,ct.table_name ,ct.id_value ,ct.my_tags ,ct.who_can_see_me ,ct.update_time ,ct.tag_id
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.CoreTag"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_tag ct
        <where>
            ct.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据标签ID查询 -->
    <select id="findByTagId" resultType="com.bitnei.cloud.sys.domain.CoreTag"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_tag ct
        <where>
            ct.tag_id=#{tagId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据表名和id_value查询 -->
    <select id="findByTableAndValue" resultType="com.bitnei.cloud.sys.domain.CoreTag"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_tag ct
        <where>
            ct.table_name=#{tableName}
            and ct.id_value=#{idValue}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_core_tag (id,table_name,id_value,my_tags,who_can_see_me,tag_id)
        values
        (#{id},#{tableName},#{idValue},#{myTags},#{whoCanSeeMe},#{tagId})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_core_tag set
        id=id,table_name=#{tableName},id_value=#{idValue},my_tags=#{myTags},who_can_see_me=#{whoCanSeeMe},update_time=#{updateTime},tag_id=#{tagId}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_core_tag
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_tag ct
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="queryItems != null">
                1 != 1
                <foreach collection="queryItems" index="index" item="item" open="" separator=" " close="">
                    or (ct.table_name = #{item.key} and ct.id_value = #{item.value})
                </foreach>
            </if>

        </where>

    </select>


</mapper>
