<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.CoreExtendValueMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.CoreExtendValue" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    cev.id  ,cev.id_val ,cev.json_value ,cev.table_name
    </sql>
    <sql id="moreColumns">
    cev.id  ,cev.id_val ,cev.json_value ,cev.table_name
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.CoreExtendValue"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_value cev
        <where>
            cev.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据对应id值查询 -->
    <select id="findByIdVal" resultType="com.bitnei.cloud.sys.domain.CoreExtendValue"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_value cev
        <where>
            cev.id_val=#{idVal}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_core_extend_value (id,id_val,json_value,table_name)
        values
        (#{id},#{idVal},#{jsonValue},#{tableName})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_core_extend_value set
        id=id,id_val=#{idVal},json_value=#{jsonValue},table_name=#{tableName}
        <where>
            id = #{id}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_core_extend_value
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 删除 -->
    <delete id="deleteByIdVal"  parameterType="java.util.HashMap">
        delete from
        sys_core_extend_value
        <where>
            id_val = #{idVal}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_value cev
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>
    <select id="findByTableAndIdVal" resultType="com.bitnei.cloud.sys.domain.CoreExtendValue">
        select
        <include refid="moreColumns"/>
        from
        sys_core_extend_value cev
        <where>
            cev.id_val=#{idVal} and table_name = #{table}

        </where>
    </select>
</mapper>
