<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.mapper.DataItemDetailMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.DataItemTree" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    d_i_d.id  ,d_i_d.create_time ,d_i_d.update_time
    </sql>
    <sql id="moreColumns">
    d_i_d.id  ,d_i_d.create_time ,d_i_d.update_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.DataItemDetail" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_data_item_detail d_i_d
        <where>
            d_i_d.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
    <!-- 查询数据项列表 -->
    <select id="findDataItemList" resultType="java.util.Map" parameterType="java.util.Map">

        select dd.id as id, dd.name as name,dd.seq_no
        from dc_rule_item_lk lk
        join dc_data_item dd on dd.id=lk.item_id
        join dc_data_item_group dg on dg.id=dd.item_group_id
        <where>
            lk.rule_id = #{ruleId}
            <if test="groupName != null and groupName != ''">
                and dg.name like CONCAT('%',#{groupName},'%')
            </if>
            and dd.is_valid=1
            and dd.is_show=1

        </where>
    </select>
    <!-- 查询数据项树形列表 -->
    <select id="findTreeList" resultType="java.util.Map" parameterType="java.lang.String">

        select distinct a.id, a.name name,a.parent_id,a.seq_no,a.isGroup

        from (
                 select dig.id, dig.`name` as name, dig.parent_id, dig.code seq_no,'1' isGroup
                 from dc_data_item_group dig
                 where dig.id = '0'

                     union all
                     select distinct dd.id, dd.name, dd.item_group_id as parent_id, dd.seq_no,'0' isGroup
                     from dc_data_item dd
                              inner join dc_rule_item_lk rilk on dd.id = rilk.item_id
                              join dc_data_item_group dig on dig.id = dd.item_group_id
                         and dd.is_valid = 1
                         and dd.is_show = 1
                     where rilk.rule_id=#{ruleId}
                     union all
                     select distinct digp.id, digp.name, digp.parent_id as parent_id, digp.code seq_no,'1' isGroup
                     from dc_data_item_group dig

                              join dc_data_item_group digp on dig.id = digp.parent_id
                              left join dc_data_item di on di.item_group_id=digp.id

                              join dc_rule_item_lk lk on lk.item_id =di.id
                     where lk.rule_id = #{ruleId}
                       and di.id is not null
                 ) a
        </select>

        <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_data_item_detail (id,create_time)
        values
        (#{id},#{createTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_data_item_detail set
        id=id,update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_data_item_detail
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_data_item_detail d_i_d
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>


</mapper>
