<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.DictCategoryMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.DictCategory" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    dc.id  ,dc.name ,dc.code , dc.note, dc.create_time ,dc.create_by ,dc.update_time ,dc.update_by
    </sql>
    <sql id="moreColumns">
    dc.id  ,dc.name ,dc.code , dc.note, dc.create_time ,dc.create_by ,dc.update_time ,dc.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.DictCategory"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_dict_category dc
        <where>
            dc.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.DictCategory"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_dict_category dc
        <where>
            dc.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
     <!-- 根据编码查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.sys.domain.DictCategory"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_dict_category dc
        <where>
            dc.code=#{code}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_dict_category (id,name,code,note,create_time,create_by)
        values
        (#{id},#{name},#{code},#{note},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_dict_category set
        id=id,name=#{name},code=#{code},note=#{note},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    code = #{code}
                </otherwise>
            </choose>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_dict_category
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_dict_category dc
        <where>
            1=1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="code != null">
                and dc.code like "%"#{code}"%"
            </if>
            <if test="name != null">
                and dc.name like "%"#{name}"%"
            </if>
        </where>

    </select>

    <!-- 根据id查询多条记录 -->
    <select id="findByIds" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_dict_category dc
        <where>
            dc.id in
            <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>
</mapper>
