<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.DriveDeviceMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.DriveDevice" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
         dd.id,dd.code,dd.model_type,dd.drive_model_id,dd.engine_model_id,dd.sequence_number,dd.install_position,dd.produce_date,dd.invoice_no,dd.create_time,dd.create_by,dd.update_time,dd.update_by
    </sql>
    <sql id="moreColumns">
         dd.id,dd.code,dd.model_type,dd.drive_model_id,dd.engine_model_id,dd.sequence_number,dd.install_position,dd.produce_date,dd.invoice_no,dd.create_time,dd.create_by,dd.update_time,dd.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.DriveDevice"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_drive_device dd
        <where>
            dd.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据code查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.sys.domain.DriveDevice"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_drive_device dd
        <where>
            dd.code=#{code}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据modelId计算 -->
    <select id="findByDriveModelIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(dd.id) FROM sys_drive_device dd
        WHERE dd.drive_model_id = #{driveModelId}
    </select>

    <!-- 根据modelId计算 -->
    <select id="findByEngineModelIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(dd.id) FROM sys_drive_device dd
        WHERE dd.engine_model_id = #{engineModelId}
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_drive_device (id,code,model_type,drive_model_id,engine_model_id,sequence_number,install_position,produce_date,invoice_no,create_time,create_by)
        values
        (#{id},#{code},#{modelType},#{driveModelId},#{engineModelId},#{sequenceNumber},#{installPosition},#{produceDate},#{invoiceNo},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_drive_device set
        id=id,code=#{code},model_type=#{modelType},drive_model_id=#{driveModelId},engine_model_id=#{engineModelId},sequence_number=#{sequenceNumber},install_position=#{installPosition},produce_date=#{produceDate},invoice_no=#{invoiceNo},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    name = #{name}
                </otherwise>
            </choose>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_drive_device
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_drive_device dd
        left join sys_drive_motor_model dmm on dmm.id = dd.drive_model_id
        left join sys_engine_model em on em.id = dd.engine_model_id
        <where>
            1=1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="code != null">
                and dd.code like "%"#{code}"%"
            </if>
            <if test="invoiceNo != null">
                and dd.invoice_no like "%"#{invoiceNo}"%"
            </if>
            <if test="modelType != null">
                and dd.model_type = #{modelType}
            </if>
            <if test="installPosition != null">
                and dd.install_position = #{installPosition}
            </if>
            <if test="prodUnitId != null">
                and (em.prod_unit_id=#{prodUnitId} or dmm.prod_unit_id=#{prodUnitId})
            </if>
            <if test="controllerProdUnitId != null">
                and (em.controller_prod_unit_id=#{controllerProdUnitId} or dmm.controller_prod_unit_id=#{controllerProdUnitId})
            </if>
            <if test="modelId != null">
                and (em.id=#{modelId} or dmm.id=#{modelId})
            </if>
            <if test="controllerModel != null">
                and (em.controller_model like "%"#{controllerModel}"%" or dmm.controller_model like "%"#{controllerModel}"%")
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and dd.code in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY dd.create_time DESC

    </select>


    <!-- 查询驱动装置型号信息 -->
    <select id="findDeviceModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select dmm.id as id, dmm.`name` as model_name, '1' as model_type, dmm.controller_model
        , dmm.peak_power, dmm.prod_unit_id, dmm.controller_prod_unit_id
        from sys_drive_motor_model dmm
        <where>
            1 = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="modelName != null">
                and dmm.`name` like "%"#{modelName}"%"
            </if>
        </where>
        union
        select em.id as id, em.`name` as model_name, '2' as model_type, em.controller_model
        , em.peak_power, em.prod_unit_id, em.controller_prod_unit_id
        from sys_engine_model em
        <where>
            1 = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="modelName != null">
                and em.`name` like "%"#{modelName}"%"
            </if>
        </where>

    </select>

</mapper>
