<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.EncryptionChipModelMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.EncryptionChipModel" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    ecm.id  ,ecm.name ,ecm.unit_id ,ecm.unit_declare ,ecm.licence_img_id ,ecm.qualification_img_id ,ecm.create_time ,ecm.create_by ,ecm.update_time ,ecm.update_by,ecm.iso_secret_img_id,ecm.chip_attachment_id,ecm.chip_declare,ecm.iso_9001_img_id,ecm.filing_code,ecm.authorization_file_id, ecm.filing_status
    </sql>
    <sql id="moreColumns">
    ecm.id  ,ecm.name ,ecm.unit_id ,ecm.unit_declare ,ecm.licence_img_id ,ecm.qualification_img_id ,ecm.create_time ,ecm.create_by ,ecm.update_time ,ecm.update_by,ecm.iso_secret_img_id,ecm.chip_attachment_id,ecm.chip_declare,ecm.iso_9001_img_id,ecm.filing_code,ecm.authorization_file_id, ecm.filing_status
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.EncryptionChipModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip_model ecm
        <where>
            ecm.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据芯片型号查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.EncryptionChipModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip_model ecm
        <where>
            ecm.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_encryption_chip_model (id,name,unit_id,unit_declare,licence_img_id,qualification_img_id,create_time,create_by,iso_secret_img_id,chip_attachment_id,chip_declare,iso_9001_img_id,authorization_file_id,filing_status)
        values
        (#{id},#{name},#{unitId},#{unitDeclare},#{licenceImgId},#{qualificationImgId},#{createTime},#{createBy},#{isoSecretImgId},#{chipAttachmentId},#{chipDeclare},#{iso9001ImgId},#{authorizationFileId},#{filingStatus})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_encryption_chip_model set
        id=id,name=#{name},unit_id=#{unitId},unit_declare=#{unitDeclare},licence_img_id=#{licenceImgId},qualification_img_id=#{qualificationImgId},update_time=#{updateTime},update_by=#{updateBy},
        iso_secret_img_id=#{isoSecretImgId},chip_attachment_id=#{chipAttachmentId},chip_declare=#{chipDeclare},iso_9001_img_id=#{iso9001ImgId}, filing_code=#{filingCode}, authorization_file_id=#{authorizationFileId}, filing_status=#{filingStatus}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_encryption_chip_model
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip_model ecm
        left join sys_unit u on u.id = ecm.unit_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                and ecm.name like "%"#{name}"%"
            </if>
            <if test="unitId != null">
                and ecm.unit_id=#{unitId}
            </if>
            <if test="unitName != null">
                and u.name like "%"#{unitName}"%"
            </if>
            <!-- id集合 -->
            <if test="ids != null">
                AND ecm.id IN
                <foreach collection="ids" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
        </where>
        ORDER BY ecm.create_time DESC

    </select>
</mapper>
