<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.EncryptionChipMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.EncryptionChip" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    ec.id  ,ec.identification_id ,ec.chip_model_id ,ec.filing_status ,ec.private_key_status ,ec.term_public_key ,ec.create_time ,ec.create_by ,ec.update_time ,ec.update_by
    </sql>
    <sql id="moreColumns">
    ec.id  ,ec.identification_id ,ec.chip_model_id ,ec.filing_status ,ec.private_key_status ,ec.term_public_key ,ec.create_time ,ec.create_by ,ec.update_time ,ec.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.EncryptionChip"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip ec
        <where>
            ec.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据安全芯片标识ID查询 -->
    <select id="findByIdentificationId" resultType="com.bitnei.cloud.sys.domain.EncryptionChip"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip ec
        <where>
            ec.identification_id=#{identificationId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_encryption_chip (id,identification_id,chip_model_id,filing_status,private_key_status,term_public_key,create_time,create_by)
        values
        (#{id},#{identificationId},#{chipModelId},#{filingStatus},#{privateKeyStatus},#{termPublicKey},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_encryption_chip set
        id=id,identification_id=#{identificationId},chip_model_id=#{chipModelId},filing_status=#{filingStatus},private_key_status=#{privateKeyStatus},term_public_key=#{termPublicKey},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete ec from
        sys_encryption_chip ec
        <where>
            ec.id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_encryption_chip ec
        left join sys_encryption_chip_model ecm on ecm.id = ec.chip_model_id
        left join sys_unit su on ecm.unit_id = su.id
        left join sys_term_model_unit stmu on stmu.encryption_chip_id = ec.id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="identificationId != null">
                and ec.identification_id like "%"#{identificationId}"%"
            </if>
            <if test="chipModelId != null">
                and ec.chip_model_id=#{chipModelId}
            </if>
            <if test="unitId != null">
                and ecm.unit_id=#{unitId}
            </if>
            <if test="filingStatus != null">
                and ec.filing_status=#{filingStatus}
            </if>
            <if test="privateKeyStatus != null">
                and ec.private_key_status=#{privateKeyStatus}
            </if>
            <if test="ecmUnitDisplay != null">
                and su.name like "%"#{ecmUnitDisplay}"%"
            </if>
            <if test="bindChipId != null and bindChipId == 'false'">
                and stmu.encryption_chip_id is null
            </if>
        </where>
        ORDER BY ec.create_time DESC

    </select>

    <!-- 根据modelId计算 -->
    <select id="findByEncryptionChipModelIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(ec.id) FROM sys_encryption_chip ec
        WHERE ec.chip_model_id = #{chipModelId}
    </select>
</mapper>
