<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.EngeryDeviceMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.EngeryDevice" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    sed.id  ,sed.name ,sed.model_type ,sed.capacity_model_id ,sed.battery_model_id ,sed.install_postion ,sed.produce_date ,sed.invoice_no ,sed.create_time ,sed.create_by ,sed.update_time ,sed.update_by
    </sql>
    <sql id="moreColumns">
    sed.id  ,sed.name ,sed.model_type ,sed.capacity_model_id ,sed.battery_model_id ,sed.install_postion ,sed.produce_date ,sed.invoice_no ,sed.create_time ,sed.create_by ,sed.update_time ,sed.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.EngeryDevice"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_engery_device sed
        <where>
            sed.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据id查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.EngeryDevice"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_engery_device sed
        <where>
            sed.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据modelId计算 -->
    <select id="findByCapacitorModelIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(sed.id) FROM sys_engery_device sed
        WHERE sed.capacity_model_id = #{capacitorModelId}
    </select>

    <!-- 根据modelId计算 -->
    <select id="findByBatteryModelIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(sed.id) FROM sys_engery_device sed
        WHERE sed.battery_model_id = #{batteryModelId}
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_engery_device (id,name,model_type,capacity_model_id,battery_model_id,install_postion,produce_date,invoice_no,create_time,create_by)
        values
        (#{id},#{name},#{modelType},#{capacityModelId},#{batteryModelId},#{installPostion},#{produceDate},#{invoiceNo},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_engery_device set
        id=id,name=#{name},model_type=#{modelType},capacity_model_id=#{capacityModelId},battery_model_id=#{batteryModelId},install_postion=#{installPostion},produce_date=#{produceDate},invoice_no=#{invoiceNo},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    name = #{name}
                </otherwise>
            </choose>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_engery_device
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_engery_device sed
        left join sys_super_capacitor_model cm on cm.id = sed.capacity_model_id
        left join sys_battery_device_model dm on dm.id = sed.battery_model_id
        left join sys_unit cmu on cmu.id = cm.unit_id
        left join sys_unit dmu on dmu.id = dm.unit_id
        <if test="vehicleId != null">
        inner join sys_vehicle_engery_device_lk svedlk on svedlk.engery_device_id = sed.id
        </if>
        <if test="notUsed != null">
            left join sys_vehicle_engery_device_lk elk on elk.engery_device_id = sed.id
        </if>
        <where>
            1=1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                and sed.name like "%"#{name}"%"
            </if>
            <if test="installPostion != null">
                and sed.install_postion like "%"#{installPostion}"%"
            </if>
            <if test="invoiceNo != null">
                and sed.invoice_no like "%"#{invoiceNo}"%"
            </if>
            <if test="modelType != null">
                and sed.model_type = #{modelType}
            </if>
            <if test="modelId != null">
                and (cm.id = #{modelId} or dm.id = #{modelId})
            </if>
            <if test="prodUnitId != null">
                and (cm.unit_id = #{prodUnitId} or dm.unit_id = #{prodUnitId})
            </if>
            <if test="prodUnitName != null">
                and (cmu.name like "%"#{prodUnitName}"%" or dmu.name like "%"#{prodUnitName}"%")
            </if>
            <if test="vehicleId != null">
                and svedlk.vehicle_id = #{vehicleId}
            </if>
            <if test="notUsed != null">
                and elk.id is null
            </if>
        </where>
        order by sed.create_time desc
    </select>


    <!-- 查询可充电储能装置型号信息 -->
    <select id="findDeviceModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select bdm.id, bdm.`name` as model_name, '1' as model_type, bdm.battery_type
        , bdm.total_elec_capacity as total_capacity, bdm.capacity_density, bdm.unit_id as prod_unit_id
        from sys_battery_device_model bdm
        <where>
            1 = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="modelName != null">
                and bdm.`name` like "%"#{modelName}"%"
            </if>
        </where>
        union
        select scm.id, scm.`name` as model_name, '2' as model_type, '' as battery_type
        , scm.total_capacity, scm.capacity_density, scm.unit_id as prod_unit_id
        from sys_super_capacitor_model scm
        <where>
            1 = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="modelName != null">
                and scm.`name` like "%"#{modelName}"%"
            </if>
        </where>

    </select>
</mapper>
