<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.FuelSystemModelMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.FuelSystemModel" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fsm.id  ,fsm.name ,fsm.rated_power , fsm.peak_power, fsm.volume_power_density ,fsm.max_output_voltage ,fsm.hydrogen_storage_number ,fsm.hydrogen_storage_capacity ,fsm.controller_model ,fsm.prod_unit_id ,fsm.controller_prod_unit_id ,fsm.create_time ,fsm.create_by ,fsm.update_time ,fsm.update_by
    </sql>
    <sql id="moreColumns">
    fsm.id  ,fsm.name ,fsm.rated_power , fsm.peak_power, fsm.volume_power_density ,fsm.max_output_voltage ,fsm.hydrogen_storage_number ,fsm.hydrogen_storage_capacity ,fsm.controller_model ,fsm.prod_unit_id ,fsm.controller_prod_unit_id ,fsm.create_time ,fsm.create_by ,fsm.update_time ,fsm.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.FuelSystemModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_fuel_system_model fsm
        <where>
            fsm.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据型号名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.FuelSystemModel"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_fuel_system_model fsm
        <where>
            fsm.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_fuel_system_model (id,name,rated_power,peak_power, volume_power_density,max_output_voltage,hydrogen_storage_number,hydrogen_storage_capacity,controller_model,prod_unit_id,controller_prod_unit_id,create_time,create_by)
        values
        (#{id},#{name},#{ratedPower},#{peakPower},#{volumePowerDensity},#{maxOutputVoltage},#{hydrogenStorageNumber},#{hydrogenStorageCapacity},#{controllerModel},#{prodUnitId},#{controllerProdUnitId},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_fuel_system_model set
        id=id,name=#{name},rated_power=#{ratedPower},peak_power=#{peakPower},volume_power_density=#{volumePowerDensity},max_output_voltage=#{maxOutputVoltage},hydrogen_storage_number=#{hydrogenStorageNumber},hydrogen_storage_capacity=#{hydrogenStorageCapacity},controller_model=#{controllerModel},prod_unit_id=#{prodUnitId},controller_prod_unit_id=#{controllerProdUnitId},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
                <otherwise>
                    name = #{name}
                </otherwise>
            </choose>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_fuel_system_model
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_fuel_system_model fsm
        <where>
            1=1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name != null">
                and fsm.name like "%"#{name}"%"
            </if>
            <if test="prodUnitId != null">
                and fsm.prod_unit_id=#{prodUnitId}
            </if>
            <if test="controllerProdUnitId != null">
                and fsm.controller_prod_unit_id=#{controllerProdUnitId}
            </if>
            <if test="peakPower != null">
                and fsm.peak_power like "%"#{peakPower}"%"
            </if>
            <if test="volumePowerDensity != null">
                and fsm.volume_power_density like "%"#{volumePowerDensity}"%"
            </if>
            <if test="hydrogenStorageCapacity != null">
                and fsm.hydrogen_storage_capacity like "%"#{hydrogenStorageCapacity}"%"
            </if>
        </where>
        order by fsm.create_time desc

    </select>
</mapper>
