<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.GroupMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.Group" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        gr.*
    </sql>
    <sql id="moreColumns">
        gr.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.Group"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_group gr
        <where>
            gr.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据组名查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.Group"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_group gr
        <where>
            gr.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_group (id,name,is_valid, rule_type, resource_type_id, description,create_by,create_time)
        values
        (#{id},#{name},#{isValid},#{ruleType},#{resourceTypeId}, #{description},#{createBy},#{createTime})
    </insert>

    <!-- 增加 -->
    <insert id="insertDefault" parameterType="java.util.HashMap">
        insert into
        sys_group (id,name,is_valid, rule_type, resource_type_id, user_id, description,create_by,create_time)
        values
        (#{id},#{name},#{isValid},#{ruleType},#{resourceTypeId}, #{userId}, #{description},#{createBy},#{createTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_group set
        id=id,name=#{name},is_valid=#{isValid},description=#{description},update_by=#{updateBy},update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_group
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>
    <delete id="deleteByUserId">
        delete from sys_group where user_id=#{userId}
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_group gr
        <where>
    gr.user_id is null
    <if test="name != null and name != ''">
        and gr.name like concat('%',#{name},'%')
    </if>
    <if test="authSQL != null">
    <include refid="authSQL"/>
    </if>
    <if test="name != null">
        AND gr.name LIKE CONCAT('%',#{name},'%')
    </if>
</where>
order by gr.create_time desc

</select>

<!-- 分页查询 -->
    <select id="unCheckResources" resultType="map" parameterType="string">
        ${selectSql}
    </select>

    <!-- 查找用户 -->
    <select id="findByUserId" resultType="com.bitnei.cloud.sys.domain.Group">
        select
        <include refid="moreColumns"/>
        from
        sys_group gr
        <where>
            gr.user_id=#{userId}

        </where>
    </select>
</mapper>
