<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.GroupResourceRuleMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.GroupResourceRule" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    grr.id  ,grr.resource_item_id ,grr.group_id ,grr.op ,grr.val ,grr.pre_logic_op ,grr.create_time ,grr.create_by ,grr.update_time ,grr.update_by
    </sql>
    <sql id="moreColumns">
    grr.id  ,grr.resource_item_id ,grr.group_id ,grr.op ,grr.val ,grr.pre_logic_op ,grr.create_time ,grr.create_by ,grr.update_time ,grr.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.GroupResourceRule"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_group_resource_rule grr
        <where>
            grr.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_group_resource_rule (id,resource_item_id,group_id,op,val,pre_logic_op, order_num,create_time,create_by)
        values
        (#{id},#{resourceItemId},#{groupId},#{op},#{val},#{preLogicOp}, #{orderNum}, #{createTime},#{createBy})

    </insert>

    <!-- 增加 -->
    <insert id="saveRules" parameterType="java.util.HashMap">
        insert into
        sys_group_resource_rule (id,resource_item_id,group_id,op,val,pre_logic_op, order_num,create_time,create_by)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.resourceItemId},#{item.groupId},#{item.op},#{item.val},#{item.preLogicOp}, #{item.orderNum}, #{item.createTime},#{item.createBy})
        </foreach>

    </insert>


    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_group_resource_rule set
       val=#{val},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}

        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_group_resource_rule
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 删除 -->
    <delete id="deleteByGroupAndResource"  parameterType="java.util.HashMap">
        delete grr from
        sys_group_resource_rule grr
        left join sys_core_resource_item cri on cri.id = grr.resource_item_id
        left join sys_group g on g.id=grr.group_id
        where grr.group_id = #{groupId} and cri.resouce_id = #{resourceTypeId} and g.user_id is null
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_group_resource_rule grr
        left join sys_core_resource_item cri on cri.id = grr.resource_item_id

        <where>
            <if test="authSQL != null">
              <include refid="authSQL"/>
            </if>
            <if test="groupId != null">
              and grr.group_id = #{groupId}
            </if>
            <if test="resourceTypeId != null">
                and cri.resouce_id = #{resourceTypeId}
            </if>
            <if test="eqNotPreCode != null">
                and cri.pre_code != #{eqNotPreCode}
            </if>
        </where>
        order by grr.order_num asc

    </select>
    <select id="findByResourceItemIdAndGroupId" resultType="com.bitnei.cloud.sys.domain.GroupResourceRule">
        select
        <include refid="moreColumns"/>
        from
        sys_group_resource_rule grr
        <where>
            grr.group_id=#{groupId} and grr.resource_item_id=#{resourceItemId}
        </where>

    </select>
    <select id="findRuleByUserIdAndTable" resultType="com.bitnei.cloud.sys.domain.GroupRuleInfo" parameterType="java.util.HashMap">

        SELECT
          cri.object_table_name as table_name, grr.group_id, grr.op,cri.pre_code, grr.val, grr.pre_logic_op, grr.order_num
        FROM
          sys_group_resource_rule grr
        inner JOIN
          sys_core_resource_item cri ON cri.id = grr.resource_item_id
        inner JOIN
          sys_core_resource cr ON cr.id = cri.resouce_id
        WHERE
          cr.table_name = #{tableName}
        AND
          grr.group_id IN (SELECT distinct(gu.group_id) FROM sys_user_group_lk  gu inner JOIN sys_group g ON g.id=gu.group_id WHERE gu.user_id = #{userId} AND g.is_valid=1)
        ORDER BY grr.order_num asc
    </select>
    <select id="findRuleByGroupIdAndResourceId" resultType="com.bitnei.cloud.sys.domain.GroupRuleInfo" parameterType="java.util.HashMap">
        SELECT
          cri.object_table_name as table_name, grr.group_id, grr.op,cri.pre_code, grr.val, grr.pre_logic_op, grr.order_num,grr.op
        FROM
          sys_group_resource_rule grr
        inner JOIN
          sys_core_resource_item cri ON cri.id = grr.resource_item_id
        WHERE
          grr.group_id = #{groupId} and cri.resouce_id=#{resourceId}
        ORDER BY grr.order_num asc

    </select>


    <!-- 查找数据权限组车辆 -->
    <select id="groupVehicleChecked" resultType="com.bitnei.cloud.sys.model.VehicleForGroupModel" parameterType="java.util.HashMap">
        SELECT
        sv.id,
        sv.license_plate,
        sv.vin,
        sv.inter_no,
        sv.stage,
        svn.veh_type_id,
        svt.name as veh_type_name,
        sv.manu_unit_id AS factory_id,
        svm.veh_model_name as veh_model_name,
        svm.veh_unit_id AS veh_manu_unit_id,
        tm.unit_id AS term_unit_id,
        tm.term_model_name AS term_model_name,
        sv.oper_unit_id,
        sv.oper_license_city_id,
        sv.sell_city_id,
        sv.oper_area_id
        FROM
        sys_vehicle sv
        LEFT JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_notice svn ON svn.id = svm.notice_id
        LEFT JOIN sys_veh_type svt ON svt.id = svn.veh_type_id
        LEFT JOIN sys_term_model_unit tmu ON tmu.id = sv.term_id
        LEFT JOIN sys_term_model tm ON tm.id = tmu.sys_term_model_id
        <where>
            sv.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="checkedIds != null and checkedIds.size()>0">
                and sv.id in
                <foreach collection="checkedIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="uncheckedIds != null and uncheckedIds.size()>0">
                and sv.id not in
                <foreach collection="uncheckedIds" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!--  VIN码 -->
            <if test="vin != null and vin != '' ">
                AND sv.vin LIKE CONCAT('%',#{vin},'%')
            </if>
            <!--  车牌号 -->
            <if test="licensePlate != null and licensePlate != '' ">
                AND sv.license_plate LIKE CONCAT('%',#{licensePlate},'%')
            </if>
            <!-- 车辆种类ID -->
            <if test="vehTypeId != null and vehTypeId != ''">
                AND svt.path like CONCAT('%/',#{vehTypeId},'/%')
            </if>
            <!-- 车辆型号ID -->
            <if test="vehModelId != null and vehModelId != ''">
                AND svm.id = #{vehModelId}
            </if>
            <!-- 制造工厂 -->
            <if test="factoryId != null and factoryId != ''">
                AND sv.manu_unit_id = #{factoryId}
            </if>
            <!-- 汽车厂商 -->
            <if test="vehManuUnitId != null and vehManuUnitId != ''">
                AND svm.veh_unit_id = #{vehManuUnitId}
            </if>
            <!-- 终端厂商 -->
            <if test="termUnitId != null and termUnitId != ''">
                AND tm.unit_id = #{termUnitId}
            </if>
        </where>
        order by sv.create_time desc

    </select>
    <select id="getGroupRuleValByUser" resultType="java.lang.String">
        select grr.val from sys_group_resource_rule grr inner join sys_group g on g.id=grr.group_id where g.user_id=#{userId} and grr.resource_item_id=#{resourceItemId}
    </select>


</mapper>
