<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.InstructSendCanMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.InstructSendCan" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    isc.id  ,isc.vin ,isc.license_plate ,isc.instruct_name ,isc.instruct_id ,isc.create_by_id ,isc.create_by ,isc.create_time ,isc.send_result ,isc.execute_result ,isc.operating_area ,isc.operating_unit ,isc.operation_user_name ,isc.operation_phone ,isc.operation_user_id ,isc.session_id ,isc.response_id_data ,isc.response_time ,isc.history_online_state ,isc.remarks, isc.instruct_remark
    </sql>
    <sql id="moreColumns">
    isc.id  ,isc.vin ,isc.license_plate ,isc.instruct_name ,isc.instruct_id ,isc.create_by_id ,isc.create_by ,isc.create_time ,isc.send_result ,isc.execute_result ,isc.operating_area ,isc.operating_unit ,isc.operation_user_name ,isc.operation_phone ,isc.operation_user_id ,isc.session_id ,isc.response_id_data ,isc.response_time ,isc.history_online_state ,isc.remarks, isc.instruct_remark
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.InstructSendCan"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_send_can isc
        <where>
            isc.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_instruct_send_can (id,vin,license_plate,instruct_name,instruct_id,create_by_id,create_by,create_time,send_result,execute_result,operating_area,operating_unit,operation_user_name,operation_phone,operation_user_id,session_id,response_id_data,response_time,history_online_state,remarks,instruct_remark)
        values
        (#{id},#{vin},#{licensePlate},#{instructName},#{instructId},#{createById},#{createBy},#{createTime},#{sendResult},#{executeResult},#{operatingArea},#{operatingUnit},#{operationUserName},#{operationPhone},#{operationUserId},#{sessionId},#{responseIdData},#{responseTime},#{historyOnlineState},#{remarks},#{instructRemark})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_instruct_send_can set
        id=id,vin=#{vin},license_plate=#{licensePlate},instruct_name=#{instructName},instruct_id=#{instructId},create_by_id=#{createById},send_result=#{sendResult},execute_result=#{executeResult},operating_area=#{operatingArea},operating_unit=#{operatingUnit},operation_user_name=#{operationUserName},operation_phone=#{operationPhone},operation_user_id=#{operationUserId},session_id=#{sessionId},response_id_data=#{responseIdData},response_time=#{responseTime},history_online_state=#{historyOnlineState},remarks=#{remarks},instruct_remark=#{instructRemark}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_instruct_send_can
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>,
        svm.veh_model_name AS vehModelName,
        v.inter_no as interNo
        from
        sys_instruct_send_can isc
        left join sys_vehicle v on isc.vin = v.vin
        LEFT JOIN sys_veh_model svm ON svm.id = v.veh_model_id

        <where>
            v.is_delete = 0
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

        order by isc.create_time desc
    </select>

    <select id="findBySessionId" resultMap="tailResults"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_send_can isc
        where
        isc.session_id=#{value}
        ORDER BY create_time DESC LIMIT 1
    </select>
</mapper>
