<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.InstructSendRuleMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.InstructSendRule" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    isr.id  ,isr.vin ,isr.license_plate ,isr.history_online_state ,isr.create_by_id ,isr.create_by ,isr.create_time ,isr.update_time ,isr.send_result ,isr.execute_result ,isr.operating_area ,isr.operating_unit ,isr.operation_user_name ,isr.operation_phone ,isr.operation_user_id ,isr.standard_value ,isr.standard_code ,isr.response_time ,isr.remarks ,isr.type ,isr.instruct_name ,isr.session_id ,isr.data_source ,isr.alarm_level ,isr.instruct_cache_time ,isr.instruct_remark
    </sql>
    <sql id="moreColumns">
    isr.id  ,isr.vin ,isr.license_plate ,isr.history_online_state ,isr.create_by_id ,isr.create_by ,isr.create_time ,isr.update_time ,isr.send_result ,isr.execute_result ,isr.operating_area ,isr.operating_unit ,isr.operation_user_name ,isr.operation_phone ,isr.operation_user_id ,isr.standard_value ,isr.standard_code ,isr.response_time ,isr.remarks ,isr.type ,isr.instruct_name ,isr.session_id ,isr.data_source ,isr.alarm_level ,isr.instruct_cache_time ,isr.instruct_remark
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.InstructSendRule" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_send_rule isr
        left join sys_vehicle v on isr.vin = v.vin
        <where>
            isr.id=#{id} and v.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_instruct_send_rule (id,vin,license_plate,history_online_state,create_by_id,create_by,create_time,send_result,execute_result,operating_area,operating_unit,operation_user_name,operation_phone,operation_user_id,standard_value,standard_code,response_time,remarks,type,instruct_name,session_id,data_source,alarm_level,instruct_cache_time,instruct_remark)
        values
        (#{id},#{vin},#{licensePlate},#{historyOnlineState},#{createById},#{createBy},#{createTime},#{sendResult},#{executeResult},#{operatingArea},#{operatingUnit},#{operationUserName},#{operationPhone},#{operationUserId},#{standardValue},#{standardCode},#{responseTime},#{remarks},#{type},#{instructName},#{sessionId},#{dataSource},#{alarmLevel},#{instructCacheTime},#{instructRemark})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_instruct_send_rule set
        id=id,vin=#{vin},license_plate=#{licensePlate},history_online_state=#{historyOnlineState},create_by_id=#{createById},update_time=#{updateTime},send_result=#{sendResult},execute_result=#{executeResult},operating_area=#{operatingArea},operating_unit=#{operatingUnit},operation_user_name=#{operationUserName},operation_phone=#{operationPhone},operation_user_id=#{operationUserId},standard_value=#{standardValue},standard_code=#{standardCode},response_time=#{responseTime},remarks=#{remarks},type=#{type},instruct_name=#{instructName},session_id=#{sessionId},data_source=#{dataSource},alarm_level=#{alarmLevel},instruct_cache_time=#{instructCacheTime},instruct_remark=#{instructRemark}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_instruct_send_rule
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>, task.effective_time as effectiveTime,
        task.effective_time_type as effectiveTimeType,
        task.create_time as taskCreateTime,
        v.inter_no as interNo,
        svm.veh_model_name AS vehModelName
        from
        sys_instruct_send_rule isr left join sys_vehicle v on isr.vin = v.vin
        LEFT JOIN sys_instruct_task task ON (isr.id = task.instruct_id AND task.status = 1)
        left join sys_veh_model svm on v.veh_model_id = svm.id

        <where>
            v.is_delete = 0
            <if test="type != null and type != ''">
                and isr.type = #{type}
            </if>
            <if test="instructName != null and instructName != ''">
                and isr.instruct_name like concat('%',#{instructName},'%')
            </if>
            <if test="standardValue != null and standardValue != ''">
                and isr.standard_value like concat('%',#{standardValue},'%')
            </if>
            <if test="vin != null and vin != ''">
                and isr.vin like concat('%',#{vin},'%')
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and isr.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and isr.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="interNo != null and interNo != ''">
                and v.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="beginTime != null">
                and isr.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and isr.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="vehModelId != null">
                and svm.id = #{vehModelId}
            </if>
            <if test="sendResult != null">
                and isr.send_result = #{sendResult}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

        order by isr.create_time desc

    </select>

    <select id="getImplementRuleCountByVin" resultType="java.lang.Integer">
        select count(*) from sys_instruct_send_rule
        where vin = #{vin} and send_result is null
    </select>

    <update id="tremLockChange" parameterType="java.util.HashMap">
        UPDATE sys_instruct_send_rule SET
        execute_result = #{lockAnswer},response_time = #{answerTime}
        WHERE vin = #{vin} AND session_id = #{sessionId} AND type = '2'
        order by create_time desc limit 1
    </update>

    <select id="findByVinAndSendResult" resultMap="tailResults"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_send_rule isr
        where
        isr.send_result is null
        and isr.vin=#{value}
    </select>

</mapper>
