<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.InstructTaskMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.InstructTask" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    itask.id  ,itask.instruct_id ,itask.instruct_type ,itask.effective_time ,itask.effective_time_type ,itask.executed_num ,itask.execute_max_num ,itask.task_result ,itask.status ,itask.create_time ,itask.update_time, itask.execute_time
    </sql>
    <sql id="moreColumns">
    itask.id  ,itask.instruct_id ,itask.instruct_type ,itask.effective_time ,itask.effective_time_type ,itask.executed_num ,itask.execute_max_num ,itask.task_result ,itask.status ,itask.create_time ,itask.update_time, itask.execute_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.InstructTask"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_task itask
        <where>
            itask.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_instruct_task (id,instruct_id,instruct_type,effective_time,effective_time_type,executed_num,execute_max_num,task_result,status,create_time,execute_time)
        values
        (#{id},#{instructId},#{instructType},#{effectiveTime},#{effectiveTimeType},#{executedNum},#{executeMaxNum},#{taskResult},#{status},#{createTime},#{executeTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_instruct_task set
        id=id,instruct_id=#{instructId},instruct_type=#{instructType},effective_time=#{effectiveTime},effective_time_type=#{effectiveTimeType},executed_num=#{executedNum},execute_max_num=#{executeMaxNum},task_result=#{taskResult},status=#{status},update_time=#{updateTime}, execute_time=#{executeTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_instruct_task
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_instruct_task itask
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>

    <select id="queryUpgradeEffectiveTaskList" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> ,
        ups.protocol_type as protocolType,
        ups.schema_type as schemaType,
        ups.uppackage_id as uppackageId,
        susd.vin as vin
        from
        sys_instruct_task itask
        left join sys_uppackage_send_details susd ON itask.instruct_id = susd.id
        LEFT JOIN sys_uppackage_send ups ON susd.uppackage_send_id = ups.id
        <where>
            itask.status = 1
            <if test="instructType != null and instructType != ''">
                and itask.instruct_type = #{instructType}
            </if>
            <if test="instructId != null and instructId != ''">
                and itask.instruct_id = #{instructId}
            </if>
        </where>
        order by itask.create_time

    </select>


    <select id="querySimilarUpgradeTask" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> ,
        ups.protocol_type as protocolType,
        ups.schema_type as schemaType,
        ups.uppackage_id as uppackageId,
        susd.vin as vin
        from
        sys_instruct_task itask
        left join sys_uppackage_send_details susd ON itask.instruct_id = susd.id
        LEFT JOIN sys_uppackage_send ups ON susd.uppackage_send_id = ups.id
        <where>
            itask.status = 1
            and itask.instruct_type = #{instructType}
            and ups.protocol_type = #{protocolType}
            and ups.schema_type = #{schemaType}
            and ups.uppackage_id= #{uppackageId}
            and susd.vin = #{vin}
        </where>
        order by itask.create_time

    </select>

    <select id="queryControlEffectiveTaskList" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> ,
        isr.standard_code as standardCode,
        isr.alarm_level as alarmLevel,
        isr.vin as vin
        from
        sys_instruct_task itask
        left join sys_instruct_send_rule isr ON itask.instruct_id = isr.id
        <where>
            itask.status = 1 and itask.instruct_type = #{instructType}
            <if test="instructId != null and instructId != ''">
                and itask.instruct_id = #{instructId}
            </if>
            <if test="instructType != null and instructType != ''">
                and itask.instruct_type = #{instructType}
            </if>
            <if test="standardCode != null and standardCode != ''">
                and isr.standard_code = #{standardCode}
            </if>
            <if test="vin != null and vin != ''">
                and isr.vin = #{vin}
            </if>
            <!--<if test="alarmLevel == null">-->
                <!--and isr.alarm_level is null-->
            <!--</if>-->
            <if test="alarmLevel != null">
                and isr.alarm_level = #{alarmLevel}
            </if>
        </where>
        order by itask.create_time
    </select>

</mapper>
