<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.mapper.MessageItemDetailMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.MessageItemDetail" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    m_i_d.id  ,m_i_d.create_time ,m_i_d.update_time
    </sql>
    <sql id="moreColumns">
    m_i_d.id  ,m_i_d.create_time ,m_i_d.update_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.MessageItemDetail"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_message_item_detail m_i_d
        <where>
            m_i_d.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_message_item_detail (id,create_time)
        values
        (#{id},#{createTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_message_item_detail set
        id=id,update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_message_item_detail
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_message_item_detail m_i_d
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>
</mapper>
