<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.ModuleInstallMapper">

    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.ModuleInstall" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>
    <!-- 查询菜单名称 -->
    <select id="moduleNames" parameterType="java.util.HashMap" resultMap="tailResults">
        select
          id,name,path,is_root
        from
          sys_module
        where
         is_fun = 0
    </select>


    <!-- 插入菜单  -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_module (id,name,is_fun,path,icon,action,order_num,sub_actions,parent_id,is_root)
        values
        (#{id},#{name},#{isFun},#{path},#{icon},#{action},#{orderNum},#{subActions},#{parentId},#{isRoot})
    </insert>


    <!-- 删除模块所有相关菜单  -->
    <delete id="deleteByModule" parameterType="java.lang.String">
        delete from
        sys_module
        where
        id like "%"#{value}"%"
    </delete>




</mapper>
