<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.ModuleMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.Module" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    m.id  ,m.parent_id ,m.name ,m.code ,m.is_root ,m.is_fun ,m.path ,m.icon ,m.action ,m.is_fullscreen ,m.order_num ,m.is_hidden ,m.create_time ,m.create_by ,m.update_time ,m.update_by
    </sql>
    <sql id="moreColumns">
    m.id  ,m.parent_id ,a.name as parent_name,m.name ,m.code ,m.is_root ,m.is_fun ,m.path ,m.icon ,m.action ,m.is_fullscreen ,m.order_num ,m.is_hidden ,m.create_time ,m.create_by ,m.update_time ,m.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.Module"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_module m
        left join sys_module a on m.parent_id = a.id
        <where>
            m.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据编码查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.sys.domain.Module"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_module m
        left join sys_module a on m.parent_id = a.id
        <where>
            m.code=#{code}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        limit 1
    </select>

    <!-- 根据编码查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.Module"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_module m
        left join sys_module a on m.parent_id = a.id
        <where>
            m.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        limit 1
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_module (id,parent_id,name,code,is_root,is_fun,path,icon,action,is_fullscreen,order_num,is_hidden,create_time,create_by)
        values
        (#{id},#{parentId},#{name},#{code},#{isRoot},#{isFun},#{path},#{icon},#{action},#{isFullscreen},#{orderNum},#{isHidden},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_module set
        id=id,parent_id=#{parentId},name=#{name},code=#{code},is_root=#{isRoot},is_fun=#{isFun},path=#{path},icon=#{icon},action=#{action},is_fullscreen=#{isFullscreen},order_num=#{orderNum},is_hidden=#{isHidden},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 替换路径 -->
    <update id="replacePath" parameterType="java.util.HashMap">
        update sys_module set path = replace(path, #{oldPath}, #{newPath})
    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_module
        <where>
            id = #{id}
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_module m
        left join sys_module a on m.parent_id = a.id
        <where>
            <if test="authSQL != null">
            <include refid="authSQL"/>
            </if>
            <if test="parentId != null">
              and m.parent_id = #{parentId}
            </if>
            <if test="name != null">
                and m.name like "%"#{name}"%"
            </if>
            <if test="code != null">
                and m.code like "%"#{code}"%"
            </if>
            <if test="isHidden != null">
                and m.is_hidden = #{isHidden}
            </if>
            <if test="isFun != null">
                and m.is_fun = #{isFun}
            </if>
            <if test="roleId != null">
                and (m.id IN(SELECT module_id FROM sys_role_module_lk WHERE role_id=#{roleId}) or m.is_root=1)
            </if>
        </where>
        order by m.order_num asc
    </select>



    <!--查询子节点-->
    <select id="queryChildren" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        m.*
        FROM
        sys_module m
        <where>
            m.parent_id = #{id}
        </where>
        order by m.order_num asc
    </select>


    <select id="findIndexUrl" parameterType="String" resultType="String">
        select sm.action as actionUrl from sys_module sm
        left join sys_role sr on sm.id = sr.index_url
        <where>
            sr.id = #{roleId}
        </where>

    </select>

    <select id="findRootAndIndex" resultMap="tailResults">
        select
        <include refid="moreColumns"/>
        from
        sys_module m
        left join sys_module a on m.parent_id = a.id
        <where>
            (m.code = 'index' or m.is_root = '1')
            <if test="isHidden != null">
                and m.is_hidden = #{isHidden}
            </if>
        </where>

    </select>
    <select id="getByNamaAndParentId" resultType="com.bitnei.cloud.sys.domain.Module">
        select
        <include refid="baseColumns"/>
        from
        sys_module m
        where m.parent_id=#{parentId} and name=#{name}
    </select>
</mapper>
