<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.MoreDataItemDetailMapper">




    <!-- 根据vin查询uuid -->
    <select id="getVehicleByVin" resultType="java.util.HashMap" >
        select
          uuid, vin
        from
          sys_vehicle
        <where>
            vin in
            <foreach collection="vins" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>

        </where>
    </select>

    <update id="updateSysOfflineName" >
        update sys_offline_export set export_file_name = #{fileName} where id = #{id}
    </update>

    <update id="updateName" >
       update sys_offline_export set  export_file_name= CONCAT(left( export_file_name,LOCATE('.csv', export_file_name) ),"zip") where
			id = #{id}
    </update>

    <select id="getRoleByModel" resultType="java.util.HashMap" >
		  select rule.id id ,rule.name name from sys_veh_model model inner join dc_rule rule  on rule.rule_type_id=model.rule_id where model.id= #{modelId}
    </select>



</mapper>
