<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.MsgTemplateMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.MsgTemplate" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    mt.id  ,mt.template_name,mt.inter_code, mt.template_id ,mt.content ,mt.status ,mt.create_time ,mt.create_by ,mt.update_time ,mt.update_by, mt.msg_param
    </sql>
    <sql id="moreColumns">
    mt.id  ,mt.template_name,mt.inter_code, mt.template_id ,mt.content ,mt.status ,mt.create_time ,mt.create_by ,mt.update_time ,mt.update_by, mt.msg_param
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.MsgTemplate"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_msg_template mt
        <where>
            mt.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据inter_code查询 -->
    <select id="findByInterCode" resultType="com.bitnei.cloud.sys.domain.MsgTemplate"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_msg_template mt
        <where>
            mt.inter_code=#{interCode}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="status != null">
                and mt.status = #{status}
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_msg_template (id,template_name,inter_code,template_id,content,status,create_time,create_by,msg_param)
        values
        (#{id},#{templateName},#{interCode},#{templateId},#{content},#{status},#{createTime},#{createBy},#{msgParam})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_msg_template set
        id=id,template_name=#{templateName},inter_code=#{interCode},template_id=#{templateId},content=#{content},status=#{status},update_time=#{updateTime},update_by=#{updateBy},msg_param=#{msgParam}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_msg_template
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        <include refid="moreColumns"/>
        from
        sys_msg_template mt
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="templateName != null">
                and mt.template_name like "%"#{templateName}"%"
            </if>
            <if test="interCode != null">
                and mt.inter_code like "%"#{interCode}"%"
            </if>
            <if test="status != null">
                and mt.status = #{status}
            </if>
        </where>

    </select>
</mapper>
