<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.mapper.PushBatchDetailMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.PushBatchDetail" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    ppbd.id  ,ppbd.batch_id ,ppbd.form_id, ppbd.form_name, ppbd.forward_vehicle_id, ppbd.push_status, ppbd.error_info , ppbd.audit_status, ppbd.audit_message, ppbd.create_time ,ppbd.create_by ,ppbd.update_time ,ppbd.update_by
    </sql>
    <sql id="moreColumns">
    ppbd.id  ,ppbd.batch_id ,ppbd.form_id, ppbd.form_name, ppbd.forward_vehicle_id, ppbd.push_status ,ppbd.error_info , ppbd.audit_status, ppbd.audit_message, ppbd.create_time ,ppbd.create_by ,ppbd.update_time ,ppbd.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.PushBatchDetail"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_push_batch_detail ppbd
        <where>
            ppbd.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
    <!-- 根据id查询 -->
    <select id="findByBatchIdAndFormName" resultType="com.bitnei.cloud.sys.domain.PushBatchDetail"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_push_batch_detail ppbd
        WHERE ppbd.batch_id=#{batchId}
        AND ppbd.form_name=#{formName}
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>

    <!-- 根据formId查询 -->
    <select id="findByFormId" resultType="com.bitnei.cloud.sys.domain.PushBatchDetail"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_push_batch_detail ppbd
        WHERE ppbd.form_id=#{formId}
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        ORDER BY ppbd.create_time DESC LIMIT 1
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_push_batch_detail (id,batch_id,form_id,form_name,forward_vehicle_id, push_status,error_info,audit_status,audit_message,create_time,create_by)
        values
        (#{id},#{batchId},#{formId},#{formName},#{forwardVehicleId}, #{pushStatus},#{errorInfo},#{auditStatus},#{auditMessage},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_push_batch_detail set
        id=id,batch_id=#{batchId},form_id=#{formId},form_name=#{formName},forward_vehicle_id = #{forwardVehicleId},push_status=#{pushStatus},error_info=#{errorInfo}, audit_status=#{auditStatus}, audit_message=#{auditMessage},
        update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_push_batch_detail
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
            ppbd.id  ,ppbd.batch_id ,ppbd.form_id, ppbd.form_name, ppbd.forward_vehicle_id, ppbd.push_status,
            ppbd.error_info , ppbd.audit_status, ppbd.audit_message, ppbd.create_time,
            ppbd.create_by ,ppbd.update_time ,ppbd.update_by,
            pb.batch_num, pb.batch_type, sv.vin
        from sys_push_batch_detail ppbd
        LEFT JOIN sys_push_batch pb ON pb.id = ppbd.batch_id
        LEFT JOIN sys_vehicle sv ON ppbd.form_id = sv.id
        <where>
            <if test="authSQL != null">
              <include refid="authSQL"/>
            </if>
            <if test="batchType != null and batchType != ''">
                and pb.batch_type = #{batchType}
            </if>
            <if test="auditStatus != null and auditStatus != ''">
                and ppbd.audit_status = #{auditStatus}
            </if>
        </where>

    </select>
</mapper>
