<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.SimManagementMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.SimManagement" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        sim.*
    </sql>
    <sql id="moreColumns">
        sim.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.SimManagement" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_sim_management sim
        <where>
            sim.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_sim_management (id,global_sim_type,iccid,msisd,is_active,mb,create_time,create_by)
        values
        (#{id},#{globalSimType},#{iccid},#{msisd},#{isActive},#{mb},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_sim_management set
        id=id,global_sim_type=#{globalSimType},iccid=#{iccid},msisd=#{msisd},is_active=#{isActive},mb=#{mb},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 注册sim卡 -->
    <update id="register" parameterType="java.util.HashMap">
        update sys_sim_management set
        is_active=1,update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_sim_management
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_sim_management sim
        <if test="unselected !=null and unselected!=''">
            left join sys_term_model_unit tmu on tmu.iccid=sim.iccid
        </if>

        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="msisd!=null and msisd!='' ">
                and sim.msisd like CONCAT('%', #{msisd}, '%')
            </if>
            <if test="iccid!=null and iccid!=''">
                and sim.iccid like CONCAT('%', #{iccid}, '%')
            </if>
            <if test="isActive!=null and isActive!=''">
                and sim.is_active = #{isActive}
            </if>
            <if test="globalSimType!=null and globalSimType!=''">
                and sim.global_sim_type = #{globalSimType}
            </if>
            <if test="unselected !=null and unselected!=''">
                and tmu.id is null
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sim.iccid in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        order by sim.create_time desc

    </select>

    <!-- 根据icccid查询 -->
    <select id="findByIccId" resultType="com.bitnei.cloud.sys.domain.SimManagement" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_sim_management sim
        <where>
            sim.iccid=#{iccid}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据icccid查询 -->
    <select id="findByMsisd" resultType="com.bitnei.cloud.sys.domain.SimManagement" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_sim_management sim
        <where>
            sim.msisd=#{msisd}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


</mapper>
