<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.TermModelUnitMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.TermModelUnit" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        tmu.*
    </sql>
    <sql id="moreColumns">
        tmu.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.TermModelUnit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        , sim.msisd, model.unit_id
        from
        sys_term_model_unit tmu
        left join sys_sim_management sim on tmu.iccid = sim.iccid
        left join sys_term_model model on model.id = tmu.sys_term_model_id
        <where>
            tmu.id=#{id}
        </where>
    </select>

    <!-- 根据终端编号查询 -->
    <select id="findBySerialNumber" resultType="com.bitnei.cloud.sys.domain.TermModelUnit" parameterType="java.util.HashMap">
        select
          <include refid="moreColumns"/>
        from
        sys_term_model_unit tmu
        <where>
            tmu.serial_number=#{serialNumber}
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_term_model_unit (id,serial_number,sys_term_model_id,support_protocol,protocol_version,iccid,imei,term_part_firmware_number,fireware_version,produce_batch,factory_date,create_time,create_by,encryption_chip_id,network_access_number,term_description,other_file)
        values
        (#{id},#{serialNumber},#{sysTermModelId},#{supportProtocol},#{protocolVersion},#{iccid},#{imei},#{termPartFirmwareNumber},#{firewareVersion},#{produceBatch},#{factoryDate},#{createTime},#{createBy},#{encryptionChipId},#{networkAccessNumber},#{termDescription},#{otherFile})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_term_model_unit set
        id=id,serial_number=#{serialNumber},sys_term_model_id=#{sysTermModelId},support_protocol=#{supportProtocol},protocol_version=#{protocolVersion},iccid=#{iccid},imei=#{imei},term_part_firmware_number=#{termPartFirmwareNumber},fireware_version=#{firewareVersion},produce_batch=#{produceBatch},factory_date=#{factoryDate},update_time=#{updateTime},update_by=#{updateBy},encryption_chip_id=#{encryptionChipId},network_access_number=#{networkAccessNumber},term_description=#{termDescription},other_file=#{otherFile}
        <where>
            id = #{id}
            <!--<if test="authSQL != null">
                <include refid="authSQL"/>
            </if>-->
        </where>

    </update>

    <!-- 更新IMEI和条形码 -->
    <update id="updateImeiAndBarCode" parameterType="java.util.HashMap">
        update sys_term_model_unit set
         imei=#{imei},bar_code=#{barCode},update_time=#{updateTime}
        <where>
            id = #{id}
            <!--<if test="authSQL != null">
                <include refid="authSQL"/>
            </if>-->
        </where>

    </update>

    <!-- 更新加密芯片ID -->
    <update id="updateEncryptionChipId" parameterType="java.util.HashMap">
        update sys_term_model_unit set
        encryption_chip_id=#{encryptionChipId},update_time=#{updateTime}
        <where>
            sys_term_model_id = #{sysTermModelId}
        </where>
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete tmu from
        sys_term_model_unit tmu
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        ,sim.msisd, vin, rule.rule_type_id, tm.unit_id
        from sys_term_model_unit tmu
        left join sys_sim_management sim on tmu.iccid = sim.iccid
        left join sys_vehicle veh on tmu.id = veh.term_id
        left join dc_rule rule on rule.id = tmu.support_protocol
        left join dc_rule_type rt on rule.rule_type_id = rt.id
        LEFT JOIN sys_term_model tm ON tmu.sys_term_model_id = tm.id
        LEFT JOIN sys_unit un on un.id = tm.unit_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and tmu.iccid in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <!-- 终端编号 -->
            <if test="serialNumber !=null and serialNumber!=''">
                and tmu.serial_number like CONCAT('%', #{serialNumber}, '%')
            </if>
            <!-- 终端型号 -->
            <if test="sysTermModelId !=null and sysTermModelId!=''">
                and tmu.sys_term_model_id = #{sysTermModelId}
            </if>
            <!-- 终端型号 -->
            <if test="termModelName !=null and termModelName!=''">
                and tm.term_model_name like CONCAT('%', #{termModelName}, '%')
            </if>
            <!-- 支持协议 -->
            <if test="supportProtocol !=null and supportProtocol!=''">
                and tmu.support_protocol = #{supportProtocol}
            </if>
            <!-- 支持协议名称 -->
            <if test="supportProtocolName !=null and supportProtocolName!=''">
                and rule.name like CONCAT('%', #{supportProtocolName}, '%')
            </if>
            <!-- iccid -->
            <if test="iccid !=null and iccid!=''">
                and tmu.iccid like CONCAT('%', #{iccid}, '%')
            </if>
            <!-- msisd -->
            <if test="msisd !=null and msisd!=''">
                and sim.msisd like CONCAT('%', #{msisd}, '%')
            </if>
            <!-- vin -->
            <if test="vin !=null and vin!=''">
                and veh.vin like CONCAT('%', #{vin}, '%')
            </if>
            <!-- 查询未绑定车辆vin的终端 -->
            <if test="filterReModel == 'true'">
                and veh.vin IS NULL
            </if>
            <!-- 协议类型 -->
            <if test="ruleTypeId != null and ruleTypeId != ''">
                and rule.rule_type_id = #{ruleTypeId}
            </if>
            <!-- 协议类型名称 -->
            <if test="ruleTypeName != null and ruleTypeName != ''">
                and rt.name like CONCAT('%', #{ruleTypeName}, '%')
            </if>
            <!-- 终端生产企业 -->
            <if test="unitName != null and unitName != ''">
                and un.name like CONCAT('%', #{unitName}, '%')
            </if>
            <!-- id集合 -->
            <if test="termIds != null">
                AND tmu.id IN
                <foreach collection="termIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>


        </where>
        ORDER BY tmu.create_time DESC
    </select>

    <!-- 根据 iccid、终端型号 查询-->
    <select id="findByParams" resultType="com.bitnei.cloud.sys.domain.TermModelUnit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from sys_term_model_unit tmu
        <where>
            <if test="iccid != null and iccid !=''">
                and tmu.iccid = #{iccid}
            </if>
            <if test="serialNumber != null and serialNumber !=''">
                and tmu.serial_number = #{serialNumber}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <select id="findByIccid" resultType="com.bitnei.cloud.sys.domain.TermModelUnit" parameterType="java.lang.String">
        select
          <include refid="moreColumns"/>
        from sys_term_model_unit tmu
        where tmu.iccid = #{iccid} limit 1
    </select>

    <!-- 根据通讯协议计算车载终端数量 -->
    <select id="findByRuleIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(tmu.id) FROM sys_term_model_unit tmu
        WHERE tmu.support_protocol = #{supportProtocol}
    </select>

    <!-- 根据加密芯片ID计算车载终端数量 -->
    <select id="findByEncryptionChipIdCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(tmu.id) FROM sys_term_model_unit tmu
        WHERE tmu.encryption_chip_id = #{encryptionChipId}
        <if test="termModelUnitId != null and termModelUnitId !=''">
            and tmu.id != #{termModelUnitId}
        </if>
    </select>

    <!--查询已使用的加密芯片ID-->
    <select id="findEncryptionChipIds" resultType="java.lang.String" parameterType="java.util.HashMap">
        select tmu.encryption_chip_id from sys_term_model_unit tmu
        where tmu.encryption_chip_id is not null and tmu.encryption_chip_id != ''
    </select>

</mapper>
