<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.mapper.TermParamRecordMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.TermParamRecord" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    tpr.id  ,tpr.license_plate ,tpr.vin ,tpr.send_time ,tpr.response_time ,tpr.term_code ,tpr.param_values ,tpr.state ,tpr.describes ,tpr.update_user ,tpr.update_time ,tpr.history_online_state ,tpr.vehicle_type_value ,tpr.operating_area ,tpr.operating_unit ,tpr.receive_state, tpr.operation, tpr.error_message
    </sql>
    <sql id="moreColumns">
    tpr.id  ,tpr.license_plate ,tpr.vin ,tpr.send_time ,tpr.response_time ,tpr.term_code ,tpr.param_values ,tpr.state ,tpr.describes ,tpr.update_user ,tpr.update_time ,tpr.history_online_state ,tpr.vehicle_type_value ,tpr.operating_area ,tpr.operating_unit ,tpr.receive_state, tpr.operation, tpr.error_message
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.TermParamRecord" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_term_param_record tpr
        left join sys_vehicle v on v.vin = tpr.vin
        <where>
            tpr.id=#{id} and v.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据vin查询 -->
    <select id="findByVin" resultType="com.bitnei.cloud.sys.domain.TermParamRecord" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>, v.veh_model_id as vehModelId, svm.veh_model_name as vehModelName,
        v.inter_no as interNo
        from
        sys_term_param_record tpr
        left join sys_vehicle v on v.vin = tpr.vin
        left join sys_veh_model svm on v.veh_model_id = svm.id
        <where>
            v.is_delete = 0 and tpr.vin=#{vin}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_term_param_record (id,license_plate,vin,send_time,response_time,term_code,param_values,state,describes,update_user,history_online_state,vehicle_type_value,operating_area,operating_unit,receive_state,operation,error_message)
        values
        (#{id},#{licensePlate},#{vin},#{sendTime},#{responseTime},#{termCode},#{paramValues},#{state},#{describes},#{updateUser},#{historyOnlineState},#{vehicleTypeValue},#{operatingArea},#{operatingUnit},#{receiveState},#{operation},#{errorMessage})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_term_param_record set
        id=id,license_plate=#{licensePlate},vin=#{vin},send_time=#{sendTime},response_time=#{responseTime},term_code=#{termCode},param_values=#{paramValues},state=#{state},describes=#{describes},update_user=#{updateUser},update_time=#{updateTime},history_online_state=#{historyOnlineState},vehicle_type_value=#{vehicleTypeValue},operating_area=#{operatingArea},operating_unit=#{operatingUnit},receive_state=#{receiveState},operation=#{operation},error_message=#{errorMessage}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_term_param_record
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> , v.veh_model_id as vehModelId, svm.veh_model_name as vehModelName,
        v.inter_no as interNo
        from
        sys_term_param_record tpr
        left join sys_vehicle v on v.vin = tpr.vin
        left join sys_veh_model svm on v.veh_model_id = svm.id
        <where>
            v.is_delete = 0
            <if test="vin != null and vin != ''">
                AND tpr.vin LIKE CONCAT('%',#{vin},'%')
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                AND tpr.license_plate LIKE CONCAT('%',#{licensePlate},'%')
            </if>
            <if test="interNo != null and interNo != ''">
                AND v.inter_no LIKE CONCAT('%',#{interNo},'%')
            </if>
            <if test="beginTime != null">
                and tpr.update_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and tpr.update_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                AND v.veh_model_id = #{vehModelId}
            </if>
            <if test="state != null">
                and tpr.state = #{state}
            </if>
            <if test="operation != null and operation != ''">
                AND tpr.operation LIKE CONCAT('%',#{operation},'%')
            </if>

            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        order by tpr.send_time desc
    </select>

    <select id="findByVinAndState" resultMap="tailResults"  parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        sys_term_param_record tpr
        left join sys_vehicle v on v.vin = tpr.vin
        where
        tpr.receive_state = 0 and v.is_delete = 0
        and tpr.vin=#{value}
    </select>

    <select id="findParameterCodes" resultType="java.lang.String">
        select
        Group_concat(code SEPARATOR '|') AS code
        from
        sys_term_param_dic
        where
        1=1
    </select>

    <!--通过vin删除记录-->
    <delete id="delByVin" parameterType="java.lang.String">
        DELETE FROM sys_term_param_record WHERE vin = #{vin}
    </delete>
</mapper>
