<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.TermModelMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.TermModel" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- 终端生产企业机构代码 -->
            <result property="organizationCode" column="organization_code" />
            <!-- 终端生产企业名称 -->
            <result property="unitName" column="unit_name" />
            <!-- 终端生产企业联系人 -->
            <result property="contactorName" column="contactor_name" />
            <!-- 终端生产企业联系电话 -->
            <result property="contactorPhone" column="contactor_phone" />
            <!-- 终端生产企业执照 -->
            <result property="licenceImgId" column="licence_img_id" />
            <!-- 芯片型号 -->
            <result property="chipModel" column="chip_model" />
            <!-- 车载终端说明 -->
            <result property="termDescription" column="term_description" />
            <!-- 车载终端其他文件 -->
            <result property="otherFile" column="other_file" />
            <!-- ICCID -->
            <result property="iccid" column="iccid" />
            <!-- 终端入网证号 -->
            <result property="networkAccessNumber" column="network_access_number" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        tm.*
    </sql>
    <sql id="moreColumns">
        tm.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.TermModel" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_term_model tm
        <where>
            tm.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据终端型号名称查询 -->
    <select id="findByTermModelName" resultType="com.bitnei.cloud.sys.domain.TermModel" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_term_model tm
        <where>
            tm.term_model_name=#{termModelName}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        limit 1
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_term_model (id,term_model_name,term_category,brand_name,working_voltage,power_waste,firmware_version,unit_id,sleep_electric_current,built_in_battery_capacity,term_part_firmware_numbers,create_time,create_by,support_encryption_chip,term_detection_no,detection_report_img_id)
        values
        (#{id},#{termModelName},#{termCategory},#{brandName},#{workingVoltage},#{powerWaste},#{firmwareVersion},#{unitId},#{sleepElectricCurrent},#{builtInBatteryCapacity},#{termPartFirmwareNumbers},#{createTime},#{createBy},#{supportEncryptionChip},#{termDetectionNo},#{detectionReportImgId})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_term_model set
        id=id,term_model_name=#{termModelName},term_category=#{termCategory},brand_name=#{brandName},working_voltage=#{workingVoltage},power_waste=#{powerWaste},firmware_version=#{firmwareVersion},unit_id=#{unitId},sleep_electric_current=#{sleepElectricCurrent},built_in_battery_capacity=#{builtInBatteryCapacity},term_part_firmware_numbers=#{termPartFirmwareNumbers},update_time=#{updateTime},update_by=#{updateBy},support_encryption_chip=#{supportEncryptionChip},term_detection_no=#{termDetectionNo},detection_report_img_id=#{detectionReportImgId}
        <where>
            id = #{id}
            <!--<if test="authSQL != null">
                <include refid="authSQL"/>
            </if>-->
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete tm from sys_term_model tm
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_term_model tm
        LEFT JOIN sys_unit un on un.id = tm.unit_id
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="termModelName !=null and termModelName!=''">
                and tm.term_model_name LIKE CONCAT('%',#{termModelName},'%')
            </if>
            <if test="termCategory !=null and termCategory!=''">
                and tm.term_category = #{termCategory}
            </if>
            <if test="brandName !=null and brandName!=''">
                and tm.brand_name LIKE CONCAT('%',#{brandName},'%')
            </if>
            <if test="unitId !=null and unitId!=''">
                and tm.unit_id = #{unitId}
            </if>
            <!-- 终端生产企业 -->
            <if test="unitName != null and unitName != ''">
                and un.name like CONCAT('%', #{unitName}, '%')
            </if>
            <!-- 支持加密芯片 -->
            <if test="supportEncryptionChip !=null and supportEncryptionChip!=''">
                and tm.support_encryption_chip = #{supportEncryptionChip}
            </if>
        </where>
        order by tm.create_time desc
    </select>


    <!-- 根据车辆ID获取终端信息 -->
    <select id="getByVehicleId" resultMap="tailResults" parameterType="java.lang.String">
         SELECT tm.*,
             u.organization_code, u.`name` unit_name, u.contactor_name, u.contactor_phone, u.licence_img_id,
             ecm.`name` chip_model, tmu.term_description, tmu.other_file, tmu.iccid, tmu.network_access_number
         FROM sys_term_model_unit tmu
         INNER JOIN sys_vehicle v ON v.term_id = tmu.id
         INNER JOIN sys_term_model tm ON tm.id = tmu.sys_term_model_id
         LEFT JOIN sys_unit u ON u.id = tm.unit_id
         LEFT JOIN sys_encryption_chip ec ON ec.id = tmu.encryption_chip_id
         LEFT JOIN sys_encryption_chip_model ecm on ecm.id = ec.chip_model_id
        <where>
            v.id = #{vehicleId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


</mapper>
