<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UnitMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.Unit" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        un.*
    </sql>

    <sql id="moreColumns">
        un.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.Unit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>,
        GROUP_CONCAT(distinct lk.unit_type_id) AS unitTypeIds,
        GROUP_CONCAT(distinct ut.NAME) AS unitTypeNames
        from
        sys_unit un
        LEFT JOIN sys_unit_type_lk lk ON un.id = lk.unit_id
        LEFT JOIN sys_unit_type ut ON lk.unit_type_id = ut.id
        <where>
            un.id=#{id}
        </where>
        group by un.id
    </select>

    <!-- 根据单位名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.Unit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_unit un
        <where>
            un.name=#{name} and un.is_delete = 0
        </where>
        limit  1
    </select>

    <!-- 根据单位名称查询列表 -->
    <select id="findListByName" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_unit un
        where un.is_delete = 0
        and un.name LIKE CONCAT('%',#{name},'%')
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
    </select>

    <!-- 根据单位ID查询列表 -->
    <select id="findListById" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        ,
        GROUP_CONCAT(distinct lk.unit_type_id) AS unitTypeIds,
        GROUP_CONCAT(distinct ut.NAME) AS unitTypeNames
        from
        sys_unit un
        LEFT JOIN sys_unit_type_lk lk ON un.id = lk.unit_id
        LEFT JOIN sys_unit_type ut ON lk.unit_type_id = ut.id
        where un.is_delete = 0
        and un.id LIKE CONCAT('%',#{id},'%')
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        group by un.id
    </select>

    <!-- 根据单位简称查询 -->
    <select id="findByNickName" resultType="com.bitnei.cloud.sys.domain.Unit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_unit un
        <where>
            un.nick_name=#{nickName} AND is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据统一社会信用代码查询 -->
    <select id="findByOrganizationCode" resultType="com.bitnei.cloud.sys.domain.Unit" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_unit un
        <where>
            un.organization_code=#{organizationCode} and is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_unit (id,name,nick_name,is_root,parent_id,path,address,telephone,bussiness_lines,brands,organization_code,licence_img_id,cert_img_id,contactor_name,contactor_phone,contactor_address,create_time,create_by,lat,lng)
        values
        (#{id},#{name},#{nickName},#{isRoot},#{parentId},#{path},#{address},#{telephone},#{bussinessLines},#{brands},#{organizationCode},#{licenceImgId},#{certImgId},#{contactorName},#{contactorPhone},#{contactorAddress},#{createTime},#{createBy},#{lat},#{lng})
    </insert>

    <!--插入单位类型关联-->
    <insert id="insertUnitTypeLk" parameterType="java.util.List">
        INSERT INTO sys_unit_type_lk
        (id,unit_type_id,unit_id,create_time,create_by)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.unitTypeId},#{item.unitId},#{item.createTime},#{item.createBy})
        </foreach>
    </insert>

    <!--删除单位-单位类型关联关系-->
    <delete id="delUnitTypeLkByUnitId" parameterType="java.util.HashMap">
        DELETE FROM sys_unit_type_lk WHERE unit_id=#{unitId}
    </delete>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_unit set
        id=id,name=#{name},nick_name=#{nickName},is_root=#{isRoot},parent_id=#{parentId},path=#{path},address=#{address},telephone=#{telephone},bussiness_lines=#{bussinessLines},brands=#{brands},organization_code=#{organizationCode},licence_img_id=#{licenceImgId},cert_img_id=#{certImgId},contactor_name=#{contactorName},contactor_phone=#{contactorPhone},contactor_address=#{contactorAddress},update_time=#{updateTime},update_by=#{updateBy},lat=#{lat},lng=#{lng}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <update id="delete" parameterType="java.util.HashMap">
        update sys_unit set
        is_delete = 1
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <!--<include refid="moreColumns"/>-->
            un.id,un.name, un.nick_name, un.is_root, un.parent_id ,un.path,un.address,
            un.telephone,un.bussiness_lines AS bussinessLines,
            un.brands,un.organization_code AS organizationCode,
            un.licence_img_id AS licenceImgId,un.cert_img_id AS certImgId,
            un.contactor_name AS contactorName,un.contactor_phone AS contactorPhone,
            un.contactor_address AS contactorAddress,un.create_time AS createTime,
            un.create_by AS createBy,un.update_time AS updateTime,un.update_by AS updateBy,
            un.lng ,un.lat,
            (SELECT GROUP_CONCAT(unit_type_id) FROM sys_unit_type_lk lk, sys_unit_type ut
              WHERE lk.unit_type_id = ut.id AND lk.unit_id = un.id ) unitTypeIds,
            (SELECT GROUP_CONCAT(ut.NAME) FROM sys_unit_type_lk lk , sys_unit_type ut
              WHERE lk.unit_type_id = ut.id AND lk.unit_id = un.id ) unitTypeNames
        from sys_unit un
        where un.is_delete = 0 and un.id != '0'
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        <if test="id != null and id != ''">
            and un.id = #{id}
        </if>
        <if test="name != null and name != ''">
            and un.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="nameEq != null and nameEq != ''">
            and un.name = #{nameEq}
        </if>
        <if test="nickName != null and nickName != ''">
            and un.nick_name LIKE CONCAT('%',#{nickName},'%')
        </if>
        <if test="nickNameEq != null and nickNameEq != ''">
            and un.nick_name = #{nickNameEq}
        </if>
        <if test="isRoot != null">
            and un.is_root = #{isRoot}
        </if>
        <if test="parentId != null and parentId != ''">
            and un.parent_id = #{parentId}
        </if>
        <if test="path != null and path != ''">
            and un.path LIKE CONCAT('%',#{path},'%')
        </if>
        <if test="address != null and address != ''">
            and un.address LIKE CONCAT('%',#{address},'%')
        </if>
        <if test="telephone != null and telephone != ''">
            and un.telephone = #{telephone}
        </if>
        <if test="bussinessLines != null and bussinessLines != ''">
            and un.bussiness_lines LIKE CONCAT('%',#{bussinessLines},'%')
        </if>
        <if test="brands != null and brands != ''">
            and un.brands LIKE CONCAT('%',#{brands},'%')
        </if>
        <if test="organizationCode != null and organizationCode != ''">
            and un.organization_code LIKE CONCAT('%',#{organizationCode},'%')
        </if>
        <if test="organizationCodeEq != null and organizationCodeEq != ''">
            and un.organization_code = #{organizationCodeEq}
        </if>
        <if test="licenceImgId != null and licenceImgId != ''">
            and un.licence_img_id = #{licenceImgId}
        </if>
        <if test="certImgId != null and certImgId != ''">
            and un.cert_img_id = #{certImgId}
        </if>
        <if test="contactorName != null and contactorName != ''">
            and un.contactor_name LIKE CONCAT('%',#{contactorName},'%')
        </if>
        <if test="contactorPhone != null and contactorPhone != ''">
            and un.contactor_phone = #{contactorPhone}
        </if>
        <if test="contactorAddress != null and contactorAddress != ''">
            and un.contactor_address LIKE CONCAT('%',#{contactorAddress},'%')
        </if>
        <if test="unitTypeCode != null and unitTypeCode != ''">
            AND (SELECT GROUP_CONCAT(ut.`code`) FROM sys_unit_type_lk lk , sys_unit_type ut
              WHERE lk.unit_type_id = ut.id AND lk.unit_id = un.id ) like CONCAT('%',#{unitTypeCode},'%')
        </if>
        <if test="excludeId != null">
            and un.path not like CONCAT('%/',#{excludeId},'/%')
        </if>
        <!-- id集合 -->
        <if test="unitIds != null">
            AND un.id IN
            <foreach collection="unitIds" item="id" open="(" separator="," close=")">
                #{id}
            </foreach>
        </if>
        ORDER BY un.create_time DESC
    </select>

    <!-- 分页查询 -->
    <select id="findTreeList" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <!--<include refid="moreColumns"/>-->
        un.id, un.name,un.nick_name AS nickName,
        un.is_root AS isRoot,un.parent_id AS parentId,
        un.path,un.address,un.telephone,un.bussiness_lines AS bussinessLines,
        un.brands,un.organization_code AS organizationCode,
        un.licence_img_id AS licenceImgId,un.cert_img_id AS certImgId,
        un.contactor_name AS contactorName,un.contactor_phone AS contactorPhone,
        un.contactor_address AS contactorAddress,un.create_time AS createTime,
        un.create_by AS createBy,un.update_time AS updateTime, un.update_by AS updateBy
        from sys_unit un
        where un.is_delete = 0
        <if test="authSQL != null">
            <include refid="authSQL"/>
        </if>
        <if test="id != null and id != ''">
            and un.id = #{id}
        </if>
        <if test="name != null and name != ''">
            and un.name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="nameEq != null and nameEq != ''">
            and un.name = #{nameEq}
        </if>
        <if test="nickName != null and nickName != ''">
            and un.nick_name LIKE CONCAT('%',#{nickName},'%')
        </if>
        <if test="nickNameEq != null and nickNameEq != ''">
            and un.nick_name = #{nickNameEq}
        </if>
        <if test="isRoot != null">
            and un.is_root = #{isRoot}
        </if>
        <if test="parentId != null and parentId != ''">
            and un.parent_id = #{parentId}
        </if>
        <if test="path != null and path != ''">
            and un.path LIKE CONCAT('%',#{path},'%')
        </if>
        <if test="address != null and address != ''">
            and un.address LIKE CONCAT('%',#{address},'%')
        </if>
        <if test="telephone != null and telephone != ''">
            and un.telephone = #{telephone}
        </if>
        <if test="bussinessLines != null and bussinessLines != ''">
            and un.bussiness_lines LIKE CONCAT('%',#{bussinessLines},'%')
        </if>
        <if test="brands != null and brands != ''">
            and un.brands LIKE CONCAT('%',#{brands},'%')
        </if>
        <if test="organizationCode != null and organizationCode != ''">
            and un.organization_code LIKE CONCAT('%',#{organizationCode},'%')
        </if>
        <if test="organizationCodeEq != null and organizationCodeEq != ''">
            and un.organization_code = #{organizationCodeEq}
        </if>
        <if test="licenceImgId != null and licenceImgId != ''">
            and un.licence_img_id = #{licenceImgId}
        </if>
        <if test="certImgId != null and certImgId != ''">
            and un.cert_img_id = #{certImgId}
        </if>
        <if test="contactorName != null and contactorName != ''">
            and un.contactor_name LIKE CONCAT('%',#{contactorName},'%')
        </if>
        <if test="contactorPhone != null and contactorPhone != ''">
            and un.contactor_phone = #{contactorPhone}
        </if>
        <if test="contactorAddress != null and contactorAddress != ''">
            and un.contactor_address LIKE CONCAT('%',#{contactorAddress},'%')
        </if>
        <if test="id != null and id != ''">
            and un.create_by = #{id}
        </if>
        <if test="id != null and id != ''">
            and un.update_by = #{id}
        </if>
        ORDER BY un.create_time DESC
    </select>

    <!-- 修改父节点的时候把改父节点下的所有子节点的path进行修改 -->
    <update id="updateChildPath"  parameterType="java.util.HashMap">
        update
        sys_unit ut
        set
        path = replace(path,#{oldPath},#{newPath})
        where ut.path like CONCAT('%',#{oldPath},'%')

    </update>


    <select id="findByUintIdCodeCount" parameterType="java.util.HashMap" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM sys_unit_type_lk lk
        LEFT JOIN sys_unit_type t ON lk.unit_type_id = t.id
        WHERE lk.unit_id = #{unitId}
        AND t.`code` = #{code}
    </select>

    <select id="countOfName" resultType="java.lang.Long">
        select count(1) from sys_unit
        <where>
            is_delete=0
            <if test="id != null and id != ''">
                and (id != #{id} and name=#{name})
            </if>
            <if test="id == null or id == ''">
                and name=#{name}
            </if>
        </where>

    </select>

    <select id="countOfNickName" resultType="java.lang.Long">
        select count(1) from sys_unit
        <where>
            is_delete=0
            <if test="id != null and id != ''">
                and id != #{id}
            </if>
            <if test="nickName != null and nickName != ''">
                and nick_name=#{nickName}
            </if>
        </where>

    </select>




</mapper>
