<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UpgradeLogMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.UpgradeLog" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    upl.id  ,upl.action ,upl.task_name ,upl.license_plate ,upl.description ,upl.create_by_id ,upl.create_by ,upl.create_time ,upl.remarks
    </sql>
    <sql id="moreColumns">
    upl.id  ,upl.action ,upl.task_name ,upl.license_plate ,upl.description ,upl.create_by_id ,upl.create_by ,upl.create_time ,upl.remarks
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.UpgradeLog" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_upgrade_log upl
        <where>
            upl.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_upgrade_log (id,action,task_name,license_plate,description,create_by_id,create_by,create_time,remarks)
        values
        (#{id},#{action},#{taskName},#{licensePlate},#{description},#{createById},#{createBy},#{createTime},#{remarks})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_upgrade_log set
        id=id,action=#{action},task_name=#{taskName},license_plate=#{licensePlate},description=#{description},create_by_id=#{createById},remarks=#{remarks}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_upgrade_log
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_upgrade_log upl
        <where>
            1=1
            <if test="taskName != null and taskName!= ''">
                and upl.task_name like concat('%',#{taskName},'%')
            </if>
            <if test="action != null">
                and upl.action = #{action}
            </if>
            <if test="licensePlate != null and licensePlate!= ''">
                and upl.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="createBy != null and createBy!= ''">
                and upl.create_by like concat('%',#{createBy},'%')
            </if>
            <if test="beginTime != null">
                and upl.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and upl.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        order by upl.create_time desc

    </select>
</mapper>
