<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UploadFileMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.UploadFile" >
        <result property="id" column="id"></result>
        <result property="name" column="name"></result>
        <result property="extension" column="extension"></result>
        <result property="fileSize" column="file_size"></result>
        <result property="type" column="type"></result>
        <result property="content" column="content" jdbcType="BLOB" typeHandler="com.bitnei.cloud.common.handler.MyBlobTypeHandler"></result>
        <result property="url" column="url" ></result>
        <result property="createTime" column="create_time" ></result>
        <result property="createBy" column="create_by" ></result>
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
        uf.*
    </sql>
    <sql id="moreColumns">
        uf.*
    </sql>

    <!-- 查询所有的结果 -->
    <select id="all" resultType="com.bitnei.cloud.sys.domain.UploadFile" parameterType="java.util.HashMap">
        select
        <include refid="baseColumns"/>
        from
        sys_upload_file uf
        <where>
            <if test="authSQL != null">
            <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.UploadFile"  parameterType="java.util.HashMap" statementType="PREPARED">
        select
        <include refid="moreColumns"/>
        from
        sys_upload_file uf
        <where>
            uf.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_upload_file (id,name,extension,file_size,type,content,url,create_time,create_by)
        values
        (#{id},#{name},#{extension},#{fileSize},#{type},#{content,jdbcType=BLOB},#{url},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_upload_file set
        id=id,name=#{name},extension=#{extension},file_size=#{fileSize},type=#{type},content=#{content},url=#{url}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_upload_file
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_upload_file uf
        <where>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>

    </select>

    <select id="getImage" resultType="com.bitnei.cloud.sys.domain.UploadFile"  parameterType="java.util.HashMap">
        select * from sys_upload_file
        <where>
            id in
            <foreach collection="imageIds" index="index" item="item" open="(" separator="," close=")">
            #{item}
            </foreach>
        </where>
    </select>


    <delete id="deleteMailAttachment">
        delete from sys_upload_file
        <where>
            id in
            <foreach collection="imageIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>

        </where>

    </delete>

</mapper>
