<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UppackageSendDetailsMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.UppackageSendDetails" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    susd.id  ,susd.vin ,susd.license_plate ,susd.vehicle_type_id ,susd.vehicle_type_value ,susd.file_name ,susd.file_send_status ,susd.upgrade_status ,susd.uppackage_send_status ,susd.uppackage_info_id ,susd.uppackage_send_id ,susd.upgrade_send_state ,susd.percentage ,susd.history_online_state ,susd.operating_area ,susd.session_id ,susd.remark, susd.inter_no, susd.create_time, susd.update_time
    </sql>
    <sql id="moreColumns">
    susd.id  ,susd.vin ,susd.license_plate ,susd.vehicle_type_id ,susd.vehicle_type_value ,susd.file_name ,susd.file_send_status ,susd.upgrade_status ,susd.uppackage_send_status ,susd.uppackage_info_id ,susd.uppackage_send_id ,susd.upgrade_send_state ,susd.percentage ,susd.history_online_state ,susd.operating_area ,susd.session_id ,susd.remark, susd.inter_no, susd.create_time, susd.update_time
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.UppackageSendDetails"
            parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        , ups.instruct_cache_time as instructCacheTime,
        online_status as onlineState
        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id
        left join sys_vehicle v on v.vin = susd.vin
        left join sys_vehicle_real_status vrs on vrs.vehicle_id = v.id
        <where>
            susd.id=#{id} and v.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_uppackage_send_details (id,vin,license_plate,vehicle_type_id,vehicle_type_value,file_name,file_send_status,upgrade_status,uppackage_send_status,uppackage_info_id,uppackage_send_id,upgrade_send_state,percentage,history_online_state,operating_area,session_id,remark, inter_no, create_time, update_time)
        values
        (#{id},#{vin},#{licensePlate},#{vehicleTypeId},#{vehicleTypeValue},#{fileName},#{fileSendStatus},#{upgradeStatus},#{uppackageSendStatus},#{uppackageInfoId},#{uppackageSendId},#{upgradeSendState},#{percentage},#{historyOnlineState},#{operatingArea},#{sessionId},#{remark},#{interNo},#{createTime},#{updateTime})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_uppackage_send_details set
        id=id,vin=#{vin},license_plate=#{licensePlate},vehicle_type_id=#{vehicleTypeId},vehicle_type_value=#{vehicleTypeValue},file_name=#{fileName},file_send_status=#{fileSendStatus},upgrade_status=#{upgradeStatus},uppackage_send_status=#{uppackageSendStatus},uppackage_info_id=#{uppackageInfoId},uppackage_send_id=#{uppackageSendId},upgrade_send_state=#{upgradeSendState},percentage=#{percentage},history_online_state=#{historyOnlineState},operating_area=#{operatingArea},session_id=#{sessionId},remark=#{remark},inter_no=#{interNo},create_time=#{createTime},update_time=#{updateTime}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <update id="setVehUppackageSendStateShutdown" parameterType="java.util.HashMap">
        update sys_uppackage_send_details set
        uppackage_send_status = 3,
        remark = #{remark}
        where uppackage_send_id = #{taskId}
        <if test="vin != null and vin!= ''">
            and vin = #{vin}
        </if>
    </update>

    <update id="resetState" parameterType="java.util.HashMap">
        update sys_uppackage_send_details set
        uppackage_send_status = 0,
        file_send_status = 0,
        upgrade_status = 0,
        uppackage_send_status = 0,
        remark = #{remark}
        where uppackage_send_id = #{taskId}
        <if test="vin != null and vin!= ''">
            and vin = #{vin}
        </if>
    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_uppackage_send_details
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        , ups.instruct_cache_time as instructCacheTime,
        online_status as onlineState,
        svm.veh_model_name AS vehModelName,
        v.veh_model_id as vehModelId,
        itask.create_time as taskCreateTime,
        ups.protocol_type as protocolType
        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id
        left join sys_vehicle v on v.vin = susd.vin
        left join sys_vehicle_real_status vrs on vrs.vehicle_id = v.id
        left join sys_veh_model svm on v.veh_model_id = svm.id
        left join sys_instruct_task itask on (susd.id = itask.instruct_id AND itask.status = '1')

        <where>
            v.is_delete = 0
            <if test="uppackageSendId != null and uppackageSendId!= ''">
                and susd.uppackage_send_id like concat('%',#{uppackageSendId},'%')
            </if>
            <if test="operatingArea != null and operatingArea!= ''">
                and susd.operating_area = #{operatingArea}
            </if>
            <if test="vehicleTypeId != null and vehicleTypeId!= ''">
                and susd.vehicle_type_id = #{vehicleTypeId}
            </if>
            <if test="vin != null and vin!= ''">
                and susd.vin like concat('%',#{vin},'%')
            </if>
            <if test="licensePlate != null and licensePlate!= ''">
                and susd.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="upgradeSendState != null and upgradeSendState!= ''">
                and susd.upgrade_send_state = #{upgradeSendState}
            </if>
            <if test="upgradeStatus != null and upgradeStatus!= ''">
                and susd.upgrade_status = #{upgradeStatus}
            </if>
            <if test="interNo != null and interNo!= ''">
                and v.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="vehModelId != null and vehModelId!= ''">
                and v.veh_model_id = #{vehModelId}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>

    <!-- 分页查询 -->
    <select id="getAllVehUpgradeLogs" resultMap="tailResults">
        select susd.*,
        ups.create_time as upgradeTime,
        ups.task_name as taskName,
        ups.protocol_type as protocolType,
        susd.upgrade_status as upgradeStatus,
        stmu.iccid as iccid

        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id
        left join sys_vehicle sv on sv.vin = susd.vin
        LEFT JOIN sys_term_model_unit stmu ON sv.term_id = stmu.id

        order by susd.vin asc, ups.create_time desc
    </select>

    <select id="vehicleUpgradeDetails" resultMap="tailResults" parameterType="java.util.List">
        select susd.*,
        ups.create_time as upgradeTime,
        ups.task_name as taskName,
        ups.protocol_type as protocolType,
        susd.upgrade_status as upgradeStatus

        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id

        <where>
            susd.vin in
            <foreach collection="vins" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

        order by susd.vin asc, ups.create_time desc
    </select>

    <select id="getAllByTaskId" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        , ups.instruct_cache_time as instructCacheTime,
        online_status as onlineState
        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id
        left join sys_vehicle v on v.vin = susd.vin
        left join sys_vehicle_real_status vrs on vrs.vehicle_id = v.id

        <where>
            v.is_delete = 0
            <if test="uppackageSendId != null and uppackageSendId!= ''">
                and susd.uppackage_send_id = #{uppackageSendId}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </select>

    <select id="getImplementUpgradeCountByVin" resultType="java.lang.Integer">
        select count(susd.id) from sys_uppackage_send_details susd
        where susd.vin = #{vin} and
        (susd.uppackage_send_status = 1 or susd.uppackage_send_status = 5)
    </select>

    <select id="findByVinAndSendState" resultMap="tailResults" parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>, ups.protocol_type as protocolType
        from
        sys_uppackage_send_details susd
        left join sys_uppackage_send ups on ups.id = susd.uppackage_send_id
        where
        susd.upgrade_send_state = 0
        and susd.uppackage_send_status = 1
        and susd.vin=#{value}
    </select>

    <select id="findByVinAndUpgradeState" resultMap="tailResults" parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        sys_uppackage_send_details susd
        where
        susd.uppackage_send_status = 1
        and susd.upgrade_send_state = 1
        and susd.vin=#{value}
    </select>

    <select id="findRunningUpgrade" resultMap="tailResults" parameterType="java.lang.String">
        select
        <include refid="moreColumns"/>
        from
        sys_uppackage_send_details susd
        where
        (
        susd.uppackage_send_status = 0
        OR
        susd.uppackage_send_status = 1
        OR
        susd.uppackage_send_status = 5
        )
        and susd.uppackage_send_id=#{value}
    </select>

    <select id="findUppackageSendNoStartIngWaitCountByTaskId"
            resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(0) from sys_uppackage_send_details where uppackage_send_id = #{taskId}
        and (uppackage_send_status = 0 or uppackage_send_status = 1 or uppackage_send_status = 5)
    </select>
</mapper>
