<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.mapper.UppackageInfoMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.UppackageInfo" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    upi.id  ,upi.file_name ,upi.nickname ,upi.type ,upi.password ,upi.firmware_version ,upi.ext_version ,upi.hardware_version ,upi.describes ,upi.create_by ,upi.create_by_id ,upi.create_time ,upi.path
    </sql>
    <sql id="moreColumns">
    upi.id  ,upi.file_name ,upi.nickname ,upi.type ,upi.password ,upi.firmware_version ,upi.ext_version ,upi.hardware_version ,upi.describes ,upi.create_by ,upi.create_by_id ,upi.create_time ,upi.path
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.UppackageInfo"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_uppackage_info upi
        <where>
            upi.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_uppackage_info (id,file_name,nickname,type,password,firmware_version,ext_version,hardware_version,describes,create_by,create_by_id,create_time,path)
        values
        (#{id},#{fileName},#{nickname},#{type},#{password},#{firmwareVersion},#{extVersion},#{hardwareVersion},#{describes},#{createBy},#{createById},#{createTime},#{path})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_uppackage_info set
        id=id,file_name=#{fileName},nickname=#{nickname},type=#{type},password=#{password},firmware_version=#{firmwareVersion},ext_version=#{extVersion},hardware_version=#{hardwareVersion},describes=#{describes},create_by_id=#{createById},path=#{path}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_uppackage_info
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_uppackage_info upi
        <where>
            1=1
            <if test="fileName != null and fileName!= ''">
                and upi.file_name like concat('%',#{fileName},'%')
            </if>
            <if test="type != null and type!= ''">
                and upi.type = #{type}
            </if>
            <if test="beginTime != null">
                and upi.create_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and upi.create_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="nickname != null and nickname!= ''">
                and upi.nickname like concat('%',#{nickname},'%')
            </if>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>
        order by create_time desc

    </select>
</mapper>
