<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UserGroupMapper">


    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <select id="getGroupUsers" parameterType="java.lang.String" resultType="java.lang.String">
        select ugl.user_id as id from sys_user_group_lk ugl
        <where>
            ugl.group_id = #{groupId}
        </where>

    </select>



    <insert id="saveGroudUsers" parameterType="java.util.HashMap">
        insert into
        sys_user_group_lk (id,user_id,group_id,create_time,create_by)
        values
        <foreach collection="userIds" item="item" index="index" separator=",">

          (replace(UUID(),'-',''), #{item}, #{groupid},#{createTime},#{createBy})

        </foreach>
    </insert>
    <insert id="insert">
        insert into
        sys_user_group_lk (id,user_id,group_id,create_time,create_by)
        values
        (#{id}, #{userId}, #{groupId},#{createTime},#{createBy})
    </insert>

    <!-- 删除 -->
    <delete id="removeGroupUsers" parameterType="java.util.HashMap">
        delete
        from
        sys_user_group_lk
        <where>
          group_id = #{groupid}
            and user_id in
            <foreach collection="userIds" index="index" item="item" open="(" separator="," close=")">
                           #{item}
            </foreach>

        </where>
    </delete>

    <delete id="clearGroupUser" parameterType="String">
        delete from sys_user_group_lk
        <where>
        group_id = #{groupId}
        </where>
    </delete>



</mapper>
