<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.UserFaultResponseModeSettingMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.UserFaultResponseModeSetting" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    fct.id  ,fct.user_id ,fct.popup ,fct.voice ,fct.app_popup ,fct.message ,fct.email ,fct.create_time ,fct.create_by ,fct.update_time ,fct.update_by
    </sql>
    <sql id="moreColumns">
    fct.id  ,fct.user_id ,fct.popup ,fct.voice ,fct.app_popup ,fct.message ,fct.email ,fct.create_time ,fct.create_by ,fct.update_time ,fct.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.UserFaultResponseModeSetting"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_user_fault_response_mode_setting fct
        <where>
            fct.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据userId查询 -->
    <select id="findByUserId" resultType="com.bitnei.cloud.sys.domain.UserFaultResponseModeSetting"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_user_fault_response_mode_setting fct
        <where>
            fct.user_id=#{userId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_user_fault_response_mode_setting (id,user_id,popup,voice,app_popup,message,email,create_time,create_by)
        values
        (#{id},#{userId},#{popup},#{voice},#{appPopup},#{message},#{email},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_user_fault_response_mode_setting set
        update_time=#{updateTime},
        <if test="popup != null">
            popup=#{popup},
        </if>
        <if test="voice != null">
            voice=#{voice},
        </if>
        <if test="appPopup != null">
            app_popup=#{appPopup},
        </if>
        <if test="message != null">
            message=#{message},
        </if>
        <if test="email != null">
            email=#{email}
        </if>
        update_by=#{updateBy}
        <where>
            user_id=#{userId}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 查询设置开通接收消息的车辆负责人列表 -->
    <select id="notifierStting" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        fault_notifier_setting fns,
        fault_notifier_vehicle_lk fnvl,
        fault_notifier_rule_lk fnrl,
        sys_user_fault_response_mode_setting fct
        <where>
            fns.id = fnvl.notifier_id
            and fns.id = fnrl.notifier_id
            and fns.user_id = fct.user_id
            and fnvl.vehicle_id=#{vehicleId}
            and fns.enabled_status=#{enabledStatus}
            and fns.fault_type like "%"#{faultType}"%"
            and fnrl.rule_type = #{faultType}
            and fnrl.rule_id IN ( 'all', #{ruleId} )
            <if test="popup != null">
                and fct.popup=#{popup}
            </if>
            <if test="voice != null">
                and fct.voice=#{voice}
            </if>
            <if test="appPopup != null">
                and fct.app_popup=#{appPopup}
            </if>
            <if test="message != null">
                and fct.message=#{message}
            </if>
            <if test="email != null">
                and fct.email=#{email}
            </if>
        </where>
    </select>

</mapper>
