<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.VehicleFilingMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.VehicleFiling" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- VIN -->
            <result property="vin" column="vin" />
            <!-- 终端编号 -->
            <result property="serialNumber" column="serial_number" />
            <!-- ICCID -->
            <result property="iccid" column="iccid" />
            <!-- 加密芯片ID -->
            <result property="identificationId" column="identification_id" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    svf.id ,svf.vehicle_id ,svf.status ,svf.status_info ,svf.public_key ,svf.signr ,svf.signs ,svf.create_time ,svf.create_by ,svf.update_time ,svf.update_by
    </sql>
    <sql id="moreColumns">
    svf.id ,svf.vehicle_id ,svf.status ,svf.status_info ,svf.public_key ,svf.signr ,svf.signs ,svf.create_time ,svf.create_by ,svf.update_time ,svf.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.VehicleFiling"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_vehicle_filing svf
        <where>
            svf.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_vehicle_filing (id,vehicle_id,status,status_info,public_key,signr,signs,create_time,create_by)
        values
        (#{id},#{vehicleId},#{status},#{statusInfo},#{publicKey},#{signr},#{signs},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_vehicle_filing set
        vehicle_id=#{vehicleId},status=#{status},status_info=#{statusInfo},public_key=#{publicKey},signr=#{signr},signs=#{signs},update_time=#{updateTime},update_by=#{updateBy}
        where id = #{id}
    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_vehicle_filing
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
          <include refid="moreColumns"/>
          ,sv.vin, tmu.serial_number, tmu.iccid, ec.identification_id
        from
          sys_vehicle_filing svf
        INNER JOIN sys_vehicle sv ON sv.id = svf.vehicle_id
        LEFT JOIN sys_term_model_unit tmu ON sv.term_id = tmu.id
        LEFT JOIN sys_encryption_chip ec ON ec.id = tmu.encryption_chip_id
        <where>
            <!-- VIN -->
            <if test="vin != null and vin != ''">
                and sv.vin like CONCAT('%',#{vin},'%')
            </if>
            <!-- 终端编号 -->
            <if test="serialNumber != null and serialNumber != ''">
                and tmu.serial_number like CONCAT('%',#{serialNumber},'%')
            </if>
            <!-- ICCID -->
            <if test="iccid != null and iccid != ''">
                and tmu.iccid like CONCAT('%',#{iccid},'%')
            </if>
            <!-- 加密芯片ID -->
            <if test="identificationId != null and identificationId != ''">
                and ec.identification_id like CONCAT('%',#{identificationId},'%')
            </if>
            <!-- 备案状态 -->
            <if test="statusVal != null and statusVal != ''">
                and svf.status in
                <foreach collection="statusVal" item="status" open="(" separator="," close=")">
                    #{status}
                </foreach>
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[svf.create_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[svf.create_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="authSQL != null">
              <include refid="authSQL"/>
            </if>
        </where>
        order by svf.create_time desc
    </select>

</mapper>
