<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.VehicleSubsidyMapper">

    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.Vehicle" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <!-- ☆车辆型号☆-->
            <!--<result property="vehModelName" column="veh_model_name" />-->
            <!-- ☆车辆种类☆-->
            <!--<result property="vehTypeName" column="veh_type_name" />-->
            <!-- ☆首次上线时间☆-->
            <!--<result property="firstTimeOnLine" column="first_time_on_line" />-->
            <!-- ☆累计行驶里程☆-->
            <!--<result property="lastEndMileage" column="last_end_mileage" />-->
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultMap="tailResults"  parameterType="java.util.HashMap">
        select
          sv.id,sv.vin,sv.license_plate,sv.oper_use_for,sv.oper_license_city_id,sv.manu_unit_id,sv.subsidy_apply_status,sv.susidy_apply_count,sv.sell_invoice_no,sv.sell_license_reg_date,sv.veh_model_id,
          svm.veh_model_name, svt.name AS veh_type_name,svrs.first_reg_time as firstTimeOnLine,
        (select max(vds.last_end_mileage) from veh_dayreport_summary vds where vds.vin = sv.vin group by vds.vin) as lastEndMileage
        from sys_vehicle sv
        LEFT JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_notice svn ON svn.id = svm.notice_id
        LEFT JOIN sys_veh_type svt ON svt.id = svn.veh_type_id
        LEFT JOIN sys_vehicle_real_status svrs ON svrs.vehicle_id = sv.id
        <where>
            sv.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 车辆补贴列表 -->
    <select id="findPager" resultMap="tailResults" parameterType="java.util.HashMap" resultOrdered="true">
        select
        sv.id,sv.vin,sv.license_plate,sv.oper_use_for,sv.oper_license_city_id,sv.manu_unit_id,sv.subsidy_apply_status,sv.susidy_apply_count,sv.sell_invoice_no,sv.sell_license_reg_date,sv.veh_model_id,
          svm.veh_model_name, svt.name AS veh_type_name,svrs.first_reg_time as firstTimeOnLine,
        (select max(vds.last_end_mileage) from veh_dayreport_summary vds where vds.vin = sv.vin group by vds.vin) as lastEndMileage
        ,svm.efficiency_json as efficiencyJson
        from sys_vehicle sv
        LEFT JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_notice svn ON svn.id = svm.notice_id
        LEFT JOIN sys_veh_type svt ON svt.id = svn.veh_type_id
        LEFT JOIN sys_vehicle_real_status svrs ON svrs.vehicle_id = sv.id
        LEFT JOIN sys_area sa on sa.id = sv.oper_license_city_id
        <where>
            sv.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="id != null">
                and sv.id = #{id}
            </if>
            <if test="vin != null">
                and sv.vin like CONCAT('%',#{vin},'%')
            </if>
            <if test="licensePlate != null">
                and sv.license_plate LIKE CONCAT('%',#{licensePlate},'%')
            </if>
            <if test="operUseFor != null">
                and sv.oper_use_for = #{operUseFor}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="startDate != null">
                and sv.sell_license_reg_date <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                and sv.sell_license_reg_date <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="manuUnitId != null">
                and sv.manu_unit_id = #{manuUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and sa.path LIKE CONCAT('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="subsidyApplyStatus != null">
                and sv.subsidy_apply_status = #{subsidyApplyStatus}
            </if>
        </where>
        order by sv.create_time desc
    </select>

    <!-- 分页查询计数 -->
    <select id="pagerModel_COUNT" resultType="long">
        select
            count(*)
        from sys_vehicle sv
        LEFT JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_notice svn ON svn.id = svm.notice_id
        LEFT JOIN sys_veh_type svt ON svt.id = svn.veh_type_id
        LEFT JOIN sys_vehicle_real_status svrs ON svrs.vehicle_id = sv.id
        LEFT JOIN sys_area sa on sa.id = sv.oper_license_city_id
        <where>
            sv.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="id != null">
                and sv.id = #{id}
            </if>
            <if test="vin != null">
                and sv.vin like CONCAT('%',#{vin},'%')
            </if>
            <if test="licensePlate != null">
                and sv.license_plate LIKE CONCAT('%',#{licensePlate},'%')
            </if>
            <if test="operUseFor != null">
                and sv.oper_use_for = #{operUseFor}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="startDate != null">
                and sv.sell_license_reg_date <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                and sv.sell_license_reg_date <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="manuUnitId != null">
                and sv.manu_unit_id = #{manuUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and sa.path LIKE CONCAT('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="subsidyApplyStatus != null">
                and sv.subsidy_apply_status = #{subsidyApplyStatus}
            </if>
        </where>
        order by sv.create_time desc
    </select>

    <!-- 申报状态更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_vehicle set
        subsidy_apply_status=#{subsidyApplyStatus},susidy_apply_count=#{susidyApplyCount}
        <where>
            id = #{id}

        </where>

    </update>


    <!-- 车辆补贴列表 -->
    <select id="findVehSubsidyPager" resultType="com.bitnei.cloud.sys.model.VehicleSubsidyExcelModel" parameterType="java.util.HashMap" resultOrdered="true">
        select
        sv.id,sv.vin,sv.license_plate,sv.oper_use_for,sv.oper_license_city_id,sv.manu_unit_id,sv.subsidy_apply_status,sv.susidy_apply_count,sv.sell_invoice_no,sv.sell_license_reg_date,sv.veh_model_id,
        svm.veh_model_name, svt.name AS veh_type_name,svrs.first_reg_time as firstTimeOnLine,
        (select max(vds.last_end_mileage) from veh_dayreport_summary vds where vds.vin = sv.vin group by vds.vin) as lastEndMileage
        ,svm.efficiency_json as efficiencyJson,sv.id as vehicleId
        from sys_vehicle sv
        LEFT JOIN sys_veh_model svm ON svm.id = sv.veh_model_id
        LEFT JOIN sys_veh_notice svn ON svn.id = svm.notice_id
        LEFT JOIN sys_veh_type svt ON svt.id = svn.veh_type_id
        LEFT JOIN sys_vehicle_real_status svrs ON svrs.vehicle_id = sv.id
        LEFT JOIN sys_area sa on sa.id = sv.oper_license_city_id
        <where>
            sv.is_delete = 0
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="importSearchValues != null and importSearchValues.size()>0">
                and sv.vin in
                <foreach collection="importSearchValues" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="id != null">
                and sv.id = #{id}
            </if>
            <if test="vin != null">
                and sv.vin like CONCAT('%',#{vin},'%')
            </if>
            <if test="licensePlate != null">
                and sv.license_plate LIKE CONCAT('%',#{licensePlate},'%')
            </if>
            <if test="operUseFor != null">
                and sv.oper_use_for = #{operUseFor}
            </if>
            <if test="vehModelId != null">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="startDate != null">
                and sv.sell_license_reg_date <![CDATA[ >= ]]> #{startDate}
            </if>
            <if test="endDate != null">
                and sv.sell_license_reg_date <![CDATA[ <= ]]> #{endDate}
            </if>
            <if test="manuUnitId != null">
                and sv.manu_unit_id = #{manuUnitId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and sa.path LIKE CONCAT('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="subsidyApplyStatus != null">
                and sv.subsidy_apply_status = #{subsidyApplyStatus}
            </if>
        </where>
        order by sv.create_time desc
    </select>

</mapper>
