<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.VehicleStageLogMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.VehicleStageLog" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    vstage.id  ,vstage.vehicle_id ,vstage.stage_name ,vstage.create_time ,vstage.create_by ,vstage.update_time ,vstage.update_by
    </sql>
    <sql id="moreColumns">
    vstage.id  ,vstage.vehicle_id ,vstage.stage_name ,vstage.create_time ,vstage.create_by ,vstage.update_time ,vstage.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.VehicleStageLog"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_vehicle_stage_log vstage
        where vstage.id=#{id}
    </select>

    <!-- 根据车辆id、阶段名称查询 -->
    <select id="findByVehIdAndStage" resultType="com.bitnei.cloud.sys.domain.VehicleStageLog"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_vehicle_stage_log vstage
        where vstage.vehicle_id=#{vehicleId}
        and vstage.stage_name = #{stageName}
    </select>

    <!-- 获取最新一条 -->
    <select id="getNewst" resultType="com.bitnei.cloud.sys.domain.VehicleStageLog"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_vehicle_stage_log vstage
        where vstage.vehicle_id=#{vehicleId}
        order by vstage.stage_name desc
        LIMIT  1
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_vehicle_stage_log (id,vehicle_id,stage_name,create_time,create_by,update_time,update_by)
        values
        (#{id},#{vehicleId},#{stageName},#{createTime},#{createBy},#{updateTime},#{updateBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_vehicle_stage_log set
        id=id,vehicle_id=#{vehicleId},stage_name=#{stageName},create_time=#{createTime},create_by=#{createBy},update_time=#{updateTime},update_by=#{updateBy}
        where id = #{id}

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_vehicle_stage_log
        where id = #{id}
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_vehicle_stage_log vstage
        where vstage.vehicle_id = #{vehicleId}
        order by vstage.update_time desc
    </select>
</mapper>
