<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.VehNotPositionMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.VehNotPosition" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
            <result property="licensePlate" column="license_plate" />
            <result property="vin" column="vin" />
            <result property="interNo" column="inter_no" />
            <result property="vehModelId" column="veh_model_id" />
            <result property="operLicenseCityId" column="oper_license_city_id" />
            <result property="operUnitId" column="oper_unit_id" />
            <result property="operAreaId" column="oper_area_id" />
            <result property="serialNumber" column="serial_number" />
            <result property="iccid" column="iccid" />
            <result property="isDelete" column="is_delete" />
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    vnp.id  ,vnp.veh_id ,vnp.veh_uuid ,vnp.last_upload_time ,vnp.regain_upload_time ,vnp.update_time ,vnp.create_time ,vnp.state ,vnp.remark
    </sql>
    <sql id="moreColumns">
    vnp.id  ,vnp.veh_id ,vnp.veh_uuid ,vnp.last_upload_time ,vnp.regain_upload_time ,vnp.update_time ,vnp.create_time ,vnp.state ,vnp.remark
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.VehNotPosition"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_not_position vnp
        <where>
            vnp.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据vid查询 -->
    <select id="getByVid" resultType="com.bitnei.cloud.sys.domain.VehNotPosition"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_not_position vnp
        <where>
            vnp.state = 1
            and vnp.veh_uuid=#{uuid}
            and vnp.last_upload_time = #{beginTime}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert1" parameterType="java.util.HashMap">
        insert into
        sys_veh_not_position (id,veh_id,veh_uuid,last_upload_time,regain_upload_time,create_time,state,remark)
        values
        (#{id},#{vehId},#{vehUuid},#{lastUploadTime},#{regainUploadTime},#{createTime},#{state},#{remark})
    </insert>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_veh_not_position (id,veh_id,veh_uuid,last_upload_time,create_time,update_time,state)
        values
        (#{id},#{vehId},#{vehUuid},#{lastUploadTime},#{createTime},#{updateTime},#{state})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_veh_not_position set
        id=id,veh_id=#{vehId},veh_uuid=#{vehUuid},last_upload_time=#{lastUploadTime},regain_upload_time=#{regainUploadTime},update_time=#{updateTime},state=#{state},remark=#{remark}
        <where>
            id = #{id}
            and last_upload_time = #{lastUploadTime}
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        sys_veh_not_position
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 实时分页查询 -->
    <select id="findByRealTime" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        (timestampdiff(second,vnp.last_upload_time,if(vnp.regain_upload_time is null, now(),vnp. regain_upload_time))) as seconds,
        vnp.id  ,vnp.veh_id ,vnp.veh_uuid ,vnp.last_upload_time ,vnp.regain_upload_time ,vnp.update_time ,vnp.create_time ,vnp.state ,vnp.remark,
        sv.is_delete*1 as is_delete,sv.oper_area_id,sv.oper_unit_id,sv.oper_support_owner_id,
        sv.license_plate,sv.vin,sv.inter_no,sv.veh_model_id,sv.oper_license_city_id,
        tmu.serial_number,tmu.iccid
        from
        sys_veh_not_position vnp
        inner join sys_vehicle sv on sv.uuid = vnp.veh_uuid and sv.is_delete = 0
        left join sys_term_model_unit tmu on tmu.id = sv.term_id
        <if test="operLicenseCityId != null and operLicenseCityId != ''">
            left join sys_area area on area.id = sv.oper_license_city_id
        </if>
        <where>
            vnp.state = 1
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <if test="interNo != null and interNo != ''">
                and sv.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[vnp.last_upload_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[vnp.last_upload_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="operAreaId != null and operAreaId != ''">
                and sv.oper_area_id = #{operAreaId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="days != null and days != ''">
                and cast((timestampdiff(second,vnp.last_upload_time,if(vnp.regain_upload_time is null, now(),vnp. regain_upload_time))) as decimal(11,1)) > #{days}
            </if>
            <if test="iccid != null and iccid != ''">
                and tmu.iccid like concat('%',#{iccid},'%')
            </if>
        </where>
        order by vnp.last_upload_time desc
    </select>

    <!-- 历史分页查询 -->
    <select id="pagerModel" resultMap="tailResults" resultOrdered="true" parameterType="java.util.HashMap">
        select
        (timestampdiff(second,vnp.last_upload_time,if(vnp.regain_upload_time is null, now(),vnp. regain_upload_time))) as seconds,
        vnp.id  ,vnp.veh_id ,vnp.veh_uuid ,vnp.last_upload_time ,vnp.regain_upload_time ,vnp.update_time ,vnp.create_time ,vnp.state ,vnp.remark,
        sv.is_delete*1 as is_delete,sv.oper_area_id,sv.oper_unit_id,sv.oper_support_owner_id,
        sv.license_plate,sv.vin,sv.inter_no,sv.veh_model_id,sv.oper_license_city_id,
        tmu.serial_number,tmu.iccid
        from
        sys_veh_not_position vnp
        inner join sys_vehicle sv on sv.uuid = vnp.veh_uuid
        left join sys_term_model_unit tmu on tmu.id = sv.term_id
        <if test="operLicenseCityId != null and operLicenseCityId != ''">
            left join sys_area area on area.id = sv.oper_license_city_id
        </if>
        <where>
            (vnp.state = 0 or sv.is_delete = 1)
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <if test="interNo != null and interNo != ''">
                and sv.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[vnp.last_upload_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[vnp.last_upload_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="operAreaId != null and operAreaId != ''">
                and sv.oper_area_id = #{operAreaId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="days != null and days != ''">
                and cast((timestampdiff(second,vnp.last_upload_time,if(vnp.regain_upload_time is null, now(),vnp. regain_upload_time))) as decimal(11,1)) > #{days}
            </if>
            <if test="iccid != null and iccid != ''">
                and tmu.iccid like concat('%',#{iccid},'%')
            </if>
        </where>
        order by vnp.regain_upload_time desc
    </select>

    <!-- 分页计数 -->
    <select id="pagerModel_COUNT" resultType="long">
        select count(vnp.id) from
        sys_veh_not_position vnp
        inner join sys_vehicle sv on sv.uuid = vnp.veh_uuid
        <if test="iccid != null and iccid != ''">
            left join sys_term_model_unit tmu on tmu.id = sv.term_id
        </if>
        <if test="operLicenseCityId != null and operLicenseCityId != ''">
            left join sys_area area on area.id = sv.oper_license_city_id
        </if>
        <where>
            (vnp.state = 0 or sv.is_delete = 1)
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="licensePlate != null and licensePlate != ''">
                and sv.license_plate like concat('%',#{licensePlate},'%')
            </if>
            <if test="vin != null and vin != ''">
                and sv.vin like concat('%',#{vin},'%')
            </if>
            <if test="interNo != null and interNo != ''">
                and sv.inter_no like concat('%',#{interNo},'%')
            </if>
            <if test="beginTime != null and beginTime != ''">
                and <![CDATA[vnp.last_upload_time >= #{beginTime,jdbcType=DATE} ]]>
            </if>
            <if test="endTime != null and endTime != ''">
                and <![CDATA[vnp.last_upload_time <= #{endTime,jdbcType=DATE} ]]>
            </if>
            <if test="vehModelId != null and vehModelId != ''">
                and sv.veh_model_id = #{vehModelId}
            </if>
            <if test="operAreaId != null and operAreaId != ''">
                and sv.oper_area_id = #{operAreaId}
            </if>
            <if test="operLicenseCityId != null and operLicenseCityId != ''">
                and area.path like concat('%/',#{operLicenseCityId},'/%')
            </if>
            <if test="operUnitId != null and operUnitId != ''">
                and sv.oper_unit_id = #{operUnitId}
            </if>
            <if test="days != null and days != ''">
                and cast((timestampdiff(second,vnp.last_upload_time,if(vnp.regain_upload_time is null, now(),vnp. regain_upload_time))) as decimal(11,1)) > #{days}
            </if>
            <if test="iccid != null and iccid != ''">
                and tmu.iccid like concat('%',#{iccid},'%')
            </if>
        </where>
    </select>
</mapper>
