<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.sys.dao.VehTypeMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.sys.domain.VehType" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
         vt.*
    </sql>
    <sql id="moreColumns">
         vt.*
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.sys.domain.VehType" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_type vt
        <where>
            vt.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 根据名称查询 -->
    <select id="findByName" resultType="com.bitnei.cloud.sys.domain.VehType" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_type vt
        <where>
            vt.name=#{name}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
    <!-- 根据编码查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.sys.domain.VehType" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_type vt
        <where>
            vt.code=#{code}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        sys_veh_type (id,parent_id,name,attr_cls,code,order_num,note,path,create_time,create_by)
        values
        (#{id},#{parentId},#{name},#{attrCls},#{code},#{orderNum},#{note},#{path},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update sys_veh_type set
        id=id,parent_id=#{parentId},name=#{name},attr_cls=#{attrCls},code=#{code},order_num=#{orderNum},note=#{note},path=#{path},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete" parameterType="java.util.HashMap">
        delete from
        sys_veh_type
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        sys_veh_type vt
        <where>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
            <if test="name !=null and name!='' ">
                AND vt.name LIKE concat('%',#{name},'%')
            </if>
            <if test="parentId !=null and parentId!='' ">
                AND vt.path LIKE CONCAT('%/',#{parentId},'/%') AND vt.id != #{parentId}
            </if>
        </where>
        order by  vt.create_time desc
    </select>
</mapper>
