<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.api.dao.ApplicationMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.api.domain.Application" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    app.id  ,app.name ,app.code ,app.version ,app.note ,app.heart_time ,app.create_time ,app.create_by ,app.update_time ,app.update_by
    </sql>
    <sql id="moreColumns">
    app.id  ,app.name ,app.code ,app.version ,app.note ,app.heart_time ,app.create_time ,app.create_by ,app.update_time ,app.update_by
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.api.domain.Application"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        api_application app
        <where>
            app.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

     <!-- 根据应用唯一编码查询 -->
    <select id="findByCode" resultType="com.bitnei.cloud.api.domain.Application"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        api_application app
        <where>
            app.code=#{code}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>    

    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        api_application (id,name,code,version,note,heart_time,create_time,create_by)
        values
        (#{id},#{name},#{code},#{version},#{note},#{heartTime},#{createTime},#{createBy})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update api_application set
        id=id,name=#{name},code=#{code},version=#{version},note=#{note},heart_time=#{heartTime},update_time=#{updateTime},update_by=#{updateBy}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        api_application
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        api_application app
        <where>
            1=1
            <if test="name != null and name!= ''">
                and app.name = #{name}
            </if>
            <if test="code != null and code!= ''">
                and app.code = #{code}
            </if>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>
        order by create_time desc

    </select>

    <select id="getApiAccountIdsByAppCode" resultType="java.util.List"  parameterType="java.util.HashMap">
        select auth.account_id as accountId
        from api_application app left join api_api_detail det on app.code = det.application_code
        left join api_authority auth on det.id = auth.api_detail_id
        <where>
            1=1
            <if test="applicationCode != null">
                app.applicationCode=#{applicationCode}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>

    <select id="getPushAccountIdsByAppCode" resultType="java.util.List"  parameterType="java.util.HashMap">
        select ap.account_id as accountId
        from api_application app left join api_push_detail push on app.code = push.application_code
        left join api_account_push_lk ap on det.id = ap.push_id
        <where>
            1=1
            <if test="applicationCode != null">
                app.applicationCode=#{applicationCode}
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>
</mapper>
