<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitnei.cloud.api.dao.PushLogMapper">
    <resultMap id="tailResults" type="com.bitnei.cloud.api.domain.PushLog" autoMapping="true">
        <association property="tails" javaType="java.util.HashMap">
        </association>
    </resultMap>

    <!-- 权限sql -->
    <sql id="authSQL">
        and ${authSQL}
    </sql>

    <!-- 通用查询结果列 -->
    <sql id="baseColumns">
    pl.id  ,pl.push_id ,pl.account_id ,pl.push_time ,pl.is_success ,pl.push_success_time ,pl.error_msg ,pl.push_body_content ,pl.rsp_body_content ,pl.re_push_flag
    </sql>
    <sql id="moreColumns">
    pl.id  ,pl.push_id ,pl.account_id ,pl.push_time ,pl.is_success ,pl.push_success_time ,pl.error_msg ,pl.push_body_content ,pl.rsp_body_content ,pl.re_push_flag
    </sql>

    <!-- 根据id查询 -->
    <select id="findById" resultType="com.bitnei.cloud.api.domain.PushLog"  parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/>
        from
        api_push_log pl
        <where>
            pl.id=#{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </select>


    <!-- 增加 -->
    <insert id="insert" parameterType="java.util.HashMap">
        insert into
        api_push_log (id,push_id,account_id,push_time,is_success,push_success_time,error_msg,push_body_content,rsp_body_content,re_push_flag)
        values
        (#{id},#{pushId},#{accountId},#{pushTime},#{isSuccess},#{pushSuccessTime},#{errorMsg},#{pushBodyContent},#{rspBodyContent},#{rePushFlag})
    </insert>

    <!-- 更新 -->
    <update id="update" parameterType="java.util.HashMap">
        update api_push_log set
        id=id,push_id=#{pushId},account_id=#{accountId},push_time=#{pushTime},is_success=#{isSuccess},push_success_time=#{pushSuccessTime},error_msg=#{errorMsg},push_body_content=#{pushBodyContent},rsp_body_content=#{rspBodyContent},re_push_flag=#{rePushFlag}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>

    </update>

    <update id="updateRePushFlag" parameterType="java.util.HashMap">
        update api_push_log set re_push_flag=#{re_push_flag}
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </update>

    <!-- 删除 -->
    <delete id="delete"  parameterType="java.util.HashMap">
        delete from
        api_push_log
        <where>
            id = #{id}
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
    </delete>

    <!-- 分页查询 -->
    <select id="pagerModel" resultMap="tailResults" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> , acc.encrypt_type, acc.app_key, acc.rsa_pub_key, acc.rsa_pri_key
        from
        api_push_log pl
        left join api_account acc on pl.account_id = acc.id
        left join api_push_detail push on pl.push_id = push.id
        <where>
            1=1
            <if test="isSuccess != null">
                and pl.is_success = #{isSuccess}
            </if>
            <if test="beginTime != null">
                and pl.push_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and pl.push_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="accountName != null and accountName!= ''">
                and acc.name = #{accountName}
            </if>
            <if test="token != null and token!= ''">
                and acc.token = #{token}
            </if>
            <if test="pushName != null and pushName!= ''">
                and push.name = #{pushName}
            </if>
            <if test="pushId != null and pushId != ''">
                and push.id = #{pushId}
            </if>
        <if test="authSQL != null">
        <include refid="authSQL"/>
        </if>
        </where>
        order by push_time desc

    </select>

    <!-- 分页查询 -->
    <select id="pagerPushLogModel" resultType="com.bitnei.cloud.api.model.PushLogModel" parameterType="java.util.HashMap">
        select
        <include refid="moreColumns"/> , acc.encrypt_type, acc.app_key, acc.rsa_pub_key, acc.rsa_pri_key
        from
        api_push_log pl
        left join api_account acc on pl.account_id = acc.id
        left join api_push_detail push on pl.push_id = push.id
        <where>
            1=1
            <if test="isSuccess != null">
                and pl.is_success = #{isSuccess}
            </if>
            <if test="beginTime != null">
                and pl.push_time <![CDATA[ >= ]]> #{beginTime}
            </if>
            <if test="endTime != null">
                and pl.push_time <![CDATA[ <= ]]> #{endTime}
            </if>
            <if test="accountName != null and accountName!= ''">
                and acc.name like concat('%',#{accountName},'%')
            </if>
            <if test="tokenName != null and tokenName!= ''">
                and acc.token like concat('%',#{tokenName},'%')
            </if>
            <if test="pushName != null and pushName!= ''">
                and push.name like concat('%',#{pushName},'%')
            </if>
            <if test="pushId != null and pushId != ''">
                and push.id like concat('%',#{pushId},'%')
            </if>
            <if test="authSQL != null">
                <include refid="authSQL"/>
            </if>
        </where>
        order by push_time desc

    </select>
</mapper>
